---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Evaluative Research", "Notation Systems")}
  metaDescription="Discussion of the potential for evaluative research to help assess the strengths and weaknesses of various alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Evaluative Research on Alternative Music Notations
          </h1>
        </header>

        <div class="entry-content">
          <p>
            The existence of so many different alternative music notation
            systems raises the question of evaluative research that would help
            to clarify which systems are most promising for improving upon
            traditional music notation. The <a href="/mnma/research-project/"
              >MNMA&#8217;s Research Project</a
            > was a first step in that direction, but more substantial and extensive
            research would be needed to reach anything like significant, definitive
            results.
          </p>
          <p>
            Fortunately, the advances in <a href="/software/"
              >software for alternative music notations</a
            > now make it much more feasible to conduct more substantial and extensive
            evaluations of a wide range of notation systems. We would like to see
            such research take place, given enough interest to successfully carry
            it out. If you would be interested in developing, assisting, or participating
            in such research, please <a
              href="/home/about-faq-contact-info/#contact">contact us</a
            >.
          </p>
          <p>
            There may be other parties that are better equipped to conduct this
            kind of evaluative research. For example, <a
              href="http://www.uni-graz.at/richard.parncutt/"
              target="_blank">Richard Parncutt</a
            > is a professor of systematic musicology at the University of Graz in
            Austria, a former <a href="/mnma/">MNMA</a> member, and an alternative
            music notation designer. He teaches and researches in musicology and
            the psychology of music, and has proposed the following research project
            titled &#8220;Psychological Testing of Alternative Music Notations.&#8221;
            It is one of several potential projects for graduate students to undertake
            as part of the <a
              href="http://www.uni-graz.at/richard.parncutt/fk0_home.html"
              target="_blank">Research Colloquium in Systematic Musicology</a
            >.
          </p>
          <p>
            <em
              >The following text has been excerpted from Richard
              Parncutt&#8217;s <a
                href="http://www.uni-graz.at/~parncutt/fk5_projekte.html#Psychological_testing_of_alternative"
                target="_blank">list of potential research projects</a
              >.</em
            >
          </p>
          <div class="indented-content">
            <h3>Psychological Testing of Alternative Music Notations</h3>
            <p>
              Conventional music notation, in which the tones of a diatonic
              scale correspond to the lines and spaces of a musical staff, may
              not be ideally suited for music in which every pitch in the
              chromatic scale occurs regularly, i.e. for the Western music of
              the past few centuries. The main problems are that conventional
              notation represents 12 pitches per octave by means of 7 vertical
              positions plus sharps and flats, and that it represents the same
              pitch class quite differently in different octave registers.
            </p>
            <p>
              In response to these problems, countless alternative notations
              have been developed and proposed in recent centuries. Read (1987)
              wrote a book about them, and the Music Notation Modernization
              Association attempted to evaluate many of them systematically. One
              reason why none of these alternative notations has caught on is
              presumably that it takes a lot of time and effort to learn a new
              notation system. Not only professional musicians, but also
              musicologists (including music psychologists and music theorists)
              invest enormous amounts of time learning to read conventional
              music notation. Understandably, they don&#8217;t want to have to
              start again from scratch. So they tend to avoid the problem of
              conventional notation&#8217;s shortcomings and the evaluation of
              alternatives by regarding the problem either as irrelevant
              (&#8220;conventional notation obviously cannot be improved&#8221;)
              or impossible to solve (&#8220;it is clearly impossible to decide
              among the many possible alternatives&#8221;).
            </p>
            <p>
              But perhaps the real reason is that it is not worth learning an
              alternative notation unless a very large library of musical scores
              in that notation exists, so that one can always find the score of
              a specific piece. Whatever the reason, the problem has achieved a
              kind of taboo status. Experience with other academic taboos (think
              for example of the role of sexuality in music analysis) suggests
              that this taboo will one day be broken.
            </p>
            <p>
              In recent years, the question of alternative notations has again
              become interesting &#8211; for a quite different reason. Modern
              computing technology makes it possible to automatically transcribe
              printed music in conventional western notation into other systems.
              This means that it is finally worth investing the time and effort
              into learning an alternative system.
            </p>
            <p>
              In Parncutt (1999)<a id="ftnref1" href="#ftn1">[1]</a>, I
              presented an experiment to compare different alternative music
              notations. The experiment has never actually been done. The idea
              is to break conventional music notation down into separate
              components and test each of these components by comparision to
              other possibilities. I now have access to a tailor-made computer
              program based on Finale that converts Finale data files into
              alternative notations. In collaboration with the author of the
              program, this could be used both to prepare the experimental
              stimuli and, independently of the empirical project, to transcribe
              music into alternative notations.
            </p>
          </div>
          <div class="footnotes divider-section">
            <a id="ftn1" href="#quote">[1]</a> Parncutt, R. (1999 b). Systematic
            evaluation of the psychological effectiveness of non-conventional notations
            and keyboard tablatures. In Zannos, I. (Ed.), <em
              >Music and signs</em
            > (pp. 146-174). Bratislava, Slovakia: ASCO Art &amp; Science.
          </div>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
