---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("Introducing: The Music Notation Project", "Blog")}
  metaDescription="A blog post introducing the Music Notation Project as a new successor to the Music Notation Modernization Association."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"></span>
        <span class="nav-next"
          ><a
            href="/blog/2008/02/new-forum-tutorials-and-website-search/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">Introducing... The Music Notation Project</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-01-17T20:33:00+00:00"
              >January 17, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            We are pleased to announce the beginning of a new era in the life of
            our association. The <a href="/mnma/"
              >Music Notation Modernization Association (MNMA)</a
            > was officially disbanded in 2007 by its founder and president Tom Reed,
            and has now been succeeded by a new project under new leadership.<span
              id="more-23"></span>
          </p>
          <p>
            <span style="font-weight: bold;"
              >The Music Notation Project<br />
            </span><a href="/">https://musicnotation.org</a>
          </p>
          <p>
            (Edit: was originally http://musicnotationproject.org until August
            2008)
          </p>
          <p>
            <span style="font-style: italic;">Mission Statement:</span> To raise
            awareness of the disadvantages of traditional music notation, to explore
            alternative music notation systems, and to provide resources for the
            wider consideration and use of these alternatives.
          </p>
          <p>
            There are several reasons for this new development. In the last few
            years our forms of communication and membership have changed, there
            has been a transition in our leadership, and our goals have evolved
            and expanded.
          </p>
          <p>
            We welcome your continued engagement, participation, and support as
            the Music Notation Project carries on the work begun by the MNMA!
          </p>
          <p>
            <span style="font-size: 78%;"
              >(Feel free to <a href="/home/about-faq-contact-info/#contact"
                >contact us</a
              > with any questions.)</span
            >
          </p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          1 thought on &ldquo;<span
            >Introducing&#8230; The Music Notation Project</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-2">
            <article id="comment-2" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo avatar-default"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">evangelysta</span> on <a
                    href="/blog/2008/01/introducing-the-music-notation-project/#comment-2"
                    ><time datetime="2008-01-20T07:46:00+00:00"
                      >January 20, 2008 at 7:46 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>Great new site! Easy to read and follow.</p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
