---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle(
    "Minimal 6-6 Notation System by Paul Morris",
    "Wiki"
  )}
  metaDescription="A wiki page about Minimal 6-6 Notation System by Paul Morris."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Minimal 6-6 Notation System by Paul Morris
          </h1>
        </header>

        <div class="entry-content">
          <p>
            The images below show a C major scale and a chromatic scale for each
            version.
          </p>

          <h2>Colored Notes Version</h2>

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/c-major-scale-minimal-6-6-notation-colored-notes.png"
            alt=""
            width="680"
            height="130"
            class="alignnone size-full wp-image-3918"
          />

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/chromatic-scale-minimal-6-6-notation-colored-notes.png"
            alt=""
            width="619"
            height="125"
            class="alignnone size-full wp-image-3917"
          />
          <ul>
            <li>
              See more comprehensive illustrations here:
              <a
                href="/wp-content/uploads/2015/08/min66-demo-colored-notes.pdf"
                target="_blank"
                rel="noopener">Demo File, Colored Notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-minimal-6-6-colored-notes.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, colored notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-min66-colored-notes.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, colored notes (PDF)</a
              >
            </li>
            <li>
              There is a
              <a
                href="https://gitlab.com/paulmorris/minimal-6-6-music-notation-system/-/blob/main/colored-notes-version/minimal-6-6-colored-notes.ly"
                target="_blank"
                rel="noopener">LilyPond include file</a
              >
              for creating sheet music with LilyPond.
            </li>
            <li>
              <strong
                >There is a
                <a
                  href="https://musescore.org/en/project/color-notes-6-6-pitch-pattern"
                  rel="noopener"
                  target="_blank">MuseScore Plugin</a
                >
                for the colored notes version.</strong
              >
            </li>
          </ul>

          <h2>Rectangle Shape Notes Version</h2>

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/c-major-scale-minimal-6-6-notation-shape-notes-rectangles.png"
            alt=""
            width="598"
            height="104"
            class="alignnone size-full wp-image-3990"
          />

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/chromatic-scale-minimal-6-6-notation-shape-notes-rectangles.png"
            alt=""
            width="583"
            height="103"
            class="alignnone size-full wp-image-3989"
          />
          <ul>
            <li>
              See more comprehensive illustrations here:
              <a
                href="/wp-content/uploads/2015/08/min66-demo-shape-notes-rectangles.pdf"
                target="_blank"
                rel="noopener">Demo File, Rectangle Shape Notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-minimal-6-6-rectangle-shape-notes.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, rectangle shape notes
                (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-min66-shape-notes-rectangles.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, rectangle shape notes (PDF)</a
              >
            </li>
            <li>
              There is a
              <a
                href="https://gitlab.com/paulmorris/minimal-6-6-music-notation-system/-/blob/main/rectangle-shape-note-version/minimal-6-6-rectangle-shape-notes.ly"
                target="_blank"
                rel="noopener">LilyPond include file</a
              >
              for creating sheet music with LilyPond.
            </li>
          </ul>

          <h2>Flipped Notes Version</h2>

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/c-major-scale-minimal-6-6-notation-flipped-notes.png"
            alt=""
            width="666"
            height="105"
            class="alignnone size-full wp-image-4021"
          />

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/chromatic-scale-minimal-6-6-notation-flipped-notes.png"
            alt=""
            width="611"
            height="107"
            class="alignnone size-full wp-image-4020"
          />
          <ul>
            <li>
              See more comprehensive illustrations here:
              <a
                href="/wp-content/uploads/2015/08/min66-demo-flipped-notes.pdf"
                target="_blank"
                rel="noopener">Demo File, Flipped Notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-minimal-6-6-flipped-notes.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, flipped notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-minimal-6-6-flipped-notes.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, flipped notes (PDF)</a
              >
            </li>
            <li>
              There is a
              <a
                href="https://gitlab.com/paulmorris/minimal-6-6-music-notation-system/-/blob/main/flipped-notes-version/minimal-6-6-flipped-notes.ly"
                target="_blank"
                rel="noopener">LilyPond include file</a
              >
              for creating sheet music with LilyPond.
            </li>
          </ul>

          <h2>Dotted Notes Version</h2>

          <img
            loading="lazy"
            class="alignnone size-full wp-image-2250"
            src="/wp-content/uploads/2015/08/c-major-scale-minimal-6-6-notation-dotted-notes.png"
            alt="min66-c-major-scale-quarter-notes"
            width="669"
            height="121"
          />

          <img
            loading="lazy"
            class="alignnone size-full wp-image-2251"
            src="/wp-content/uploads/2015/08/chromatic-scale-minimal-6-6-notation-dotted-notes.png"
            alt="min66-chromatic-scale"
            width="611"
            height="123"
          />
          <ul>
            <li>
              See more comprehensive illustrations here:
              <a
                href="/wp-content/uploads/2015/08/min66-demo.pdf"
                target="_blank"
                rel="noopener">Demo File, Dotted Notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-minimal-6-6-dotted-notes.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, dotted notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-min66.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, dotted notes (PDF)</a
              >
            </li>
            <li>
              There is a
              <a
                href="https://gitlab.com/paulmorris/minimal-6-6-music-notation-system/-/blob/main/dotted-notes-version/minimal-6-6-dotted-notes.ly"
                target="_blank"
                rel="noopener">LilyPond include file</a
              >
              for creating sheet music with LilyPond.
            </li>
          </ul>

          <h2>Diamond Shape Notes Version</h2>

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/c-major-scale-minimal-6-6-notation-shape-notes-diamonds.png"
            alt=""
            width="666"
            height="104"
            class="alignnone size-full wp-image-4027"
          />

          <img
            loading="lazy"
            src="/wp-content/uploads/2015/08/chromatic-scale-minimal-6-6-notation-shape-notes-diamonds.png"
            alt=""
            width="610"
            height="106"
            class="alignnone size-full wp-image-4026"
          />
          <ul>
            <li>
              See more comprehensive illustrations here:
              <a
                href="/wp-content/uploads/2015/08/min66-demo-shape-notes-diamonds.pdf"
                target="_blank"
                rel="noopener">Demo File, Diamond Shape Notes (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-minimal-6-6-diamond-shape-notes.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, diamond shape notes
                (PDF)</a
              >
            </li>
            <li>
              Example sheet music:
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-min66-diamond-shape-notes.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, diamond shape notes (PDF)</a
              >
            </li>
            <li>
              There is a
              <a
                href="https://gitlab.com/paulmorris/minimal-6-6-music-notation-system/-/blob/main/diamond-shape-note-version/minimal-6-6-diamond-shape-notes.ly"
                target="_blank"
                rel="noopener">LilyPond include file</a
              >
              for creating sheet music with LilyPond.
            </li>
          </ul>

          <h3>Compare With Traditional Sheet Music</h3>

          <ul>
            <li>
              <a
                href="/wp-content/uploads/2015/08/wtk1-prelude1-let.pdf"
                target="_blank"
                rel="noopener"
                >Das Wohltemperierte Clavier I, Prelude 1, in Traditional
                Notation (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2015/08/maple-leaf-rag-traditional-notation-let.pdf"
                target="_blank"
                rel="noopener">Maple Leaf Rag, in Traditional Notation (PDF)</a
              >
            </li>
          </ul>

          <h3>What? Why? and for Whom?</h3>

          <p>
            This system provides the advantages of having a visible 6-6 pitch
            pattern while only diverging from traditional notation in minimal
            ways that are additive and do not disrupt the semantics of the
            traditional system. It is a "minimally radical" 6-6 music notation
            system designed for those who are averse to adopting an alternative
            notation system or who do not like the chromatic staff approach.
          </p>

          <h3>6-6 Pitch Pattern</h3>

          <p>
            As shown above, there are several versions of this notation system
            that each represent the
            <a
              href="/tutorials/6-6-and-7-5-pitch-patterns/"
              target="_blank"
              rel="noopener">6-6 pitch pattern</a
            >
            (i.e. the two whole-tone scales) by using two different kinds of note
            heads.
          </p>

          <ul>
            <li>
              <strong>Colored Notes Version</strong> - uses colored note heads (e.g.
              turquoise and purple)
            </li>
            <li>
              <strong>Rectangle Shape Notes Version</strong> - uses oval and rectangle
              note head shapes
            </li>
            <li>
              <strong>Flipped Notes Version</strong> - uses oval note heads in two
              different orientations
            </li>
            <li>
              <strong>Dotted Notes Version</strong> - uses oval note heads that either
              have a dot in their center or do not
            </li>
            <li>
              <strong>Diamond Shape Notes Version</strong> - uses oval and diamond
              note head shapes
            </li>
          </ul>

          <p>
            Because this minimal 6-6 system simply adds a visible 6-6 pattern to
            the traditional system, the traditional semantics are not altered or
            disrupted.  If you can read this system you can read traditional
            notation and vice-versa, so it is easy to switch between this system
            and the traditional one, or use them both interchangeably. While the
            6-6 pattern is especially relevant for musicians playing an
            <a href="/wiki/instruments/isomorphic-instruments/"
              >isomorphic instrument</a
            >
            (like a
            <a href="/wiki/instruments/janko-keyboard/">janko keyboard</a>) or a
            <a href="/wiki/instruments/6-6-colored-traditional-7-5-keyboard/"
              >6-6 Colored Traditional (7-5) Keyboard</a
            >, it also offers benefits to all musicians regardless of what
            instrument they play. (As with the "6-6" pattern, a "4-4-4"
            tri-chromatic pattern could also be implemented with three note head
            colors or shapes, etc.)
          </p>

          <h3>Intervals</h3>

          <p>
            Even with the traditional diatonic staff (as opposed to a chromatic
            staff) having note heads that reflect the 6-6 pitch pattern makes it
            much easier to identify intervals quickly and fully.  It makes it
            possible to see the difference between major and minor seconds,
            major and minor thirds, major and minor chords – differences which
            are not visible in traditional notation. In short the 6-6 pitch
            pattern makes visible the basic interval patterns that make up
            scales, chords, melodies, etc. See the demo PDF files linked above
            for illustrations of intervals.  Notice how, assuming there are no
            accidental signs (only a key signature)... Minor 2nds will always be
            two different kinds of note heads.  Major 2nds will always be the
            same kind of note head.  Minor 3rds will always be two different
            kinds of note heads.  Major 3rds will always be the same kind of
            note head, etc.
          </p>

          <h3>Key Signatures</h3>

          <p>
            Once musicians gain some familiarity with the 6-6 pattern it will
            also help them learn to play in different keys / key signatures.  If
            a note is sharp or flat because of the key signature it will have a
            different appearance than if it were a natural note – a direct
            visual reminder to play it as a sharp or flat.  One simply needs to
            remember whether the key signature contains sharps or flats. (The
            same "visible reminder" effect will also occur for notes altered by
            accidental signs.) Additionally, the intervals between a given note
            and the surrounding notes also indicate whether to play it sharp or
            flat (especially when there are no accidental notes / accidental
            signs involved).  Basically, because the intervals between notes are
            easy to see, making it possible to "<a
              href="/tutorials/reading-playing-music-intervals/"
              >read by intervals</a
            >", this will help prevent “forgot the key signature” mistakes.
          </p>

          <h3>Clefs</h3>

          <p>
            The 6-6 note head pattern makes it easier to read music in different
            clefs since the same note in different octaves and in different
            clefs would always have the same kind of note head. However, the
            difficulty of reading in multiple clefs in traditional notation
            could be addressed in one of several other ways, in keeping with the
            "minimal" approach.  The goal would be to make orientation in
            different clefs easier without breaking with the traditional
            five-line pattern for each clef.  (This aspect is optional and
            experimental.  One possibility is to use it as a temporary
            educational aid for teaching different clefs to beginners.) One
            possibility is to make the bottom line of the treble clef (E) and
            the top line of the bass clef (A) dotted or dashed.  That way the
            four remaining solid lines represent the same notes in both treble
            and bass clef (G, B, D, F). A second possibility is that the staff
            line representing a given note (i.e. G, B, D, or F) could be a
            dotted or dashed line in both bass and treble clefs.  This could be
            extended to other clefs as well – the Alto clef has G and F lines,
            and the Tenor clef has an F line.  So a dotted F line would appear
            in all four of these clefs. A third possibility for piano music is
            to simply write the music in the left hand staff in a
            <a
              href="https://en.wikipedia.org/wiki/Clef#Octave_clefs"
              target="_blank"
              rel="noopener">transposed treble clef</a
            >
            – transposed down so that there are two ledger lines between the left
            and right hand staves instead of one.
          </p>

          <h3>Meta Data</h3>

          <p>
            This system was introduced in August of 2015 by Paul Morris
            (although he still prefers
            <a href="http://clairnote.org/" target="_blank" rel="noopener"
              >Clairnote</a
            >).  See also
            <a href="http://nydana.se/" target="_blank" rel="noopener"
              >Classic Nydana</a
            > a somewhat similar system that also has a diatonic staff and a 6-6
            note head pattern. In March of 2023 Morris added the files and images
            for the colored notes version, rectangle shape note version, flipped
            note version, and diamond shape not version, including the links to the
            LilyPond files for each version and the MuseScore plugin for the colored
            notes version. Originally this page only had images and files for the
            dotted notes version.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
