---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "7-5 Line Pattern, 3, 5, or 6 Lines per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: 7-5 Line Pattern, 3, 5, or 6 Lines per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>7-5 Line Pattern, 3, 5, or 6 Lines per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        Many chromatic staves have lines spaced either a whole step apart, or
        some multiple of a whole step (a major third, a tritone, or an octave).
        These systems follow a different principle instead. The lines of these
        staves have an irregular spacing that highlights the 7-5 pitch pattern,
        by putting the diatonic notes of the C major scale either in spaces or
        on lines and ledger lines.
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-bold note-fill-7-5 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/klavar-mirck-version-by-jean-de-buur/"
        title="Permalink to Klavar, Mirck Version by Jean de Buur"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Klavar, Mirck Version by Jean de Buur"
          title="Chromatic scale from C to C in Klavar, Mirck Version by Jean de Buur"
          src="/wp-content/uploads/2012/07/klavar-mirck-jean-de-buur.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/klavar-mirck-version-by-jean-de-buur/" rel="bookmark"
          >Klavar, Mirck Version by Jean de Buur, 2006</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-bold note-fill-7-5 note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/klavar-dekker-version-by-antoon-dekker/"
        title="Permalink to Klavar, Dekker Version by Antoon Dekker"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Klavar, Dekker Version by Antoon Dekker"
          title="Chromatic scale from C to C in Klavar, Dekker Version by Antoon Dekker"
          src="/wp-content/uploads/2015/08/klavar-dekker-antoon-dekker.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/klavar-dekker-version-by-antoon-dekker/" rel="bookmark"
          >Klavar, Dekker Version by Antoon Dekker, 2015</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-other notation-meta-data-note-shapes-4-or-more notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-dashed note-fill-other note-shapes-4-or-more extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/chromatonnetz-by-joe-austin/"
        title="Permalink to ChromaTonnetz by Joe Austin"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Tonnetz-Based 4x3 Notation by Joe Austin"
          title="Chromatic scale from C to C in Tonnetz-Based 4x3 Notation by Joe Austin"
          src="/wp-content/uploads/2014/02/tonnetz-based-4x3-joe-austin.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/chromatonnetz-by-joe-austin/" rel="bookmark"
          >ChromaTonnetz by Joe Austin, 2010</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/keyboard-7-5-trigram-notation-by-richard-parncutt/"
        title="Permalink to Keyboard (7-5) Trigram Notation by Richard Parncutt"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Keyboard (7-5) Trigram Notation by Richard Parncutt"
          title="Chromatic scale from C to C in Keyboard (7-5) Trigram Notation by Richard Parncutt"
          src="/wp-content/uploads/2012/07/7-5-trigram-richard-parncutt.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/keyboard-7-5-trigram-notation-by-richard-parncutt/"
          rel="bookmark"
          >Keyboard (7-5) Trigram Notation by Richard Parncutt, 1989</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/avique-notation-by-anne-and-bill-collins/"
        title="Permalink to Avique Notation by Anne and Bill Collins"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Avique Notation by Anne and Bill Collins"
          title="Chromatic scale from C to C in Avique Notation by Anne and Bill Collins"
          src="/wp-content/uploads/2012/07/avique-anne-bill-collins.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/avique-notation-by-anne-and-bill-collins/"
          rel="bookmark">Avique Notation by Anne and Bill Collins, 1974</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-7-5-line-pattern 7-5-line-pattern lines-all-regular note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/0-5-7-notation-by-richard-parncutt/"
        title="Permalink to 0-5-7 Notation by Richard Parncutt"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in 0-5-7 Notation by Richard Parncutt"
          title="Chromatic scale from C to C in 0-5-7 Notation by Richard Parncutt"
          src="/wp-content/uploads/2012/07/0-5-7-notation-richard-parncutt.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/0-5-7-notation-by-richard-parncutt/" rel="bookmark"
          >0-5-7 Notation by Richard Parncutt, 1984</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
