<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=3.4&notes=66.0&position=8"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  <img
    loading="lazy"
    class="alignright"
    title="6-6-klavar-cornelis-pot-vertical"
    src="/wp-content/uploads/2013/03/66klavar-vertical.gif"
    alt="6-6 Klavar by Cornelis Pot"
    width="174"
    height="500"
  />Like his better known Klavar notation, Pot's 6-6 notation is oriented
  vertically and is read from top to bottom (as shown on the right). Pitches
  ascend horizontally from left to right like on a piano keyboard. Pot designed
  this notation to correspond to a two-level 6-6 keyboard that he built.
</p>
<p>
  His standard staff is shown on the right, with seven lines spanning two
  octaves. Every third line is bold which helps differentiate them. There are
  conflicting accounts about which notes the lines represent. The bold lines may
  represent C#/Db as in the staff on the right, or they may represent C (as
  described by Albert Brennink in his <em>Chromatic Notation</em>, 1983).
</p>
<p>&nbsp;</p>
<p>
  Earliest documentation: 1972 (in an article in <em>Klavar-Nieus</em>, a Dutch
  newsletter)
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/68
</p>
<p>
  Similar notations: <a
    href="/system/proportional-chromatic-musical-notation-by-henri-carcelle/"
    >Untitled by Henri Carcelle</a
  >, <a href="/system/klavar-mirck-version-by-jean-de-buur/"
    >Klavar, Mirck Version by Jean de Buur</a
  >, <a href="/system/isomorph-notation-by-tadeusz-wojcik/"
    >Isomorph Notation by Tadeusz Wójcik</a
  >, <a href="/system/klavar-dekker-version-by-antoon-dekker/"
    >Klavar, Dekker Version by Antoon Dekker</a
  >
</p>
