<p>
  The standard staff has two groups of three solid lines with groups of three
  ledger lines appearing above, below, and between them as needed. The three
  solid staff lines represent the group of three black notes on the piano
  keyboard (F#/Gb, G#/Ab, A#/Bb). The three ledger lines represent C, D, and E.
  Like Parncutt&#8217;s other notation designs, the staff is aligned with the <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">7-5 pitch pattern</a
  >, even though the lines and ledger lines have a 6-6 pitch pattern.
</p>
<p>Earliest documentation: 1990</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/64
</p>
<p>
  Similar Notations: <a
    href="/system/keyboard-7-5-trigram-notation-by-richard-parncutt/"
    >Keyboard (or 7-5) Trigram by Richard Parncutt</a
  >, <a href="/system/6-6-tetragram-by-richard-parncutt/"
    >6-6 Tetragram by Richard Parncutt</a
  >, <a href="/system/ambros-system-by-august-ambros/"
    >Ambros System by August Ambros</a
  >
</p>
