<p>
  The staff has three solid lines alternating with three dashed lines. The
  lowest solid line represents C.  Traditional rhythmic notation is used. The
  standard staff has six lines spanning one octave, three solid and three
  dashed, half of the two octave staff shown above.
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/3, 11/4, 13/3
</p>
<p>Earliest Documentation: 1883</p>
<p>
  Similar notations: <a href="/system/6-6-trigram-notation-by-richard-parncutt/"
    >6-6 Trigram</a
  > by Richard Parncutt
</p>
<p>
  Manuscript Paper: <a href="/pdf/manuscript/Ambros-Discon.pdf" target="_blank"
    >Discontinuous Staves</a
  >,  <a href="/pdf/manuscript/Ambros-Contin.pdf" target="_blank"
    >Continuous Staves</a
  >
</p>
