<p>
  The staff has a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >7-5 line pattern</a
  > with each line representing one of the seven notes of the C major scale (the
  white keys on the piano: A, B, C, D, E, F, G). The five other notes (the black
  keys on the piano) are then placed in the spaces between the lines.  As there is
  no black key on the piano between E and F or between B and C, there is no space
  on the staff for notes between the E and F lines or the B and C lines. These two
  pairs of lines are closer together.  The ledger line in the middle of the single
  octave staff represents D. Traditional rhythmic notation is used.
</p>
<p>
  The Avique staff can be considered an inverse of the <a
    href="/system/klavar-mirck-version-by-jean-de-buur/">Mirck</a
  > staff: where one has lines, the other has spaces, and vice versa.
</p>
<p>Earliest documentation: 1974</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/9, 11/5, 13/19
</p>
<p>
  Manuscript Paper: <a href="/pdf/manuscript/Avique-Discon.pdf" target="_blank">
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Avique-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
