<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.1&notes=66.1&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  This is Morris&#8217; variation on Reed&#8217;s <a
    href="/system/twinline-notation-by-thomas-reed/">Twinline</a
  >. It uses hollow triangle notes and solid oval notes. As with DeVries&#8217; <a
    href="/system/chromatic-twinline-by-leo-de-vries/">Chromatic</a
  > and Keislar&#8217;s <a
    href="/system/black-triangle-twinline-by-doug-keislar/">Black-Triangle</a
  > variants, this emphasizes the <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">6-6 pitch pattern</a
  > and makes it easier to distinguish the two types of notes. When writing by hand
  the ovals can optionally be left hollow, making them easier to write. It has an
  optional companion notation: <a
    href="/system/expanded-black-oval-twinline-by-paul-morris/"
    >Expanded Black-Oval Twinline</a
  >.
</p>
<p>
  Compared to Keislar&#8217;s <a
    href="/system/black-triangle-twinline-by-doug-keislar/"
    >Black-Triangle Twinline</a
  >, it has a slightly stronger 6-6 pitch pattern since the solid ovals have a
  more consistent appearance (rather than hollow ovals that sometimes have a
  line visible through them). This also provides a less &#8220;busy&#8221;
  appearance overall, and opens up more possibilities for using alterations to
  the notehead as an alternative accidental system. (Small dots inside the
  notehead, for example.)
</p>
<p>
  Having solid ovals also gives quarter notes, eighth notes, sixteenth notes,
  etc&#8230; a more consistent appearance when switching back and forth from
  traditional notation. Any note with a stem and a solid oval notehead will mean
  the same thing in both systems. Since these notes are generally more numerous
  than half notes or whole notes, this is arguably another advantage over
  Black-Triangle Twinline. A double stem is used to indicate half notes and to
  mark their difference from quarter notes. See <a
    href="/tutorials/noteheads-and-pitch/">Using Notehead Color for Pitch</a
  >. Otherwise traditional rhythmic notation is used.
</p>
<p>
  Source: Paul Morris, 2006. (The notehead color makes this system quite similar
  to Sotorrio&#8217;s <a href="/system/bilinear-notation-by-jose-a-sotorrio/"
    >Bilinear Notation</a
  >. Bilinear pre-dates this system, which was however designed without prior
  knowledge of Bilinear. Some differences include the rhythmic notation of whole
  notes and half notes, and the precise shape of the triangular noteheads.)
  (This system was briefly named &#8220;TwinNote&#8221; between June and
  December of 2009, before Morris introduced his newer, preferred version of <a
    href="/system/twinnote-by-paul-morris/">TwinNote</a
  >. It was also known as &#8220;White-Triangle Twinline&#8221; before being
  renamed to &#8220;Black-Oval Twinline&#8221; in February of 2011 in order to
  better distinguish it from Tom Reed&#8217;s Twinline (which also has white
  triangles).)
</p>
<p>
  Similar Notations: <a href="/system/clairnote-dn-by-paul-morris/"
    >Clairnote DN by Paul Morris</a
  >
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Reed-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
<p>
  Webpage: <a href="/wiki/Black-Oval_Twinline"
    >on the Music Notation Project Wiki</a
  >
</p>
