<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.1&notes=66.0&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  This is Keislar&#8217;s suggested variant of Tom Reed&#8217;s <a
    href="/system/twinline-notation-by-thomas-reed/">Twinline</a
  > (which is itself a version of de Vries&#8217; Twinline). Here the triangle shaped
  noteheads are filled solid, much like de Vries&#8217; <a
    href="/system/chromatic-twinline-by-leo-de-vries/">Chromatic Twinline</a
  >. This emphasizes the <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6 pitch pattern</a
  > via notehead color in addition to notehead shape, and makes it easier to distinguish
  the triangles from the ovals. In handwritten as opposed to printed music, the triangles
  can optionally be left hollow to make them easier to write quickly. In this case
  the notation is the same as Reed&#8217;s Twinline. An even faster option for handwritten
  music is to write the ovals as dots, the upward-pointing triangles as forward slashes
  (/), and the downward-pointing triangles as backward slashes (\).
</p>
<p>
  When compared to <a href="/system/black-oval-twinline-by-paul-morris/"
    >Black-Oval Twinline</a
  >, the differentiation between hollow ovals (those with lines through them,
  versus those without) is arguably an advantage, because it aids visual
  discrimination between the ovals.
</p>
<p>Source: Doug Keislar, 2006</p>
<p>
  Miscellaneous examples:  <a
    href="/pdf/comparisons/JazzChords.pdf"
    target="_blank"
  >
    Jazz Chords Comparison</a
  > (called &#8220;Black and White Twinline&#8221; in this file)
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Reed-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
