<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=4.4&notes=66.1&position=7"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  This staff is basically identical to <a
    href="/system/isomorph-notation-by-tadeusz-wojcik/"
    >Isomorph Notation by Tadeusz Wójcik</a
  > and it uses the same alternating notehead color. The pitches are different with
  the heavy bottom and top lines representing C. Also, the rhythmic notation is mostly
  traditional rather than proportional. Rich Reed&#8217;s design was his modification
  of Wojcik&#8217;s design.
</p>
<p>Earliest documentation: 1986</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/23, 11/2, 13/70
</p>
<p>
  Similar Notations: <a href="/system/untitled-by-arnold-schoenberg/"
    >Untitled by Arnold Schoenberg</a
  >
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Reed-DA-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-DA-Contin.pdf" target="_blank"
    >Continuous Staves</a
  >
</p>
