<p>
  <em
    >Keller prefers and recommends <a
      href="/system/express-stave-by-john-keller/"
      >Express Stave: Pianoforte Notation</a
    > over this tricolor version.</em
  >
</p>
<p>
  This is another version of <a
    href="/notation-systems/express-stave-by-john-keller/">Express Stave</a
  >. It uses the same notehead shapes as the &#8220;<a
    href="/system/express-stave-6-6-jazz-font-by-john-keller/">6-6 jazz font</a
  >&#8221; version of Express Stave, as well as Keller&#8217;s novel clef
  symbols (shown on the main &#8220;<a
    href="/system/express-stave-by-john-keller/">Express Stave</a
  >&#8221; page). The only difference is in the notehead coloring scheme.
  Whereas other versions of Express Stave use a diatonic coloring scheme,
  distinguishing the white and black keys of the piano, this version uses a
  &#8220;three-color&#8221; scheme, in which noteheads with a staff line or
  ledger line through them are considered as a shortcut for gray. The three
  &#8220;colors&#8221; alternate in regular succession as one moves up the
  chromatic scale. Thus each of the three diminished-seventh chords consists of
  notes that are all the same &#8220;color.&#8221; This coloring scheme is
  similar to that of Roy Pertchik&#8217;s <a
    href="/wiki/instruments/tri-chromatic-keyboard-layout/"
    >trichromatic keyboard layout</a
  > and Joe Austin&#8217;s <a href="/system/chromatonnetz-by-joe-austin/"
    >ChromaTonnetz notation</a
  >. Note that Keller prefers the 7-5 approach to notehead color, as used in his
  other versions of Express Stave.
</p>
<p>
  Source: John Keller. Express Stave, Tricolor version introduced September 16,
  2010.
</p>
<p>
  Similar Notations: <a href="/notation-systems/express-stave-by-john-keller/"
    >Express Stave: Pianoforte Notation</a
  >, <a href="/system/express-stave-6-6-jazz-font-by-john-keller/"
    >Express Stave, 6-6 Jazz Font version</a
  >, <a href="/system/express-stave-original-version-by-john-keller/"
    >Express Stave, Original Version</a
  >, <a href="/system/chromatonnetz-by-joe-austin/">ChromaTonnetz</a>.
</p>
