<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=4.4&notes=66.1&position=9"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  A heavy line represents D. Three ordinary staff lines represent the group of
  three black keys on the piano (F#, G# and A#). The distance between the D line
  and the group of three lines is twice the distance between adjacent lines in
  the group of three. Black noteheads are used for the whole-note scale that
  includes the lines, and white noteheads for the other whole-tone scale. The
  rhythmic notation is proportional. The line pattern and rhythmic notation make
  it resemble a horizontal <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >6-6</a
  > version of <a href="http://www.klavarmusic.org">Klavar</a> notation. As in Klavar,
  the noteheads are actually circular (not oval as depicted here), and white and
  black noteheads are always placed on opposite sides of the stem.
</p>
<p>Earliest documentation: 1952</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/35, 11/2, 13/103
</p>
<p>
  Similar notations: <a
    href="http://http://musicnotation.org/system/klavar-mirck-version-by-jean-de-buur/"
    >Klavar, Mirck Version</a
  >, <a href="/system/6-6-klavar-by-cornelis-pot/">6-6 Klavar by Cornelis Pot</a
  >, <a href="/system/klavar-dekker-version-by-antoon-dekker/"
    >Klavar, Dekker Version by Antoon Dekker</a
  >
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank"> Triad Comparison</a>
  <a href="/pdf/comparisons/JazzChords.pdf" target="_blank">
    Jazz Chords Comparison</a
  >
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Isomorph-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Isomorph-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
  <a href="/pdf/manuscript/Isomorph-Piano.pdf" target="_blank"> Piano Staves</a>
</p>
