<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=5.3&notes=75.0&position=8"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  This Mirck version of <a href="http://www.klavarmusic.org" target="_blank"
    >Klavar</a
  > notation is Jean de Buur&#8217;s horizontal and pitch-proportional variation
  on Cornelis Pot&#8217;s original design. Both the five-line staff and the notehead
  coloration have a <a href="/tutorials/6-6-and-7-5-pitch-patterns/"
    >7-5 pattern</a
  >. The notes in the spaces between the lines are the notes of the C major
  scale (the white piano keys), and are also distinguished by having white
  noteheads. The notes falling on the lines are the the other five notes of the
  chromatic scale (the black piano keys) and are distinguished by having black
  noteheads.
</p>
<p>
  Between the groups of two and three lines, there are two adjacent spaces
  without a line separating them. In the official vertical version of Klavar
  this distance is a full 2 spaces, so that noteheads on E and F, or on B and C,
  do not overlap vertically &#8212; just like the other space notes that <em
    >do</em
  > have a line (and a note) separating them. This irregularity keeps the standard
  Klavar staff from being pitch-proportional.  (It is instead proportional to the
  piano keyboard, which is not pitch-proportional either.)  In the Mirck version
  the distance between the groups of two and three lines has been adjusted to the
  equivalent of 1.5 spaces (instead of 2), which makes the distances between neighboring
  notes of the chromatic scale even and pitch-proportional.
</p>
<p>
  As in Klavar, the noteheads are circular, the group of three lines is slightly
  darker than the group of two lines, and rhythmic notation is proportional,
  with the distance between note stems indicating the timing of each note.
  However, while Klavar always locates black notes on one side of the stem and
  white notes on the other, in Mirck notation all the notes generally appear on
  the right side of the stem. This allows the spacing between the noteheads to
  mirror that of the stems, which reinforces and makes clearer the proportional
  rhythmic spacing. An exception is made for harmonic intervals and chords,
  where the black notes always appear on the left and the white notes on the
  right.
</p>
<p>
  There is an accompanying note naming scheme based upon the standard <a
    href="http://en.wikipedia.org/wiki/Solfege"
    target="_blank">Solfege</a
  > system, but with novel names for the five black key notes. Like Solfege it can
  be used as a &#8220;fixed do&#8221; or &#8220;movable do&#8221; nomenclature.
</p>
<p>
  do &#8211; <strong>dos</strong> &#8211; re &#8211; <strong>res</strong> &#8211;
  mi &#8211; fa &#8211; <strong>fas</strong> &#8211; sol &#8211; <strong
    >sos</strong
  > &#8211; la &#8211; <strong>las</strong> &#8211; si &#8211; do
</p>
<p>Source: Jean de Buur, first published June 2006</p>
<p>
  Similar Notations: <a href="/system/6-6-klavar-by-cornelis-pot/"
    >6-6 Klavar by Cornelis Pot</a
  >, <a href="/system/isomorph-notation-by-tadeusz-wojcik/"
    >Isomorph Notation by Tadeusz Wójcik</a
  >, <a href="/system/chromatonnetz-by-joe-austin/">ChromaTonnetz</a>, <a
    href="/system/express-stave-by-john-keller/">Express Stave</a
  >, <a href="/system/chromatic-twinline-by-leo-de-vries/"
    >Diatonic Twinline Notation</a
  >, <a href="/system/klavar-dekker-version-by-antoon-dekker/"
    >Klavar, Dekker Version by Antoon Dekker</a
  >
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank"> Triad Comparison</a>
</p>
