<p>
  Bruce Allen Dickey&#8217;s Lautus notation system has minor-third line
  spacing, but unlike Jason MacCoy&#8217;s Number Notes systems (above), which
  use three staff lines plus a ledger line, Lautus uses four staff lines per
  octave. The lines are G#, B, D, and F, and the top line (F) is bold. This
  pattern is similar to the four lines (G, B, D, and F) at the top of the
  traditional treble staff or the bottom of the traditional bass staff. Staves
  can be stacked to cover more than one octave as shown above, although Dickey
  recommends using a single octave staff with ledger lines to reduce visual
  density.
</p>
<p>In place of a clef, a large Arabic numeral indicates the octave number.</p>
<p>
  Rhythmic notation is mostly traditional, but half, whole, and double whole
  notes are nontraditional, having solid black noteheads and multiple stems
  (hollow noteheads are not used). Half notes have one regular stem with a
  neighboring stem of half the height. Whole notes have a double stem, and
  double whole notes (breves) a triple stem. Quarter rests and shorter rests are
  traditional. Half rests and longer rests are nontraditional, having a similar
  appearance to the stems of the notes of corresponding duration, but with the
  rightmost line (or two) being thicker than the leftmost line. An optional
  variant of Lautus uses traditional rhythmic notation without any of these
  modifications.
</p>
<p>Source: Bruce Allen Dickey, 2011</p>
<p>
  Similar Notations: <a href="/system/untitled-by-arnold-schoenberg/"
    >Untitled by Arnold Schoenberg</a
  > and <a href="/system/6-6-klavar-by-cornelis-pot/"
    >6-6 Klavar by Cornelis Pot</a
  >, which also use a single bold line per octave.
</p>
