<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.6&notes=0&position=7"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The basic staff has three lines spaced a tritone apart. The middle line
  represents F#/Gb and the bottom and top lines are bold and represent C.
  Between any two adjacent lines there are five elevations at which notes can be
  placed, three of which use ledger lines. One pair of ledger lines represents D
  and E, and the other pair G#/Ab and A#/Bb. If you include the ledger lines,
  each line of the staff is evenly spaced at a whole step apart, resulting in a <a
    href="/tutorials/6-6-and-7-5-pitch-patterns/">6-6 line pattern</a
  > of alternating line-notes and space-notes.
</p>
<p>
  Website: <a href="http://chromatic-system.com" target="_blank"
    >MUTO Music Method Foundation</a
  >
</p>
<p>Earliest documentation: 1995</p>
<p>Source: MUTO Music Method Foundation Website</p>
