<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=6.2&notes=0&position=4"
    >
      AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The full name of this system is &#8220;Notation for the System of Equal Tones
  Applied to the Chromatic Keyboard,&#8221; and an essentially identical system
  called &#8220;Seven-tone or Twelve-tone Notation&#8221; was introduced by Hans
  Krenn in 1910.
</p>
<p>
  Both of these systems use the same seven line staff found in <a
    href="/system/untitled-by-klaus-lieber/">Klaus Lieber&#8217;s system</a
  >, with the top and bottom lines being bold and the intervening five lines
  standard solid lines. The bottom and top lines represent A. The staff above
  shows two standard staves stacked for a two octave range.
</p>
<p>
  Decher&#8217;s piano staff resembles the traditional grand staff with two
  standard staves spaced apart vertically. Bar lines extend through to connect
  the two piano staves, but short bar lines are used within each staff to
  separate the beats within a measure. All notes have the appearance of
  traditional quarter notes. Two notes appearing in the same beat are equivalent
  to two eighth notes, four are equivalent to four sixteenth notes, etc. Notes
  are tied across beat separations to represent longer durations, the
  equivalents of half notes and whole notes. Traditional ledger lines are used
  for notes extending beyond the staff.
</p>
<p>Earliest documentation: 1877 (Decher), 1910 (Krenn)</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/23, 13/46
</p>
