<p>
  The standard staff has seven lines, three solid lines followed by a dashed
  middle line and then three more solid lines.  If the dashed line were a ledger
  line, the staff would be the same as in <a
    href="/system/notation-godjevatz-by-velizar-godjevatz/"
    >Notation Godjevatz</a
  >.  The top and bottom lines of the standard staff represent C.  The dashed
  line represents F#.   Traditional rhythmic notation is used. In the image
  above two standard staves have been stacked to show a span of two octaves.
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/33, 11/4, 13/98
</p>
<p>Earliest Documentation: 1933</p>
<p>
  Other Similar Notations: <a
    href="/system/notation-godjevatz-by-velizar-godjevatz/"
    >Notation Godjevatz</a
  >
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/NotaGraph-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >, <a href="/pdf/manuscript/NotaGraph-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
