<p>
  In this system a single ledger line appears in the middle of the staff
  (representing F# and Gb), with two sets of three lines above and below. One
  can think of the sets of three lines as half (or more precisely three fifths)
  of a five-line staff. When this standard one-octave staff is extended to two
  or more octaves it more closely resembles the <a
    href="/system/untitled-by-heinrich-richter/">five-line staff systems</a
  >. The lowest of the lower three lines and the highest of the upper three
  lines both represent C and are optionally heavier than the other lines. This
  is useful for when the staff is extended to two or more octaves, as it is in
  the image above. (Interestingly, Godjevatz allowed for the option to use
  accidental signs with his system, both in key signatures and for accidental
  notes.)
</p>
<p>Earliest documentation: 1948</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/15, 11/4, 13/35
</p>
<p>
  Similar Notations: <a href="/system/notagraph-by-constance-virtue/"
    >NotaGraph</a>
</p>
<p>
  Manuscript Paper: <a
    href="/pdf/manuscript/Godjevatz-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Godjevatz-Contin.pdf" target="_blank">
    Continuous Staves</a>
</p>
