<p>
  A basic seven-line staff has a bold middle line representing C and top and
  bottom lines that both represent F#/Gb. Two ledger lines appear below this
  staff, followed by a dashed line also representing C. From the dashed C line
  to the F#/Gb line at the top of the staff is a span of about an octave and a
  half. On the piano staff the line pattern is symmetrically repeated below the
  dashed line: another two ledger lines followed by another seven line staff
  just like the one above. Traditional noteheads are used.
</p>
<p>Earliest documentation: 1897</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/96
</p>
