<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.0&notes=1&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The two lines of the staff represent E and G#/Ab.  Above and below the staff a
  leger line is used to represent C.  Between any two adjacent lines, including
  the leger line, there are three elevations on which notes can be placed.  The
  standard staff spans two octaves as pictured above. All the notes are black
  and circular.   A novel rhythmic notation is used.
</p>
<p>
  Earliest documentation: 1956 (Skapski, G. &#8220;Some Aspects of Music
  Notation and a Proposed New System,&#8221; Masters Thesis, University of
  Tulsa)
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  > section/page: 10/29, 11/2, 13/89
</p>
<p>
  Manuscript Paper: <a href="/pdf/manuscript/Panot-Discon.pdf" target="_blank">
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Panot-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
<p>
  (Note that this manuscript paper has been revised since the <a
    href="/mnma/research-project/">MNMA&#8217;s Research Project</a
  >, so that it is now more in-line with the inventor&#8217;s intentions.)
</p>
