<p>
  <img
    loading="lazy"
    class="alignright"
    alt="Proportional Chromatic Notation by Henri Carcelle"
    src="/wp-content/uploads/2013/03/carcelle-vertical.gif"
    width="146"
    height="500"
  />As shown on the right, Carcelle&#8217;s notation has been designed to be
  read vertically from top to bottom like Klavar notation. Pitches ascend
  horizontally from left to right like on a piano keyboard. The standard staff
  spans about an octave and a half. It has a symmetrical set of nine lines
  combining solid, dotted, and dashed lines. The last three repeat the first
  three in the following pattern: solid, dotted, solid, solid, dashed, solid,
  solid, dotted, solid. Traditional noteheads and time values are used.
</p>
<p>Earliest documentation: 1977</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/16
</p>
<p>
  Similar notations: <a href="/system/6-6-klavar-by-cornelis-pot/">6-6 Klavar</a
  > by Cornelis Pot
</p>
