<p>
  The Thumline staff is similar to the <a
    href="/system/muto-notation-by-muto-foundation/">MUTO system</a
  >, except that it has alternating solid and dotted lines spaced a tritone
  apart. Between these lines are two ledgerlines that provide a 6-6 line pattern
  of alternating line and space notes.
</p>
<p>
  However, unlike most other notations on this site, the lines and spaces of the
  Thumline system do not represent particular pitches. Instead, it takes a
  relative pitch approach much like <a
    href="http://en.wikipedia.org/wiki/Solfege#Movable_do_solf.C3.A8ge"
    >moveable-do</a
  >
  <a href="http://en.wikipedia.org/wiki/Solfege">solfege note syllables</a>, <a
    href="http://en.wikipedia.org/wiki/Shape_note">shape note notation</a
  >, or the <a
    href="http://en.wikipedia.org/wiki/Nashville_number_system"
    target="_blank">Nashville number system</a
  >. Instead of absolute pitches, its lines and spaces represent the degrees of
  the chromatic scale, starting from the tonic note Do:
</p>
<p>
  Do &#8211; <strong>ra</strong> &#8211; Re &#8211;  <strong>me</strong> &#8211;
  Mi &#8211; Fa &#8211; <strong>se</strong> &#8211; So &#8211; <strong
    >le</strong
  > &#8211; La &#8211; <strong>te</strong> &#8211; Ti &#8211; Do
</p>
<p>
  The staff depicted above shows pitch names in the key of C, but in other keys
  these absolute pitch names would be shifted, in order to keep the bottom line
  as Do.  The pitches that correspond to these scale degrees are indirectly
  determined by the current key signature. The solid lines always represent Do
  and the dotted line Se, whatever pitch they may be in the current key. The
  arcs at the beginning of each staff help with visual orientation, with the
  points of the arc always pointing to the Do line, and the Se line falling at
  the middle of the arc. A symbol system is used to indicate key changes and how
  far up or down in pitch the key has modulated.
</p>
<p>
  Note that in minor keys the basic underlying diatonic pitch pattern remains in
  the same position on the staff. Do is still located on the bold line, but it
  becomes the third degree of the scale as the tonic note shifts to La. In other <a
    href="http://en.wikipedia.org/wiki/Musical_mode">musical modes</a
  > (Dorian, Phrygian, Lydian, etc&#8230;) the tonic also changes places on the staff
  while the basic diatonic pitch pattern stays fixed. The current tonic note is given
  in the key signature, indicating whether a key is major or minor, or whether the
  piece is in some other mode.
</p>
<p>
  An advantage of this relative pitch approach is that it makes it easy to
  recognize common interval patterns (like those of the diatonic scale) as they
  occur across different keys, since they will consistently appear at the same
  vertical position on the staff. A disadvantage is that a note&#8217;s pitch is
  not directly given, but must be calculated indirectly through reference to the
  key signature. This may make it less than ideal for use with instruments that
  are difficult to play by reading only the interval relationships between
  notes. In other words, for instruments where it is important to be able to
  easily read the pitch values of notes in the notation. (Thumline was designed
  with the Thummer in mind, an electronic isomorphic button-field instrument
  that emphasizes playing by interval relationships.) For this reason it is not
  clear how well Thumline would work as a general-purpose notation, and it might
  not pass the <a href="/notationsystems/criteria/#3"
    >MNMA&#8217;s third criterion</a
  > for being &#8220;readily adaptable to all instruments&#8221;. Nevertheless this
  approach is worthy of consideration, and could be used in conjunction with various
  chromatic stave systems by those interested in it.
</p>
<p>Website: www.thummer.com (no longer exists)</p>
<p>First introduced: 2005 (Thumtronics website)</p>
<p>Source: Jim Plamondon, Thumtronics Website</p>
