<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=2.4.1&notes=0&position=11"
    >
      AudioVisualizer</a
    >.</em
  >
</p>
<p>
  A two-line staff is used, with the lower line representing E.   Above and
  below the staff a ledger line is used to represent C. Between any two adjacent
  lines there are three elevations on which notes can be placed.  These three
  elevations are made easier to read because of a change in notehead shape.  As
  illustrated, the notes next to a line assume a triangular shape, with the base
  of the triangle resting on the closer line.   The notes are all white for ease
  of handwriting.  Rhythmic notation is mostly traditional. A novel flag
  indicates half notes. Tom Reed&#8217;s Twinline is his modification of Leo de
  Vries&#8217; <a href="/system/chromatic-twinline-by-leo-de-vries/"
    >Chromatic Twinline</a
  >.
</p>
<p>Earliest documentation: 1986</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/24, 11/2, 13/72
</p>
<p>
  Miscellaneous examples: <a
    href="/pdf/comparisons/MajorScales.pdf"
    target="_blank"
  >
    Major Scale Comparison</a
  >
  <a href="/pdf/comparisons/Triads.pdf" target="_blank"> Triad Comparison</a>
  <a href="/pdf/comparisons/JazzChords.pdf" target="_blank">
    Jazz Chords Comparison</a
  >
</p>
<p>
  Manuscript paper: <a
    href="/pdf/manuscript/Reed-Twinline-Discon.pdf"
    target="_blank"
  >
    Discontinuous Staves</a
  >
  <a href="/pdf/manuscript/Reed-Twinline-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
