<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=6.2&notes=0&position=7"
    >
      AudioVisualizer</a
    >.</em
  >
</p>
<p>
  The standard staff has seven lines, with the top and bottom lines being bold
  and five standard solid lines between them. The bold lines are C. In the image
  above two of these staves have been stacked to show a two octave span.
  Lieber&#8217;s piano staff consisted of six of his staves stacked for a span
  of six octaves.
</p>
<p>&nbsp;</p>
<p>
  Earliest documentation: Albert Brennink&#8217;s <em>Chromatic Notation</em> (1983),
  p. 11, 26.
</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/51
</p>
