<p>
  <em
    >See more scales, intervals, and melodies with the
    <a href="/systems/audiovisualizer/?staff=5.2&notes=0&position=9"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  A number of notation inventors have used this familiar 5-line staff, including
  Lukas Brandt, Grace Frix, Edward Huntington, Heinrich
  &#8220;Autodidactus&#8221; Richter, Hans Sacher, Karl Schumann, Heinrich
  Vincent, Hermann-Josef Wilbert, and Kazimierz Wolf. Similar to traditional
  notation, ledger lines appear below and above each staff. All but one made the
  first ledger line C as in traditional notation. (In
  <a href="/systems/untitled-by-grace-frix/">Grace Frix&#8217;s system</a>
  the first ledger line is D.) Some systems have a one octave standard staff, others
  have a two octave standard staff like the one shown above.
</p>
<p>
  Most of these notations have early invention dates, so it may be that the
  availability of standard music manuscript paper, and the difficulty of
  producing novel manuscript paper, were factors in their design.
</p>
<p>
  Earliest documentation: 1847 (Richter), 1859 (Schumann), 1862 (Vincent), 1905
  (Sacher), 1920 (Huntington), 1992 (Frix). Brandt, Wilbert, and Wolf have
  unknown dates, but are documented in Albert Brennink&#8217;s <em
    >Chromatic Notation</em
  > (1983).
</p>
<p>
  Source:
  <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/6,14,17,25,26,28,32,34,36, 11/3,
  13/12,33,42,74,82,87,97,103,104
</p>
<p>
  Manuscript Paper:
  <a href="/pdf/manuscript/Frix-Discon.pdf" target="_blank">
    Discontinuous Staves</a
  >,
  <a href="/pdf/manuscript/Frix-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
