<p>
  <em
    >See more scales, intervals, and melodies with the <a
      href="/systems/audiovisualizer/?staff=5.2&notes=0&position=11"
      >AudioVisualizer</a
    >.</em
  >
</p>
<p>
  Frix&#8217;s system is similar to the other <a
    href="/system/untitled-by-heinrich-richter/"
    >systems that use a 5-line staff</a
  >, except that it makes the first ledger line D (instead of C). This may have
  been because D is a point of symmetry in the pattern of white and black keys
  on the piano and other keyboard instruments.
</p>
<p>
  For clef signs, Frix&#8217;s system uses a Δ placed at the position of the D
  above Middle C, with a ledger line through it.
</p>
<p>Earliest documentation: 1992</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 10/6,14,17,25,26,28,32,34,36, 11/3,
  13/12,33,42,74,82,87,97,103,104<br />
  <a href="http://www.google.com/patents/US5404788#v=onepage&q&f=false"
    >US patent</a
  >
</p>
<p>
  Manuscript Paper: <a href="/pdf/manuscript/Frix-Discon.pdf" target="_blank">
    Discontinuous Staves</a
  >, <a href="/pdf/manuscript/Frix-Contin.pdf" target="_blank">
    Continuous Staves</a
  >
</p>
