<p>
  The standard staff has three solid lines representing C, E, and G#/Ab. When
  the staff is extended beyond one octave the C line is made bold to help
  differentiate the lines. Schoenberg also mentioned the possibility of
  experimenting with substituting dotted or dashed lines in various
  configurations, but concluded &#8220;I do not really believe this will be
  necessary.&#8221; (Schoenberg, A. &#8220;A New Twelve Tone Notation,&#8221; <em
    >Style and Idea</em
  >, p.530, footnote 2). The three elevations of notes between the lines are
  emphasized with short slash marks that pass either below, above, or through
  the noteheads. Otherwise traditional notes, stems, and rhythmic notation are
  used.
</p>
<p>Earliest documentation: 1924</p>
<p>
  Source: <a href="/mnma/publications/#proposals"
    >Directory of Music Notation Proposals</a
  >, section/page: 13/86
</p>
<p>
  Similar Notations: <a href="/system/da-notation-by-rich-reed/"
    >DA Notation by Rich Reed</a
  >
</p>
