---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Hass Music Notation by Peter Hass", "Wiki")}
  metaDescription="Hass Music Notation by Peter Hass, an alternative music notation system that corresponds with the note layout of the chromatic button accordion."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Hass Music Notation (original version) by Peter Hass
          </h1>
        </header>

        <div class="entry-content">
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-2081"
              src="/wp-content/uploads/2013/03/Hass-ChromaticAndTraditional.png"
              alt="Hass-ChromaticAndTraditional"
              width="1228"
              height="322"
              srcset="/wp-content/uploads/2013/03/Hass-ChromaticAndTraditional.png 1228w, /wp-content/uploads/2013/03/Hass-ChromaticAndTraditional-300x78.png 300w, /wp-content/uploads/2013/03/Hass-ChromaticAndTraditional-1024x268.png 1024w, /wp-content/uploads/2013/03/Hass-ChromaticAndTraditional-500x131.png 500w"
              sizes="(max-width: 1228px) 100vw, 1228px"
            />
          </p>
          <p>
            This is the original version of Hass notation. It uses a five-line,
            pitch-proportional chromatic staff whose lines are spaced three
            semitones (a minor third) apart. Three noteheads shapes are used: an
            oval on lines, and downward and upward triangles in the spaces. This
            regularly alternating pattern of three noteheads corresponds
            directly to the three rows of a chromatic button accordion, which
            has an isomorphic layout. The staff does not cycle at the octave
            (MNP criterion <a href="/systems/criteria/#9">9</a>). Hass later
            created <a href="/system/hass-notation-3-line-version/">
              a version that does</a
            >.
          </p>
          <p>
            The traditional treble and bass clefs are replaced by an E and an O
            clef, respectively. As in traditional notation, each of these clefs
            gives a different set of note names to the staff lines. A note on
            the lower staff is an octave and a major sixth lower than the note
            at the same position on the upper staff.
          </p>
          <p>
            An unusual property of the system is that the majority of the
            positions on each staff are the same as in traditional notation (as
            long as one applies the necessary sharps and flats in traditional
            notation). The stem is horizontally centered on the notehead, rather
            than placed at the left or right as in traditional notation.
            Rhythmic notation is traditional.
          </p>
          <p>
            Pitch nomenclature uses traditional German pitch names for the
            naturals (with B for the pitch a whole step below C, and H for a
            half-step below C), and the new names O, S, V, and I for the
            traditional C#, D#, F#, and G#.
          </p>
          <p>
            Hass, who died in September 2015, stated in 2009 that he was not
            sure exactly when he invented this notation system but believed it
            was 1974.
          </p>
          <p>
            See also the <a href="http://chromatic-staff.dk/" target="_blank"
              >Hass Notation Website</a
            > (Denmark), and <a href="/system/hass-notation-3-line-version/">
              the three-line version of Hass Notation</a
            > on our site.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
