---
import MnpLayoutNotationSystemsGroup from "../../../../layouts/MnpLayoutNotationSystemsGroup.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutNotationSystemsGroup
  metaTitle={makeMetaTitle(
    "Lines a Tritone Apart, 2 per Octave, or 1 Line per Octave",
    "Notation Systems"
  )}
  metaDescription="Alternative music notation systems that have: Lines a Tritone Apart, 2 per Octave, or 1 Line per Octave"
>
  <header class="page-header">
    <h1 class="page-title">
      <span>Lines a Tritone Apart, 2 per Octave, or 1 Line per Octave</span>
    </h1>

    <div class="category-archive-meta">
      <p>
        Some systems have two lines per octave, evenly spaced at a half an
        octave apart (one tritone or six half-steps). Bold, dashed, or ledger
        lines are used to allow identification of lines when multiple staves are
        stacked contiguously. One system uses only one line per octave, giving
        it the least dense appearance of any system, but it also uses the most
        ledger lines, with 7 of the 12 pitches requiring them. Some systems use
        hollow or solid noteheads or shaped noteheads to help differentiate
        between adjacent pitches.  (Also see <a
          href="/wiki/notation-systems/equiton-music-notation-by-rodney-fawcett/"
          >Equiton</a
        >, which has one line per octave but lacks pitch-proportionality.)
      </p>
    </div>
  </header>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-tritone-2-lines tritone-2-lines lines-bold note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/muto-notation-by-muto-foundation/"
        title="Permalink to MUTO Notation by MUTO Foundation"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in MUTO Notation by MUTO Music Method Foundation"
          title="Chromatic scale from C to C in MUTO Notation by MUTO Music Method Foundation"
          src="/wp-content/uploads/2012/07/muto-muto-music-method-foundation.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/muto-notation-by-muto-foundation/" rel="bookmark"
          >MUTO Notation by MUTO Foundation, 1995</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-dashed notation-meta-data-note-fill-trad notation-meta-data-note-shapes-one notation-meta-data-extent-larger notation-group-tritone-2-lines tritone-2-lines lines-dashed note-fill-trad note-shapes-one extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/thumline-notation-by-jim-plamondon/"
        title="Permalink to Thumline Notation by Jim Plamondon"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Thumline Notation by Jim Plamondon"
          title="Chromatic scale from C to C in Thumline Notation by Jim Plamondon"
          src="/wp-content/uploads/2012/07/thumline-jim-plamondon.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/thumline-notation-by-jim-plamondon/" rel="bookmark"
          >Thumline Notation by Jim Plamondon, 2005</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-one notation-meta-data-extent-smaller notation-group-tritone-2-lines tritone-2-lines lines-all-regular note-fill-7-5 note-shapes-one extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/express-stave-by-john-keller/"
        title="Permalink to Express Stave: Pianoforte Notation by John Keller"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Express Stave: Pianoforte Notation by John Keller"
          title="Chromatic scale from C to C in Express Stave: Pianoforte Notation by John Keller"
          src="/wp-content/uploads/2021/03/express-stave-pianoforte-notation.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/express-stave-by-john-keller/" rel="bookmark"
          >Express Stave: Pianoforte Notation by John Keller, 2010</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-tritone-2-lines tritone-2-lines lines-all-regular note-fill-7-5 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/express-stave-6-6-jazz-font-by-john-keller/"
        title="Permalink to Express Stave, 6-6 Jazz Font by John Keller"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Express Stave, 6-6 Jazz Font by John Keller"
          title="Chromatic scale from C to C in Express Stave, 6-6 Jazz Font by John Keller"
          src="/wp-content/uploads/2012/07/express-stave-reverse-color-john-keller1.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/express-stave-6-6-jazz-font-by-john-keller/"
          rel="bookmark">Express Stave, 6-6 Jazz Font by John Keller, 2009</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-7-5 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-tritone-2-lines tritone-2-lines lines-all-regular note-fill-7-5 note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/express-stave-original-version-by-john-keller/"
        title="Permalink to Express Stave, Original Version by John Keller"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Express Stave, Original Version by John Keller"
          title="Chromatic scale from C to C in Express Stave, Original Version by John Keller"
          src="/wp-content/uploads/2012/07/express-stave-john-keller.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/express-stave-original-version-by-john-keller/"
          rel="bookmark">Express Stave, Original Version by John Keller, 2005</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-other notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-smaller notation-group-tritone-2-lines tritone-2-lines lines-all-regular note-fill-other note-shapes-2-or-3 extent-smaller"
  >
    <div class="entry-content">
      <a
        href="/system/express-stave-tricolor-version-john-keller/"
        title="Permalink to Express Stave, Tricolor Version by John Keller"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Express Stave, Tricolor Version by John Keller"
          title="Chromatic scale from C to C in Express Stave, Tricolor Version by John Keller"
          src="/wp-content/uploads/2015/08/express-stave-tri-color-john-keller.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a
          href="/system/express-stave-tricolor-version-john-keller/"
          rel="bookmark">Express Stave, Tricolor Version by John Keller, 2010</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-bold notation-meta-data-note-fill-other notation-meta-data-note-shapes-4-or-more notation-meta-data-extent-larger notation-group-tritone-2-lines tritone-2-lines lines-bold note-fill-other note-shapes-4-or-more extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-robert-stuckey/"
        title="Permalink to Untitled by Robert Stuckey"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Robert Stuckey"
          title="Chromatic scale from C to C in Untitled by Robert Stuckey"
          src="/wp-content/uploads/2012/07/untitled-robert-stuckey.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-robert-stuckey/" rel="bookmark"
          >Untitled by Robert Stuckey, 1983</a
        >
      </h3>
    </div>
  </article>

  <article
    class="system type-system status-publish hentry notation-meta-data-lines-all-regular notation-meta-data-note-fill-6-6 notation-meta-data-note-shapes-2-or-3 notation-meta-data-extent-larger notation-group-tritone-2-lines tritone-2-lines lines-all-regular note-fill-6-6 note-shapes-2-or-3 extent-larger"
  >
    <div class="entry-content">
      <a
        href="/system/untitled-by-nicolai-dolmatov/"
        title="Permalink to Untitled by Nicolai Dolmatov"
        rel="bookmark"
      >
        <img
          alt="Chromatic scale from C to C in Untitled by Nicolai Dolmatov"
          title="Chromatic scale from C to C in Untitled by Nicolai Dolmatov"
          src="/wp-content/uploads/2012/07/untitled-nicolai-dolmatov.png"
        />
      </a>

      <img
        src="/wp-content/uploads/2012/08/chromatic-scale-caption-grey.png"
        alt="C C#/Db D D#/Eb E F F#/Gb G G#/Ab A A#/Ab B C"
      />

      <h3 class="entry-title">
        <a href="/system/untitled-by-nicolai-dolmatov/" rel="bookmark"
          >Untitled by Nicolai Dolmatov, 1995</a
        >
      </h3>
    </div>
  </article>
</MnpLayoutNotationSystemsGroup>
