---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Announcing the Music Notation Project Wiki",
    "Blog"
  )}
  metaDescription="A blog post announcing the new Music Notation Project wiki."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2010/03/git-repository-for-lilypond/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Announcing the Music Notation Project Wiki
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2009-11-02T09:11:00+00:00"
              >November 2, 2009</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            We are pleased to announce the <a href="/wiki/"
              >Music Notation Project Wiki</a
            >, a new addition to the <a href="/home/community/">Community</a> section
            of our website. Like the <a href="/mnma/">MNMA</a>&#8216;s quarterly
            newsletter (<a href="/mnma/publications/#news"
              >Music Notation News</a
            >), and our <a href="http://groups.google.com/group/musicnotation"
              >Forum</a
            > (Google Group), this wiki will provide a means for our community to
            share ideas, knowledge, proposals, examples, experiments, images, and
            sheet music for alternative notation systems.<span id="more-493"
            ></span>
          </p>
          <p>
            Our forum already provides an easy way to share and discuss such
            material and keeps a chronological archive of posts that can be
            easily searched. However, the wiki will complement the forum and the
            rest of our site by providing a more robust platform for
            collaborating and topically organizing this community-generated
            content. Organizing this material in the wiki will make it more
            accessible to new visitors browsing our site, and increase the
            breadth and depth of content available on our site.
          </p>
          <p>
            Our wiki runs on the same open-source MediaWiki software that powers
            Wikipedia, and so its interface may be familiar. However, our
            wiki&#8217;s purpose is not to provide another comprehensive
            encyclopedia. It is to simply provide a collaborative space in which
            to collect and organize the content being created and shared by our
            community.
          </p>
          <p>
            Over the long term, the most significant role of the wiki may be as
            a place to collect examples of sheet music in alternative notation
            systems. Building such a collection will make it much easier for
            anyone to really experiment with various alternative notation
            systems (and ultimately start using them).
          </p>
          <p>
            Please feel free to <a href="/home/about-faq-contact-info/#contact"
              >contact us</a
            > if you would like to contribute to the wiki and need help getting started.
            We look forward to seeing the wiki grow with your help. Let us know what
            you think.
          </p>
          <p>&nbsp;</p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          6 thoughts on &ldquo;<span
            >Announcing the Music Notation Project Wiki</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-11">
            <article id="comment-11" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/656ce0c344ee78d07a0c27dedfbe1ffd?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/656ce0c344ee78d07a0c27dedfbe1ffd?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://www.spiralcat.com"
                      rel="external nofollow ugc"
                      class="url">Carol Collins</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-11"
                    ><time datetime="2010-03-09T18:48:18+00:00"
                      >March 9, 2010 at 6:48 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>Dear Music Notation</p>
                <p>
                  I remember when I first met Constance. I was a student
                  attending the University of San Diego. I was a music major and
                  I looked her up one day while I was preparing for my
                  master&#8217;s thesis. It was 1972 or 1973. I had been
                  studying Helmholtz and attended lectures by Roger Reynolds and
                  Paulina Oliveros. It was an amazing time to study music. She
                  had the most amazing pipe organ built within her home that
                  overlooked the inland valley.
                </p>
                <p>
                  I visted her frequently as she was lonely for company while
                  her husband was away. I was the one who contacted Isaac Stern
                  about her notagraph. I remember calling him up and scolding
                  him for not paying attention to her work. She had studied with
                  Alan Berg for goodness sake! How cool is that. I also sent a
                  copy of her Notagraph document to Darmstadt&#8217;s School of
                  New Musik. She called me her &#8221; littlest angel&#8221; .
                </p>
                <p>
                  She was so far ahead of her time&#8230;&#8230;&#8230; She was
                  an amazing woman and influenced my life for many years after.
                </p>
                <p>It is good to see that she is remembered.</p>
                <p>Thank you for your good work.</p>
                <p>
                  Carol Collins, CEO<br />
                  Spiralcat of Maryland
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-12"
          >
            <article id="comment-12" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/cc2d067fb3b82c233af00515ca5fd9d5?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/cc2d067fb3b82c233af00515ca5fd9d5?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://twinnote.org/"
                      rel="external nofollow ugc"
                      class="url">Paul Morris</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-12"
                    ><time datetime="2010-03-17T13:27:05+00:00"
                      >March 17, 2010 at 1:27 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>Dear Carol Collins,</p>
                <p>
                  Thank you for posting your comment. It is good to hear from
                  someone who knew Constance, and to hear your memories of her.
                  If she studied with Berg, she may have known of
                  Schoenberg&#8217;s chromatic staff music notation system
                  (given Berg&#8217;s and Schoenberg&#8217;s close ties):
                </p>
                <p>
                  <a
                    href="/system/untitled-by-arnold-schoenberg/"
                    rel="nofollow ugc">Untitled by Arnold Schoenberg</a
                  >
                </p>
                <p>
                  At any rate, it seems that she was familiar with 12-tone music
                  and that was probably an inspiration to her to design her
                  chromatic staff notation system.
                </p>
                <p>Thank you for your encouragement on our efforts.</p>
                <p>
                  Best regards,<br />
                  Paul Morris
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li class="comment even thread-even depth-1" id="li-comment-13">
            <article id="comment-13" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/ed164d11846f50849ddd3a43c2e12e2d?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/ed164d11846f50849ddd3a43c2e12e2d?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://mesothelioma-lawsuitt.info"
                      rel="external nofollow ugc"
                      class="url">M. Lawyer</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-13"
                    ><time datetime="2010-05-19T19:47:27+00:00"
                      >May 19, 2010 at 7:47 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  <i
                    >I remember when I first met Constance. I was a student
                    attending the University of San Diego. I was a music major
                    and I looked her up one day while I was preparing for my
                    master&#8217;s thesis. It was 1972 or 1973. I had been
                    studying Helmholtz and attended lectures by Roger Reynolds
                    and Paulina Oliveros. It was an amazing time to study music.
                    She had the most amazing pipe organ built within her home
                    that overlooked the inland valley.
                  </i><br />
                  +1
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-14"
          >
            <article id="comment-14" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/2b2b35c5454e2902a5d332ad325fc7ce?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/2b2b35c5454e2902a5d332ad325fc7ce?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://michaelsmusicservice.com"
                      rel="external nofollow ugc"
                      class="url">Michael Johnston</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-14"
                    ><time datetime="2010-05-21T18:44:03+00:00"
                      >May 21, 2010 at 6:44 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Carol, you wouldn&#8217;t happen to have a photo of Constance
                  would you?
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li class="comment even thread-even depth-1" id="li-comment-15">
            <article id="comment-15" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/b86cd4c8aba8a3b35562e767caa3e577?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/b86cd4c8aba8a3b35562e767caa3e577?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://twinnote.org"
                      rel="external nofollow ugc"
                      class="url">Paul Morris</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-15"
                    ><time datetime="2010-05-23T17:00:02+00:00"
                      >May 23, 2010 at 5:00 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  For those who do not know, Constance Virtue designed the
                  Notagraph alternative music notation system, which is shown
                  here:
                </p>
                <p>
                  <a
                    href="/system/notagraph-by-constance-virtue/"
                    rel="nofollow ugc">Notagraph by Constance Virtue</a
                  >
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-16"
          >
            <article id="comment-16" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/a86b22309c8f87e27914315f87ac5850?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/a86b22309c8f87e27914315f87ac5850?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn"
                    ><a
                      href="http://www.chromatic-staff.dk"
                      rel="external nofollow ugc"
                      class="url">Peter O S Hass</a
                    >
                  </span> on <a
                    href="/blog/2009/11/announcing-the-music-notation-project-wiki/#comment-16"
                    ><time datetime="2010-11-15T15:03:37+00:00"
                      >November 15, 2010 at 3:03 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Greetings<br />
                  Peter
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
