---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Website and Wiki Revision (Now Powered by WordPress)",
    "Blog"
  )}
  metaDescription="A blog post about revisions to the Music Notation Project website and wiki."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2011/09/wiki-improvements/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"></span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Website and Wiki Revision (Now Powered by WordPress)
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2013-04-04T00:37:15+00:00"
              >April 4, 2013</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            The Music Notation Project&#8217;s webmaster (Paul Morris), has
            recently completed a revision of our site that has been long in the
            works.  The site now runs on WordPress, which offers various
            advantages and will make it easier to maintain.  All of the
            site&#8217;s previous content and functionality remains, while the
            new design features:<span id="more-1826"></span>
          </p>
          <ul>
            <li>
              Drop-down navigation menus to make it easier to get around the
              site
            </li>
            <li>
              Better use of the space provided by wide screen monitors, for
              example&#8230;
            </li>
            <li>
              Full-size chromatic scale images in the <a
                href="/systems/gallery/">Gallery</a
              > (previously it had smaller thumbnails)
            </li>
            <li>Better support for smaller mobile and tablet screens</li>
            <li>
              Slight reorganization of the <a href="/systems/"
                >Notation Systems</a
              > section (each system now has its own page) and the <a
                href="/mnma/">MNMA</a
              > section (pages were combined to consolidate older material)
            </li>
            <li>
              Better integration of the <a href="/systems/audiovisualizer/"
                >AudioVisualizer</a
              > into the site
            </li>
            <li>
              Image of a staff with a bass clef and key signature with five
              sharps in the header (better than the previous treble clef at
              subtly indicating what we are about)
            </li>
            <li>Various other minor enhancements&#8230;</li>
          </ul>
          <h3>Wiki Also Now Using WordPress</h3>
          <p>
            One of the most significant changes is that the <a href="/wiki/"
              >Wiki</a
            > has also moved to WordPress (instead of the MediaWiki software that
            ran it previously). The way the Wiki works will remain much the same,
            but it should now be easier for contributors to edit the Wiki and upload
            images, PDFs, and other files to it. On the back end, it will be easier
            to maintain as well. All of the Wiki content has been moved over from
            our old installation. If you have edited the Wiki in the past, and would
            like to continue doing so, or would like to begin contributing to it,
            you will need a new account. Please <a
              href="/home/about-faq-contact-info/#contact">contact us</a
            > so we can set one up for you.
          </p>
          <h3>Previous Designs</h3>
          <p>
            Here is a screenshot showing the previous home page (for posterity):
          </p>
          <div
            id="attachment_1830"
            style="width: 310px"
            class="wp-caption alignnone"
          >
            <a href="/wp-content/uploads/2013/04/MNP-homepage-2011-2013.png"
              ><img
                aria-describedby="caption-attachment-1830"
                loading="lazy"
                class="size-medium wp-image-1830"
                alt="Screenshot of the previous home page."
                src="/wp-content/uploads/2013/04/MNP-homepage-2011-2013-300x217.png"
                width="300"
                height="217"
                srcset="/wp-content/uploads/2013/04/MNP-homepage-2011-2013-300x217.png 300w, /wp-content/uploads/2013/04/MNP-homepage-2011-2013-1024x742.png 1024w, /wp-content/uploads/2013/04/MNP-homepage-2011-2013-413x300.png 413w, /wp-content/uploads/2013/04/MNP-homepage-2011-2013.png 1259w"
                sizes="(max-width: 300px) 100vw, 300px"
              />
            </a><p id="caption-attachment-1830" class="wp-caption-text">
              The previous design. (Click for larger size.)
            </p>
          </div>
          <p>And the (incrementally different) design before that:</p>
          <div
            id="attachment_1836"
            style="width: 310px"
            class="wp-caption alignnone"
          >
            <a
              href="/wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010.png"
              ><img
                aria-describedby="caption-attachment-1836"
                loading="lazy"
                class="size-medium wp-image-1836"
                alt="Screenshot of previous site design."
                src="/wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010-300x168.png"
                width="300"
                height="168"
                srcset="/wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010-300x168.png 300w, /wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010-1024x573.png 1024w, /wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010-500x280.png 500w, /wp-content/uploads/2013/04/MNP-site-screenshot-2009-2010.png 1267w"
                sizes="(max-width: 300px) 100vw, 300px"
              />
            </a><p id="caption-attachment-1836" class="wp-caption-text">
              Two designs back. (Click for larger size.)
            </p>
          </div>
          <p>And one more before that, for good measure:</p>
          <div
            id="attachment_1697"
            style="width: 310px"
            class="wp-caption alignnone"
          >
            <a href="/wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010.png"
              ><img
                aria-describedby="caption-attachment-1697"
                loading="lazy"
                class="size-medium wp-image-1697"
                alt="The next previous design. (Click for larger size.)"
                src="/wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010-300x194.png"
                width="300"
                height="194"
                srcset="/wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010-300x194.png 300w, /wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010-1024x664.png 1024w, /wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010-462x300.png 462w, /wp-content/uploads/2013/03/MNPSiteScreenshot-Feb2010.png 1172w"
                sizes="(max-width: 300px) 100vw, 300px"
              />
            </a><p id="caption-attachment-1697" class="wp-caption-text">
              Three designs back. (Click for larger size.)
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
