---
import MnpLayout from "../../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("Sibelius", "Software")}
  metaDescription="Sibelius plugins offer some potential for using Sibelius with alternative music notations."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            Sibelius and Alternative Music Notation Systems
          </h1>
        </header>

        <div class="entry-content">
          <p>
            Along with Finale, Sibelius is one of the most widely used
            commercial, closed-source applications for music notation. It has a
            plug-in architecture that could allow for basic transnotation of
            music into chromatic-staff notation systems. When we inquired into
            the possibilities (in June of 2009), the following is what we found.
          </p>
          <p>
            <em
              >Note: the information below now appears to be out-of-date and no
              longer accurate.  We were contacted by a Sibelius plug-in
              developer (in February 2011) who has created plug-ins for
              alternative notation systems in Sibelius, including those that use
              a chromatic staff.  Starting with Sibelius 6 it is apparently
              possible, at least with certain alternative notation systems.</em
            >
          </p>
          <p><em><br /></em></p>
          <p>
            Unfortunately Sibelius is not very well suited for use with
            chromatic-staff notations since its approach to the staff is
            currently &#8220;hard wired&#8221; to the traditional diatonic
            pattern of pitches, plus accidentals. There is no way for a user or
            plug-in to re-map the pitches on the staff to a chromatic pattern
            instead. (Compare with <a href="/software/finale/">Finale</a> which allows
            customization of the position of pitches on the staff for use with percussion
            notation.)
          </p>
          <p>
            However, there might still be a way to achieve basic transnotation
            of music into chromatic-staff notation systems in Sibelius. This
            would involve creating a plug-in that would copy music from a
            traditional staff onto a custom alternative staff. The plug-in would
            do this by importing a &#8220;house style,&#8221; in which an
            instrument type had been created for the desired number of staff
            lines on the custom staff. The plug-in would then move the notes on
            the custom staff so they <em>appear</em> at the correct staff-position
            (as if the staff was a chromatic staff). Their pitches and playback would
            now be incorrect.
          </p>
          <p>
            To preserve playback, the original traditional staff could remain
            alongside the custom &#8220;chromatic&#8221; staff, in the same
            score. It would then be possible for the plug-in to visually hide
            the original staff (using &#8220;Focus on Staves&#8221;) and aurally
            mute the custom staff (in the Mixer). You would then have a custom
            &#8220;chromatic&#8221; staff that looks correct that you would see,
            and a traditional staff that sounds correct that you would hear.
          </p>
          <p>
            This would be a fairly complex process, and there may be various
            &#8220;gotchas&#8221; involved in copying the music to a custom
            staff and making sure it is correct. If successful, this would
            provide a basic transnotation feature, but one would still have to
            do any composing or editing in traditional notation beforehand.
          </p>
          <p>
            (We thank those at Avid/Sibelius who provided their helpful insight
            and information on this topic.)
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
