---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Traditional Music Notation", "Wiki")}
  metaDescription="Documentation of traditional music notation, resources that may be of use to those interested in designing or using alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Traditional Music Notation</h1>
        </header>

        <div class="entry-content">
          <p>
            There are many resources available for Traditional Notation, known
            also as Western Notation and simply as &#8220;music&#8221; writing.
            The <a href="http://mpa.org" rel="nofollow"
              >Music Publishers Association</a
            > has created a valuable document:
          </p>
          <p>
            <strong
              ><a
                title="Standard music notation practice.pdf"
                href="/wp-content/uploads/2013/03/Standard_music_notation_practice.pdf"
              >
                Standard Music Notation Practice (PDF)</a
              >
            </strong>
          </p>
          <p>
            It offers in one document the list of implemented and accepted
            practices used by music publishers for decades. In many instances,
            designers of alternative notation systems will find guidelines that
            apply to their systems.
          </p>
          <p>
            A professor at Indiana University has a Web page listing many
            borderline cases in traditional music notation: <a
              href="http://www.informatics.indiana.edu/donbyrd/CMNExtremes.htm"
              rel="nofollow">Extremes of Conventional Music Notation</a
            >. This can be useful to notation inventors in considering various
            limits that they might want their new systems to handle. Don&#8217;t
            overlook the <a
              href="http://www.informatics.indiana.edu/donbyrd/CMNExtremes.htm"
              rel="nofollow">illustrations</a
            >.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
