---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("F. Chopin", "Wiki")}
  metaDescription="Sheet music for works by Frédéric Chopin in alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">F. Chopin</h1>
        </header>

        <div class="entry-content">
          <p>Works by Frédéric Chopin in alternative music notation systems.</p>
          <p>
            The following free sheet music files are available in <a
              title="Express Stave by John Keller"
              href="/system/express-stave-by-john-keller/"
              rel="nofollow">Express Stave</a
            > notation (PDF files).  They were created by John Keller using <a
              title="Finale and Alternative Music Notation Systems"
              href="/software/finale/">Finale</a
            >.
          </p>
          <ul>
            <li>
              <a
                title="Chopin Black Key Etude ES.pdf"
                href="/wp-content/uploads/2013/03/Chopin-Black-Key-Etude-reverse-ES.pdf"
              >
                Black Key Etude, Op 10, No 5</a
              >
            </li>
            <li>
              <a
                title="Chopin Revolutionary Etude ES.pdf"
                href="/wp-content/uploads/2017/07/Chopin-Revolutionary-Etude-reverseES.pdf"
              >
                Revolutionary Etude, Op 10, No 12</a
              >
            </li>
            <li>
              <a
                title="Chopin Fantasie-Impromptu ES.pdf"
                href="/wp-content/uploads/2013/03/Chopin-Fantasie-Impromptu-reverseES-with-cut.pdf"
              >
                Fantasie-Impromptu, Op 66</a
              >
            </li>
            <li>
              <a
                title="Chopin Prelude in Em Op 28 No 4 ES.pdf"
                href="/wp-content/uploads/2021/04/Chopin-Prelude-in-Em-Op-28-No-4-reverseES.pdf"
              >
                Prelude in E minor, Op 28, No 4</a
              >
            </li>
            <li>
              <a
                title="Chopin Minute Waltz Op 64 No 1 ES.pdf"
                href="/wp-content/uploads/2017/07/Chopin-Minute-Waltz-Op-64-No-1-reverseES.pdf"
              >
                Minute Waltz, Op 64, No 1</a
              >
            </li>
            <li>
              <a
                title="Chopin Waltz in Ab Op69No1 ES.pdf"
                href="/wp-content/uploads/2017/07/Chopin-Waltz-in-Ab-Op69No1-reverseES.pdf"
              >
                Waltz in Ab, Op 69, No 1</a
              >
            </li>
            <li>
              <a
                title="Chopin Mazurka jazz font ES.pdf"
                href="/wp-content/uploads/2017/07/Chopin-Mazurka-Op63-No2-reverseES.pdf"
              >
                Mazurka in F minor, Op 63, No 2</a
              >
            </li>
            <li>
              <a
                title="Chopin nocturne op9 n2-ES.pdf"
                href="/wp-content/uploads/2013/03/Chopin-Nocturne-Op9-No2-reverseES.pdf"
              >
                Nocturne in E flat Major, Op 9, No 2</a
              >
            </li>
          </ul>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
