---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Rhythm Notation Overview", "Wiki")}
  metaDescription="Overview of various approaches to rhythm notation in alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Rhythm Notation Overview</h1>
        </header>

        <div class="entry-content">
          <p>
            There are various approaches to notating rhythm in alternative music
            notation systems. This page gives a brief overview of some of these
            approaches, and provides a place to collect additional information
            about them.
          </p>
          <h3>Traditional and Modified Traditional Rhythm Notation</h3>
          <p>
            Many alternative music notation systems use the established rhythmic
            symbols of traditional notation. Sometimes these are adopted with
            slight modifications, often introducing new ways to differentiate
            between quarter notes and half notes so that hollow and solid notes
            can be used to help indicate pitch (see this tutorial: <a
              href="/tutorials/noteheads-and-pitch/">Noteheads and Pitch</a
            > ). This provides continuity with traditional notation, but does not
            really attempt to improve upon the traditional notation of rhythm.
          </p>
          <h3>Proportional Rhythm Notation</h3>
          <p>
            Some alternative music notation systems use proportional spacing on
            the time-axis of the staff (whether vertical or horizontal) to
            indicate rhythm. <a
              title="Klavar, Mirck Version by Jean de Buur"
              href="/system/klavar-mirck-version-by-jean-de-buur/"
              rel="nofollow">Klavar Music Notation</a
            > is a well-established example of this approach. To help the reader
            see the intended rhythm, Klavar uses not only the usual solid bar lines
            but also dashed beat lines.
          </p>
          <p>
            (Proportional spacing has also been used by many composers, starting
            in the 20th century, on a traditional staff with traditional pitch
            notation. Typically this is done when the composer doesn&#8217;t
            wish to imply a meter or a regular beat, and often the composer uses
            black noteheads without stems. This approach is referred to as
            &#8220;<a
              href="http://lilypond.org/doc/v2.18/Documentation/notation/proportional-notation"
              >proportional notation</a
            >,&#8221; &#8220;time notation,&#8221; or &#8220;spatial
            notation.&#8221;  The first of these terms is also used by music
            historians to refer to <a
              href="https://en.wikipedia.org/wiki/Mensural_notation"
              >mensural notation</a
            >, however.)
          </p>
          <h3>Alternative Symbol-Based Rhythm Notation</h3>
          <p>
            Other alternative music notation systems introduce more thoroughly
            re-designed rhythmic symbol systems. An example of this approach is
            Mark Gould&#8217;s rhythm notation system for <a
              href="/wiki/notation-systems/equiton-by-rodney-fawcett/"
            >
              Equiton</a
            >, as described in these presentation slides (<a
              href="/wp-content/uploads/2013/03/Gould_Equiton_Slides.pdf"
              >Gould_Equiton_Slides.pdf</a
            >) that were originally posted on <a
              href="http://www.users.waitrose.com/%7Eequiton/Mark_Gould/About_Me.html"
              target="_blank"
              rel="nofollow">his website</a
            >. Another example is <a
              href="/system/panot-notation-by-george-skapski/">Panot</a
            >.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
