---
import MnpLayoutBlog from "../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("Blog")}
  metaDescription="News, notes, and the latest developments from the Music Notation Project."
>
  <div id="primary">
    <div id="content" role="main">
      <!-- <header class="page-header">
        <h1 class="page-title">Blog</h1>
        <p>
          News, notes, and the latest developments from the Music Notation
          Project.
        </p>
      </header> -->

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2013/04/website-and-wiki-revision-now-powered-by-wordpress/"
              title="Permalink to Website and Wiki Revision (Now Powered by WordPress)"
              rel="bookmark"
              >Website and Wiki Revision (Now Powered by WordPress)</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            The Music Notation Project&#8217;s webmaster (Paul Morris), has
            recently completed a revision of our site that has been long in the
            works.  The site now runs on WordPress, which offers various
            advantages and will make it easier to maintain.  All of the
            site&#8217;s previous content and functionality remains, while the
            new design features: <a
              href="/blog/2013/04/website-and-wiki-revision-now-powered-by-wordpress/#more-1826"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2013-04-04T00:37:15+00:00"
            >April 4, 2013</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2011/09/wiki-improvements/"
              title="Permalink to Wiki Improvements"
              rel="bookmark">Wiki Improvements</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            We have recently upgraded our <a href="/wiki/">wiki&#8217;s</a> software
            and tweaked our installation to offer the following improvements:
          </p>
          <ul>
            <li>
              Easier navigation: on any page click the [+] next to any category
              listed in the left hand column to reveal links to all pages in
              that category.
            </li>
            <li>
              More user-friendly editing tools that make it easier for anyone to
              edit pages on the wiki.  For example, it is much simpler to add
              links, images, tables, etc.
            </li>
            <li>
              The search box now suggests pages you may be searching for, as you
              type.
            </li>
            <li>Pages generally load faster.</li>
          </ul>
          <p>
            We are pleased that the wiki now contains 26 content pages.  That is
            an average of more than one page added per month since we launched
            the wiki in November 2009!  <a
              href="/blog/2011/09/wiki-improvements/#more-498"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2011-09-27T20:39:54+00:00"
            >September 27, 2011</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2011/09/more-scales-intervals-and-melodies-with-the-audiovisualizer/"
              title="Permalink to More Scales, Intervals, and Melodies with the AudioVisualizer"
              rel="bookmark"
              >More Scales, Intervals, and Melodies with the AudioVisualizer</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            The alternative music notation systems on our website are typically
            illustrated with a simple image of a chromatic staff.  That&#8217;s
            a great place to start, but you have to really use your imagination
            to get a sense of what reading music might be like in a given
            system.
          </p>
          <p>
            Wouldn&#8217;t it be much better if you could also see major and
            minor scales from any key, all the different intervals, some typical
            melodies, even melodies that you play yourself, and also be able to
            hear the notes that you are seeing?  Now you can with a fun new tool
            we are introducing called the &#8220;<a
              title="Alternative Music Notation AudioVisualizer"
              href="/systems/audiovisualizer/">AudioVisualizer</a
            >.&#8221;  You can find it under the <a
              title="Alternative music notation systems"
              href="/systems/">Music Notations</a
            > heading on our site. <a
              href="/blog/2011/09/more-scales-intervals-and-melodies-with-the-audiovisualizer/#more-497"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2011-09-08T09:58:39+00:00"
            >September 8, 2011</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2011/05/chromatic-lyre-notation-reverse-color-express-stave-twinnote-and-more/"
              title="Permalink to Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote, and More"
              rel="bookmark"
              >Chromatic Lyre Notation, Reverse-Color Express Stave, TwinNote,
              and More</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            There are several notation systems that have been documented on our
            website over the past year or so that we have not yet mentioned on
            our blog.  So we would like to bring them to the attention of our
            readers.  (This is the second in a series of posts summarizing some
            of what has been going on in the past year or so, in case you missed
            it over on our <a
              href="https://groups.google.com/forum/#%21forum/musicnotation"
              >Forum</a
            >.) <a
              href="/blog/2011/05/chromatic-lyre-notation-reverse-color-express-stave-twinnote-and-more/#more-495"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2011-05-17T12:23:28+00:00"
            >May 17, 2011</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2011/03/lilypond-musescore-and-more-software-news/"
              title="Permalink to LilyPond, MuseScore, and More Software News"
              rel="bookmark">LilyPond, MuseScore, and More Software News</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            It is hard to believe that a year has gone by since our last blog
            post.  Luckily this lack of posts does not reflect a lack of things
            that we should have been posting about.  So this will be the first
            of several posts summarizing some of what has been going on in the
            past year, in case you missed any of it over on our <a
              href="https://groups.google.com/forum/#%21forum/musicnotation"
              >Forum</a
            >. <a
              href="/blog/2011/03/lilypond-musescore-and-more-software-news/#more-496"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2011-03-26T14:32:57+00:00"
            >March 26, 2011</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2010/03/git-repository-for-lilypond/"
              title="Permalink to Git Repository for Lilypond Work, KLAVAR! software, and Website Improvements"
              rel="bookmark"
              >Git Repository for Lilypond Work, KLAVAR! software, and Website
              Improvements</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            In January Andrew Wagner  set up a <a
              href="http://wiki.github.com/drewm1980/lilypond-an/"
              target="_blank"
              rel="noopener">Git repository</a
            > to help organize and facilitate future work on adding support for chromatic
            staves to <a
              href="http://www.lilypond.org/"
              target="_blank"
              rel="noopener">Lilypond</a
            >.  The most recent version of Kevin Dalley&#8217;s code is now
            hosted there, including the Mark Hanlon&#8217;s updates to it. This
            will make it easier for developers to work with the code, keep it
            compatible with newer versions of Lilypond, and eventually
            contribute our code back to the official Lilypond application.  Read
            more about it on the <a
              href="http://wiki.github.com/drewm1980/lilypond-an/"
              target="_blank"
              rel="noopener">repository&#8217;s wiki</a
            > and our <a href="/software/lilypond/"
              >Lilypond and Alternative Notation Systems</a
            > page.  A big thank you to Andrew for his work on this! <a
              href="/blog/2010/03/git-repository-for-lilypond/#more-494"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2010-03-17T15:46:05+00:00"
            >March 17, 2010</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/11/announcing-the-music-notation-project-wiki/"
              title="Permalink to Announcing the Music Notation Project Wiki"
              rel="bookmark">Announcing the Music Notation Project Wiki</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            We are pleased to announce the <a href="/wiki/"
              >Music Notation Project Wiki</a
            >, a new addition to the <a href="/home/community/">Community</a> section
            of our website. Like the <a href="/mnma/">MNMA</a>&#8216;s quarterly
            newsletter (<a href="/mnma/publications/#news"
              >Music Notation News</a
            >), and our <a href="http://groups.google.com/group/musicnotation"
              >Forum</a
            > (Google Group), this wiki will provide a means for our community to
            share ideas, knowledge, proposals, examples, experiments, images, and
            sheet music for alternative notation systems. <a
              href="/blog/2009/11/announcing-the-music-notation-project-wiki/#more-493"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-11-02T09:11:00+00:00"
            >November 2, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/"
              title="Permalink to Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music notation systems"
              rel="bookmark"
              >Numbered Notes, 6-6 Jazz Font Express Stave, and TwinNote music
              notation systems</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            In case you haven&#8217;t seen them, check out the following
            notation systems that have been added to our website in recent
            months. <a
              href="/blog/2009/08/numbered-notes-6-6-jazz-font-express-stave-and-twinnote/#more-492"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-08-07T21:55:00+00:00"
            >August 7, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/06/now-on-facebook/"
              title="Permalink to The Music Notation Project is now on Facebook"
              rel="bookmark">The Music Notation Project is now on Facebook</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            <span style="font-family: verdana; font-size: 100%;"
              >The Music Notation Project</span
            ><span style="font-family: verdana; font-size: 100%;">
              now has a public profile on <a href="http://www.facebook.com/"
                >Facebook</a
              >. This will help us connect with more people and build awareness
              of our organization and its mission. <a
                href="/blog/2009/06/now-on-facebook/#more-491"
                class="more-link"
                >Continue reading <span class="meta-nav">&rarr;</span>
              </a>
            </span>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-06-13T09:44:00+00:00"
            >June 13, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/06/new-interactive-gallery-of-music-notation-systems/"
              title="Permalink to New Interactive Gallery of Music Notation Systems, and Updated Guided Tour"
              rel="bookmark"
              >New Interactive Gallery of Music Notation Systems, and Updated
              Guided Tour</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            Have you ever wanted to select the set of characteristics you want
            in an alternative music notation system, and then quickly see which
            systems have them? Now you can with our new interactive <a
              style="font-family: verdana;"
              href="/systems/gallery/">Gallery of Music Notation Systems</a
            >. <a
              href="/blog/2009/06/new-interactive-gallery-of-music-notation-systems/#more-490"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-06-11T09:00:00+00:00"
            >June 11, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/02/enharmonic-equivalents-tutorial/"
              title="Permalink to Enharmonic Equivalents Tutorial and More"
              rel="bookmark">Enharmonic Equivalents Tutorial and More</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            It has been one year and one month since the inception of the Music
            Notation Project on January 17th, 2008. We would like to note this
            belated anniversary and to announce some recent and some less recent
            additions and revisions to our website. <a
              href="/blog/2009/02/enharmonic-equivalents-tutorial/#more-489"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-02-18T10:21:00+00:00"
            >February 18, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2009/02/review-of-e-m-humes-supermusicology/"
              title="Permalink to Review of E.M. Hume’s “Supermusicology”"
              rel="bookmark"
              >Review of E.M. Hume&#8217;s &#8220;Supermusicology&#8221;</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>by Paul Morris</p>
          <p>
            <span style="font-style: italic;">Supermusicology</span> is Ernest Moore
            Hume&#8217;s book about his alternative music notation system “SuperMusic”
            and how it seeks to improve upon traditional music notation. It is written
            in a conversational tone with many helpful illustrations. I particularly
            enjoyed reading the history section of the book and its account of the
            use of various staves with different numbers of lines in western music
            history. <a
              href="/blog/2009/02/review-of-e-m-humes-supermusicology/#more-488"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2009-02-04T20:00:00+00:00"
            >February 4, 2009</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/09/finale-notepad-2006-get-it/"
              title="Permalink to Finale NotePad 2006: Get it while you still can!"
              rel="bookmark">Finale NotePad 2006: Get it while you still can!</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            MakeMusic, Inc. has <a
              href="http://downloads2.makemusic.com/pdf/notepad/NP2009_Announcement.pdf"
              >announced</a
            > that in the next few weeks they will stop offering older versions of
            their <a href="http://www.finalemusic.com/notepad/"
              >Finale NotePad software</a
            > for free download from their website. (They will start charging $10
            for NotePad 2009, and offer a new free Finale Reader that has no editing
            functions.) <a
              href="/blog/2008/09/finale-notepad-2006-get-it/#more-487"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-09-12T09:08:00+00:00"
            >September 12, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/07/our-new-domain/"
              title="Permalink to Our new domain: https://musicnotation.org"
              rel="bookmark">Our new domain: https://musicnotation.org</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            Our domain has now changed to the shorter and simpler <a href="/"
              >musicnotation.org</a
            > This domain was not available last January when the Music Notation
            Project&#8217;s site was launched at musicnotationproject.org We think
            this change will save everyone a lot of keystrokes over time. <a
              href="/blog/2008/07/our-new-domain/#more-486"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-07-31T13:42:00+00:00"
            >July 31, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/07/13-notation-systems-added/"
              title="Permalink to 13 Notation Systems Added to Our Site"
              rel="bookmark">13 Notation Systems Added to Our Site</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            In addition to re-doing the images in the &#8220;music
            notations&#8221; section of our site, we&#8217;ve added thirteen
            notation systems, bringing the number of systems on our site to more
            than thirty-seven. <a
              href="/blog/2008/07/13-notation-systems-added/#more-485"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-07-30T13:24:00+00:00"
            >July 30, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/07/website-revisions-music-notations/"
              title="Permalink to Website Revisions: Music Notations and Homepage"
              rel="bookmark">Website Revisions: Music Notations and Homepage</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            Our webmaster has been hard at work on some welcome enhancements to
            the &#8220;music notations&#8221; section of our website. Gone are
            the old, grainy, scanned-in images of chromatic scales from the <a
              href="/mnma/publications/#proposals"
              >Directory of Music Notation Proposals</a
            >; they&#8217;ve been replaced with crisp, clean computer-graphics
            images. In addition we&#8217;ve added information on the year in
            which each notation system was first documented, and added a page
            where they are <a href="/systems/gallery/">sorted by date</a>. <a
              href="/blog/2008/07/website-revisions-music-notations/#more-484"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-07-29T13:04:00+00:00"
            >July 29, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/02/new-forum-tutorials-and-website-search/"
              title="Permalink to New Forum, Tutorials, and Website Search"
              rel="bookmark">New Forum, Tutorials, and Website Search</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            <span style="font-size: 100%;"
              ><span style="font-weight: bold;">New Forum</span><br />
              We have launched the Music Notation Project Forum, a discussion group
              hosted by Google Groups. Anyone interested is welcome to join. <a
                href="/blog/2008/02/new-forum-tutorials-and-website-search/#more-24"
                class="more-link"
                >Continue reading <span class="meta-nav">&rarr;</span>
              </a>
            </span>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-02-29T08:25:00+00:00"
            >February 29, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            <a
              href="/blog/2008/01/introducing-the-music-notation-project/"
              title="Permalink to Introducing… The Music Notation Project"
              rel="bookmark">Introducing&#8230; The Music Notation Project</a
            >
          </h1>
        </header>

        <div class="entry-content">
          <p>
            We are pleased to announce the beginning of a new era in the life of
            our association. The <a href="/mnma/"
              >Music Notation Modernization Association (MNMA)</a
            > was officially disbanded in 2007 by its founder and president Tom Reed,
            and has now been succeeded by a new project under new leadership. <a
              href="/blog/2008/01/introducing-the-music-notation-project/#more-23"
              class="more-link"
              >Continue reading <span class="meta-nav">&rarr;</span>
            </a>
          </p>
        </div>

        <footer class="entry-meta">
          <span class="sep">Posted on</span>
          <time class="entry-date" datetime="2008-01-17T20:33:00+00:00"
            >January 17, 2008</time
          ><span class="by-author">
            <span class="sep"> by</span>
            <span class="author vcard"
              ><a
                class="url fn n"
                href="/blog/author/mnpadmin/"
                title="View all posts by Webmaster"
                rel="author">Webmaster</a
              >
            </span>
          </span>
        </footer>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
