---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Harpejji", "Wiki")}
  metaDescription="The Harpejji is an isomorphic string instrument that is like a cross between an electric guitar and a Janko keyboard."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Harpejji</h1>
        </header>

        <div class="entry-content">
          <p>
            The Harpejji is an isomorphic string instrument. It is like a cross
            between an electric guitar and a <a
              href="/wiki/instruments/janko-keyboar/"
            >
              Janko Keyboard</a
            >. The pitch layout is similar to a Janko keyboard except that there
            are no duplicated rows; each row is a half-step higher.
          </p>
          <p>
            <a href="/wp-content/uploads/2013/03/harpejji-layout.png"
              ><img
                loading="lazy"
                class="alignnone size-medium wp-image-1447"
                alt="harpejji-layout"
                src="/wp-content/uploads/2013/03/harpejji-layout-300x233.png"
                width="300"
                height="233"
                srcset="/wp-content/uploads/2013/03/harpejji-layout-300x233.png 300w, /wp-content/uploads/2013/03/harpejji-layout-385x300.png 385w, /wp-content/uploads/2013/03/harpejji-layout.png 823w"
                sizes="(max-width: 300px) 100vw, 300px"
              />
            </a>
          </p>
          <p>
            24 strings are tuned a whole step apart, for a four-octave range of
            open strings, plus 15 frets a half-step apart, for a total range of
            over 5 octaves (A0, by which they probably mean the lowest A on the
            piano, to A5). There is also a smaller model with 16 strings and 19
            frets for a four-octave total range.
          </p>
          <p>
            For more about the pitch layout and the instrument, see the Harpejji
            website <a href="http://www.marcodi.com">www.marcodi.com</a>,
            particularly <a
              href="http://www.marcodi.com/product/benefits/an-isomorphic-instrument/"
              >here</a
            > and <a href="http://www.marcodi.com/harpejji.html">here</a>.
          </p>
          <p>
            The Harpejji was preceded by the <a
              href="http://infohost.nmt.edu/~starrett/StarrBoard.html"
              >StarrBoard</a
            >, which was invented years ago by John Starrett. The patent on the
            StarrBoard has now expired. According to the Harpejji website, the
            StarrBoard had strings tuned a semitone apart rather than a whole
            tone. So the Harpejji layout is closer to the Janko keyboard layout.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
