---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "More Scales, Intervals, and Melodies with the AudioVisualizer",
    "Blog"
  )}
  metaDescription="A blog post introducing the Music Notation Project's AudioVisualizer."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a
            href="/blog/2011/05/chromatic-lyre-notation-reverse-color-express-stave-twinnote-and-more/"
            rel="prev"><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2011/09/wiki-improvements/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            More Scales, Intervals, and Melodies with the AudioVisualizer
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2011-09-08T09:58:39+00:00"
              >September 8, 2011</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            The alternative music notation systems on our website are typically
            illustrated with a simple image of a chromatic staff.  That&#8217;s
            a great place to start, but you have to really use your imagination
            to get a sense of what reading music might be like in a given
            system.
          </p>
          <p>
            Wouldn&#8217;t it be much better if you could also see major and
            minor scales from any key, all the different intervals, some typical
            melodies, even melodies that you play yourself, and also be able to
            hear the notes that you are seeing?  Now you can with a fun new tool
            we are introducing called the &#8220;<a
              title="Alternative Music Notation AudioVisualizer"
              href="/systems/audiovisualizer/">AudioVisualizer</a
            >.&#8221;  You can find it under the <a
              title="Alternative music notation systems"
              href="/systems/">Music Notations</a
            > heading on our site.<span id="more-497"></span>
          </p>
          <p>
            The AudioVisualizer is still a work in progress, but it can already
            display 23 of the systems shown on our <a
              title="Guided tour of alternative music notation systems"
              href="/systems/">Guided Tour</a
            > and <a
              title="Gallery of alternative music notation systems"
              href="/systems/gallery/">Gallery</a
            > pages.  (However, in some cases it does not fully represent <em
              >every</em
            > aspect of a given system, as described <a
              href="/systems/audiovisualizer/#systems">here</a
            >.)  It also lets you experiment with variations on these systems by
            altering their notehead pattern (i.e. black/solid and white/hollow
            noteheads) or by shifting the vertical position of the staff up or
            down relative to the pitches of the chromatic scale.  We plan to add
            additional notation systems as time permits, but we wanted to go
            ahead and put it out there so people could start taking advantage of
            it.
          </p>
          <p>
            We could tell you more about its various features (like its
            three-octave range, auto-scrolling staff, or use of HTML5 audio),
            but it would be better to just <a
              title="Alternative Music Notation AudioVisualizer"
              href="/systems/audiovisualizer/">give it a try yourself</a
            >.  (For best results with the audio, we recommend using the <a
              href="http://www.mozilla.org">Firefox</a
            > web browser, although most other browsers should work adequately; see
            this <a href="/systems/audiovisualizer/#audio"
              >note about HTML5 audio</a
            >).
          </p>
          <p>
            Please help us out by sharing it with anyone who might be
            interested, and let us know what you think in the comments below, or
            on our <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              >Forum</a
            >!
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
