/*
Theme Name: MNP Twenty Eleven Child Theme
Theme URI: http://musicnotation.org/
Author: Paul Morris
Description: Twenty Eleven Child theme for the MNP website.
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
:focus {
  /* remember to define focus styles! */
  outline: 0;
}
body {
  background: #fff;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
}
caption {
  font-weight: normal;
  text-align: left;
}
th,
td {
  font-weight: normal;
  /* text-align: left; moved to table to allow table-wide property setting */
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a img {
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* =Structure
----------------------------------------------- */

body {
  padding: 0 0.3em; /*MNP*/
}
#page {
  /* margin: 1.5em auto 0; MNP */
  margin: 0 auto; /* MNP astro */
  max-width: 1150px; /*MNP*/
  padding-bottom: 48px; /*MNP*/
}
#page-footer {
  /*MNP to contain footer, matches #page */
  margin: 0 auto 0;
  max-width: 1150px;
}
#branding hgroup {
  margin: 0 5.6%;
  background: url("/wp-content/themes/twentyeleven-mnp/images/bass-mnp-logo-blue5.png")
    no-repeat;
  background-position: 0 31px;
  padding-left: 112px;
}
#access div {
  margin: 0 5.6%;
}
#primary {
  float: left;
  margin: 0 -26.4% 0 0;
  width: 100%;
}
#content {
  margin: 0 34% 0 7.6%;
  width: 58.4%;
}
#secondary {
  float: right;
  margin-right: 7.6%;
  width: 18.8%;
  padding-top: 20px; /*MNP*/
}

/* Singular */
.singular #primary {
  margin: 0;
}
.singular #content,
.left-sidebar.singular #content {
  margin: 0 16%; /*MNP*/
  position: relative;
  width: auto;
}
.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
  margin: 0 auto;
  width: 100%; /*MNP*/
}

/* Attachments */
.singular .image-attachment .entry-content {
  margin: 0 auto;
  width: auto;
}
.singular .image-attachment .entry-description {
  margin: 0 auto;
  width: 68.9%;
}

/* Showcase */ /* MNP */

/* error404 */
.error404 #primary {
  float: none;
  margin: 0;
}
.error404 #primary #content {
  margin: 0 7.6%;
  width: auto;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.625em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.625em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Right Content */
.left-sidebar #primary {
  float: right;
  margin: 0 0 0 -26.4%;
  width: 100%;
}
.left-sidebar #content {
  margin: 0 7.6% 0 34%;
  width: 58.4%;
}
.left-sidebar #secondary {
  float: left;
  margin-left: 7.6%;
  margin-right: 0;
  width: 18.8%;
}

/* One column */
.one-column #page {
  max-width: 690px;
}
.one-column #content {
  margin: 0 7.6%;
  width: auto;
}
.one-column #nav-below {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.625em;
}
.one-column #secondary {
  float: none;
  margin: 0 7.6%;
  width: auto;
}
/* Simplify the showcase template */
.one-column .page-template-showcase-php section.recent-posts {
  float: none;
  margin: 0;
  width: 100%;
}
.one-column .page-template-showcase-php #main .widget-area {
  float: none;
  margin: 0;
  width: auto;
}
.one-column .page-template-showcase-php .other-recent-posts {
  border-bottom: 1px solid #ddd;
}
/* Simplify the showcase template when small feature */
.one-column section.featured-post .attachment-small-feature {
  border: none;
  display: block;
  height: auto;
  max-width: 60%;
  position: static;
}
.one-column article.feature-image.small {
  margin: 0 0 1.625em;
  padding: 0;
}
.one-column article.feature-image.small .entry-title {
  font-size: 20px;
  line-height: 1.3em;
}
.one-column article.feature-image.small .entry-summary {
  height: 150px;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
}
.one-column article.feature-image.small .entry-summary a {
  left: -9%;
}
/* Remove the margin on singular articles */
.one-column.singular .entry-header,
.one-column.singular .entry-content,
.one-column.singular footer.entry-meta,
.one-column.singular #comments-title {
  width: 100%;
}
/* Simplify the pullquotes and pull styles */
.one-column.singular blockquote.pull {
  margin: 0 0 1.625em;
}
.one-column.singular .pull.alignleft {
  margin: 0 1.625em 0 0;
}
.one-column.singular .pull.alignright {
  margin: 0 0 0 1.625em;
}
.one-column.singular .entry-meta .edit-link a {
  position: absolute;
  left: 0;
  top: 40px;
}
.one-column.singular #author-info {
  margin: 2.2em -8.8% 0;
  padding: 20px 8.8%;
}
/* Make sure we have room for our comment avatars */
.one-column .commentlist > li.comment {
  margin-left: 102px;
  width: auto;
}
/* Make sure the logo and search form don't collide */
.one-column #branding #searchform {
  right: 40px;
  top: 4em;
}
/* Talking avatars take up too much room at this size */
.one-column .commentlist > li.comment {
  margin-left: 0;
}
.one-column .commentlist > li.comment .comment-meta,
.one-column .commentlist > li.comment .comment-content {
  margin-right: 85px;
}
.one-column .commentlist .avatar {
  background: transparent;
  display: block;
  padding: 0;
  top: 1.625em;
  left: auto;
  right: 1.625em;
}
.one-column .commentlist .children .avatar {
  background: none;
  padding: 0;
  position: absolute;
  top: 2.2em;
  left: 2.2em;
}
.one-column #respond {
  width: auto;
}

/* =Global
----------------------------------------------- */

body,
input,
textarea {
  color: #373737;
  font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; /*MNP*/
  line-height: 1.625;
}
#content {
  /*MNP add*/
  font-family: Verdana, Arial, sans-serif;
}
body {
  background: rgb(203, 211, 226); /*MNP*/
}
#page {
  background: #fff;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.625em;
}

/* Text elements */
p {
  margin-bottom: 1.625em;
}
ul,
ol {
  margin: 0 0 1.625em 2.5em;
}
ul {
  list-style: square;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}
dl {
  margin: 0 1.625em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.625em;
}
strong {
  font-weight: bold;
}
cite,
em,
i {
  font-style: italic;
}
blockquote {
  font-family: Georgia, "Bitstream Charter", serif;
  font-style: italic;
  font-weight: normal;
  margin: 0 3em;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}
blockquote cite {
  color: #666;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
pre {
  background: #f4f4f4;
  font: 13px "Courier 10 Pitch", Courier, monospace;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}
code,
kbd,
samp,
var {
  font: 13px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym,
dfn {
  border-bottom: 1px dotted #666;
  cursor: help;
}
address {
  display: block;
  margin: 0 0 1.625em;
}
ins {
  background: #fff9c0;
  text-decoration: none;
}
sup,
sub {
  font-size: 10px;
  height: 0;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}

/* Forms */
input[type="text"],
input[type="password"],
textarea {
  background: #fafafa;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  color: #888;
}
input[type="text"]:focus,
textarea:focus {
  color: #373737;
}
textarea {
  padding-left: 3px;
  width: 98%;
}
input[type="text"] {
  padding: 3px;
}
input#s {
  background: url(images/search.png) no-repeat 5px 6px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
}
input#searchsubmit {
  display: none;
}

/* Links */
a {
  color: rgb(60, 125, 188); /*MNP*/
  text-decoration: none;
}
/* a:focus, MNP*/
a:active,
a:hover {
  text-decoration: underline;
}

/* Assistive text */
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#access a.assistive-text:active,
#access a.assistive-text:focus {
  background: #eee;
  border-bottom: 1px solid #ddd;
  color: #1982d1;
  clip: auto !important;
  font-size: 12px;
  position: absolute;
  text-decoration: underline;
  top: 0;
  left: 7.6%;
}

/* =Header
----------------------------------------------- */

#branding {
  /* border-top: 2px solid #bbb; MNP*/
  padding-bottom: 10px;
  position: relative;
  z-index: 9999;
  background: rgb(51, 71, 112); /*MNP*/
  /* border-top-right-radius: 8px; MNP */
  /* border-top-left-radius: 8px; MNP */
  top: -8px; /* MNP */
}
.non-wiki-header {
  padding-top: 1.5em; /* MNP astro */
}
#site-title {
  margin-right: 145px;
  margin-bottom: -5px;
  padding: 2.6em 0 0; /*MNP*/
}
#site-title a {
  color: #eee; /*MNP*/
  font-size: 18px; /*MNP*/
  font-weight: bold;
  line-height: 0px; /*MNP*/
  text-decoration: none;
  letter-spacing: 0.02em; /*MNP add*/
}
#site-title a:hover,
#site-title a:focus,
#site-title a:active {
  color: #eee; /*MNP*/
}
#site-description {
  color: #ddd; /*MNP*/
  font-size: 11px; /*MNP*/
  margin: 0 0; /*MNP*/
  display: inline-block; /*MNP add*/
  letter-spacing: 0.05em; /*MNP add*/
  padding-bottom: 3px;
}
#site-description a {
  color: #ddd; /*MNP*/
}
#site-description a:hover,
#site-description a:focus,
#site-description a:active {
  color: #ddd; /*MNP*/
  text-decoration: none;
}

#branding img {
  height: auto;
  margin-bottom: -7px;
  width: 100%;
}

/* =Menu
-------------------------------------------------------------- */

#access {
  background: rgb(51, 71, 112); /*MNP*/
  /* MNP
	background: -moz-linear-gradient(#252525, #0a0a0a);
	background: -o-linear-gradient(#252525, #0a0a0a);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax 
	background: -webkit-linear-gradient(#252525, #0a0a0a); 
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px; */
  clear: both;
  display: block;
  float: left;
  margin: 3px auto 0; /*MNP*/
  width: 100%;
  border-bottom: 5px solid rgb(93, 120, 167); /*MNP*/
}
#access ul {
  font-size: 13px;
  list-style: none;
  margin: 0 0 0 -0.8125em;
  padding-left: 0;
  float: right; /*MNP*/
}
#access li {
  float: left;
  position: relative;
}
#access a {
  color: #eee;
  display: block;
  line-height: 2.7em; /*MNP*/
  padding: 0 1em; /*MNP*/
  text-decoration: none;
}
#access ul ul {
  /* MNP
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2); */
  display: none;
  float: left;
  margin: 0;
  position: absolute;
  top: 2.7em; /*MNP*/
  left: 0;
  width: 228px; /*MNP added 40px*/
  z-index: 99999;
}
#access ul ul ul {
  left: 100%;
  top: 0;
}
#access ul ul a {
  background: rgb(13, 26, 68); /*MNP*/
  border-top: 1px solid rgb(55, 65, 90); /*MNP*/
  color: #fff; /*MNP*/
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 1.4em;
  padding: 10px 10px;
  width: 208px; /*MNP added 40px*/
}
#access li:hover > a,
#access ul ul :hover > a,
#access a:focus {
  background: #efefef;
}
#access li:hover > a,
#access a:focus {
  background: rgb(13, 26, 68); /*MNP*/
  /* MNP
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax 
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5); */
  color: #fff; /*MNP*/
}
#access ul li:hover > ul {
  display: block;
}
#access .current-menu-item > a,
#access .current-menu-ancestor > a,
#access .current_page_item > a,
#access .current_page_ancestor > a,
.single-system #menu-item-677 > a, /*MNP single system pages */
.tax-notation-group #menu-item-677 > a, /*MNP notation group pages */
.date #menu-item-19 > a, /* blog archives too */
.date #menu-item-20 > a,
.single-wiki_page #menu-item-1632 > a /* and wiki pages */ {
  font-weight: bold;
  background: rgb(93, 120, 167); /*MNP*/
}
#menu-main-nav > li > a {
  /* MNP add main menu items */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
#menu-main-nav > li {
  /*MNP add */
  margin-left: 3px;
}
ul.sub-menu :hover > a {
  /*MNP add*/
  background: rgb(93, 120, 167) !important;
  color: #fff;
}
ul.sub-menu li.current-menu-item > a {
  /*MNP add*/
  background: rgb(13, 26, 68);
  color: #fff;
}
.sub-menu li:first-child a {
  /*MNP add*/
  border-top-right-radius: 8px;
}
.sub-menu li:last-child a {
  /*MNP add*/
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Search Form */
#branding #searchform {
  position: absolute;
  top: 35px; /*MNP*/
  right: 6.6%; /*MNP*/
  text-align: right;
}
#branding #searchform div {
  margin: 0;
}
#branding #s {
  float: right;
  -webkit-transition-duration: 400ms;
  -webkit-transition-property: width, background;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 400ms;
  -moz-transition-property: width, background;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 400ms;
  -o-transition-property: width, background;
  -o-transition-timing-function: ease;
  width: 72px;
  background-color: rgb(51, 71, 112); /*MNP*/
  border-color: rgb(81, 106, 152); /*MNP*/
  color: rgb(81, 106, 152); /*MNP*/
  border-radius: 8px; /*MNP*/
}
#branding #s:focus {
  background-color: #f9f9f9;
  width: 196px;
}
#branding #searchsubmit {
  display: none;
}
#branding .only-search #searchform {
  top: 5px;
  z-index: 1;
}
#branding .only-search #s {
  background-color: #666;
  border-color: #000;
  color: #222;
}
#branding .only-search #s,
#branding .only-search #s:focus {
  width: 85%;
}
#branding .only-search #s:focus {
  background-color: #bbb;
}
#branding .with-image #searchform {
  top: auto;
  bottom: -27px;
  max-width: 195px;
}
#branding .only-search + #access div {
  padding-right: 205px;
}

/* =Content
----------------------------------------------- */

#main {
  clear: both;
  padding: 1.625em 0 0;
}
.page-title {
  color: #000; /*MNP*/
  font-size: 27px; /*MNP*/
  font-weight: bold; /*MNP*/
  letter-spacing: 2px; /*MNP*/
  line-height: 48px; /*MNP*/
  margin: 0 0 0.3em; /*MNP*/
  /* text-transform: uppercase; MNP*/
  padding: 20px 0px 0.3em; /*MNP*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*MNP add*/
}
.page-title a {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
}
.page-header {
  /*MNP add*/
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.hentry,
.no-results {
  /* border-bottom: 1px solid #ddd; MNP */
  margin: 0 0 1.625em;
  padding: 0 0 1.625em;
  position: relative;
}
/* MNP
.hentry:last-child,
.no-results {
	border-bottom: none;
}
*/
.blog .sticky .entry-header .entry-meta {
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.entry-title,
.entry-header .entry-meta {
  padding-right: 76px;
}
.entry-title {
  clear: both;
  color: #222;
  font-size: 27px; /*MNP*/
  font-weight: bold;
  line-height: 1.5em;
  padding-bottom: 0.3em;
  padding-top: 15px;
  letter-spacing: 2px; /*MNP add*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*MNP add*/
}
.entry-title,
.entry-title a {
  color: #222;
  text-decoration: none;
}
.entry-title a:hover,
.entry-title a:focus,
.entry-title a:active {
  color: #1982d1;
}
.entry-meta {
  color: #666;
  clear: both;
  font-size: 12px;
  line-height: 18px;
}
/* MNP
.entry-meta a {
	font-weight: bold;
} */
.single-author .entry-meta .by-author {
  display: none;
}
.entry-content,
.entry-summary {
  padding: 1.625em 0 0;
}
.entry-content h1,
.entry-content h2,
.comment-content h1,
.comment-content h2 {
  color: #000;
  font-weight: bold;
  margin: 0 0 0.8125em;
}
.entry-content h2 {
  /*MNP add*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 2.5em;
}
.entry-content h3,
.comment-content h3 {
  font-size: 20px; /*MNP*/
  letter-spacing: 0.1em;
  line-height: 2.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*MNP add*/
  font-weight: 500; /*MNP*/
  /* text-transform: uppercase; MNP */
}
.entry-content table,
.comment-content table {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1.625em;
  width: 100%;
}
.entry-content th,
.comment-content th {
  font-weight: bold; /* was 500 */
  /* color: #666; MNP */
  /* font-size: 10px; MNP */
  /* letter-spacing: 0.1em; MNP */
  /* line-height: 2.6em; MNP */
  /* text-transform: uppercase; MNP */
}
.entry-content td,
.comment-content td {
  border-top: 1px solid #ddd;
  padding: 6px 10px 6px 0;
}
.entry-content #s {
  width: 75%;
}
.comment-content ul,
.comment-content ol {
  margin-bottom: 1.625em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
  margin-bottom: 0;
}
dl.gallery-item {
  margin: 0;
}
.page-link {
  clear: both;
  display: block;
  margin: 0 0 1.625em;
}
.page-link a {
  background: #eee;
  color: #373737;
  margin: 0;
  padding: 2px 3px;
  text-decoration: none;
}
.page-link a:hover {
  background: #888;
  color: #fff;
  font-weight: bold;
}
.page-link span {
  margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
  background: #eee;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  float: right;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 300;
  text-decoration: none;
  padding: 0 8px;
}
.entry-meta .edit-link a:hover,
.commentlist .edit-link a:hover {
  background: #888;
  color: #fff;
}
.entry-content .edit-link {
  clear: both;
  display: block;
}

/* Images */
.entry-content img,
.comment-content img,
.widget img {
  max-width: 100%; /*MNP*/ /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
  max-width: 97.5%;
  width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
  height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
  margin-bottom: 1.625em;
}
p img,
.wp-caption {
  margin-top: 0.4em;
}
.wp-caption {
  background: #eee;
  margin-bottom: 1.625em;
  max-width: 96%;
  padding: 9px;
  border-radius: 5px; /*MNP*/
}
.wp-caption img {
  display: block;
  margin: 0 auto;
  max-width: 98%;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  color: #666;
  /* font-family: Georgia, serif; MNP */
  font-size: 12px;
}
.wp-caption .wp-caption-text {
  margin-bottom: 0.6em;
  padding: 10px 0 5px 6px; /* MNP */
  position: relative;
}
.wp-caption .wp-caption-text:before {
  color: #666;
  /* content: '\2014'; MNP */
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin-right: 5px;
  position: absolute;
  left: 10px;
  top: 7px;
}
#content .gallery {
  margin: 0 auto 1.625em;
}
#content .gallery a img {
  border: none;
}
img#wpstats {
  display: block;
  margin: 0 auto 1.625em;
}
#content .gallery-columns-4 .gallery-item {
  width: 23%;
  padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
  width: 100%;
  height: auto;
}

/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {
  /* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
  /* border: 1px solid #ddd; MNP */
  padding: 6px;
}
.wp-caption img {
  border-color: #eee;
}
a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
#content .gallery .gallery-icon a:focus img,
#content .gallery .gallery-icon a:hover img,
#content .gallery .gallery-icon a:active img {
  /* Add some useful style to those fancy borders for linked images ... */
  background: #eee;
  border-color: #bbb;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
  /* ... including captioned images! */
  background: #fff;
  border-color: #ddd;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* Password Protected Posts */
.post-password-required .entry-header .comments-link {
  margin: 1.625em 0 0;
}
.post-password-required input[type="password"] {
  margin: 0.8125em 0;
}
.post-password-required input[type="password"]:focus {
  background: #f7f7f7;
}

/* Author Info */ /* MNP */

/* Comments link */
.entry-header .comments-link a {
  background: #eee url(images/comment-bubble.png) no-repeat;
  color: #666;
  font-size: 13px;
  font-weight: normal;
  line-height: 35px;
  overflow: hidden;
  padding: 0 0 0;
  position: absolute;
  top: 1.5em;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 43px;
  height: 36px;
}
.entry-header .comments-link a:hover,
.entry-header .comments-link a:focus,
.entry-header .comments-link a:active {
  background-color: rgb(93, 120, 167); /*MNP*/
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.entry-header .comments-link .leave-reply {
  visibility: hidden;
}

/*
Post Formats Headings
To hide the headings, display: none the ".entry-header .entry-format" selector,
and remove the padding rules below.
*/
.entry-header .entry-format {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  position: absolute;
  text-transform: uppercase;
  top: -5px;
}
.entry-header hgroup .entry-title {
  padding-top: 15px;
}
article.format-aside .entry-content,
article.format-link .entry-content,
article.format-status .entry-content {
  padding: 20px 0 0;
}
article.format-status .entry-content {
  min-height: 65px;
}
.recent-posts .entry-header .entry-format {
  display: none;
}
.recent-posts .entry-header hgroup .entry-title {
  padding-top: 0;
}

/* Singular content styles for Posts and Pages */
.singular .hentry {
  /* border-bottom: none; MNP */
  padding: 2em 0 0; /*MNP*/
  position: relative;
}
.singular.page .hentry {
  padding: 2em 0 0; /*MNP*/
}
.singular .entry-title {
  color: #000;
  font-size: 27px; /*MNP*/
  font-weight: bold;
  line-height: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*MNP add*/
  letter-spacing: 2px; /*MNP add*/
}
.singular .entry-title,
.singular .entry-header .entry-meta {
  padding-right: 0;
}
.singular .entry-header .entry-meta {
  position: absolute;
  top: 0;
  left: 0;
}

blockquote.pull {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.6125em;
  margin: 0 0 1.625em;
  text-align: center;
}
.singular blockquote.pull {
  margin: 0 -22.25% 1.625em;
}
.pull.alignleft {
  margin: 0 1.625em 0 0;
  text-align: right;
}
.singular .pull.alignleft {
  margin: 0 1.625em 0 -22.25%;
}
.pull.alignright {
  margin: 0 0 0 1.625em;
  text-align: left;
}
blockquote.pull.alignleft,
blockquote.pull.alignright {
  width: 33%;
}
.singular .pull.alignright {
  margin: 0 -22.25% 0 1.625em;
}
.singular blockquote.pull.alignleft,
.singular blockquote.pull.alignright {
  width: 33%;
}
/* MNP 
.singular .entry-meta .edit-link a {
	bottom: auto;
	left: 50px;
	position: absolute;
	right: auto;
	top: 80px;
}
*/

/* =Aside
----------------------------------------------- */

/* =Link
----------------------------------------------- */

/* =Gallery
----------------------------------------------- */
/*
.format-gallery .gallery-thumb {
	float: left;
	display: block;
	margin: .375em 1.625em 0 0;
}
*/

/* =Status
----------------------------------------------- */

/* =Quote
----------------------------------------------- */

/* =Image
----------------------------------------------- */

.indexed.format-image .entry-header {
  min-height: 61px; /* Prevent the comment icon from colliding with the image when there is no title */
}
.indexed.format-image .entry-content {
  padding-top: 0.5em;
}
.indexed.format-image .entry-content p {
  margin: 1em 0;
}
.indexed.format-image .entry-content p:first-child,
.indexed.format-image .entry-content p:first-child a,
.indexed.format-image .entry-content p:first-child img {
  display: block;
  margin: 0;
}
.indexed.format-image .entry-content .wp-caption .wp-caption-text {
  margin: 0;
  padding-bottom: 1em;
}
.indexed.format-image footer.entry-meta {
  background: #ddd;
  overflow: hidden;
  padding: 4%;
  max-width: 96%;
}
.indexed.format-image div.entry-meta {
  display: inline-block;
  float: left;
  width: 35%;
}
.indexed.format-image div.entry-meta + div.entry-meta {
  float: none;
  width: 65%;
}
.indexed.format-image .entry-meta span.cat-links,
.indexed.format-image .entry-meta span.tag-links,
.indexed.format-image .entry-meta span.comments-link {
  display: block;
}
.indexed.format-image footer.entry-meta a {
  color: #444;
}
.indexed.format-image footer.entry-meta a:hover {
  color: #fff;
}
#content .indexed.format-image img {
  border: none;
  max-width: 100%;
  padding: 0;
}
.indexed.format-image .wp-caption {
  background: #111;
  margin-bottom: 0;
  max-width: 96%;
  padding: 2% 2% 0;
}
.indexed.format-image .wp-caption .wp-caption-text {
  color: #ddd;
}
.indexed.format-image .wp-caption .wp-caption-text:before {
  color: #444;
}
.indexed.format-image a:hover img {
  opacity: 0.8;
}

/* =error404
----------------------------------------------- */

.error404 #main #searchform {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin: 0 -8.9% 1.625em;
  overflow: hidden;
  padding: 1.625em 8.9%;
}
.error404 #main #s {
  width: 95%;
}
/* MNP removed widget styles */

/* =Showcase  MNP removed
----------------------------------------------- */

/* =Attachments
----------------------------------------------- */

.image-attachment div.attachment {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-width: 1px 0;
  margin: 0 -8.9% 1.625em;
  overflow: hidden;
  padding: 1.625em 1.625em 0;
  text-align: center;
}
.image-attachment div.attachment img {
  display: block;
  height: auto;
  margin: 0 auto 1.625em;
  max-width: 100%;
}
.image-attachment div.attachment a img {
  border-color: #f9f9f9;
}
.image-attachment div.attachment a:focus img,
.image-attachment div.attachment a:hover img,
.image-attachment div.attachment a:active img {
  border-color: #ddd;
  background: #fff;
}
.image-attachment .entry-caption p {
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  margin: 0 0 2.6em;
  text-transform: uppercase;
}

/* =Navigation
-------------------------------------------------------------- */

#content nav {
  clear: both;
  overflow: hidden;
  padding: 0 0 1.625em;
}
#content nav a {
  font-size: 12px;
  font-weight: bold;
  line-height: 2.2em;
}
#nav-above {
  padding: 0 0 1.625em;
}
#nav-above {
  display: none;
}
.paged #nav-above {
  display: block;
}
.nav-previous {
  float: left;
  width: 50%;
}
.nav-next {
  float: right;
  text-align: right;
  width: 50%;
}
#content nav .meta-nav {
  font-weight: normal;
}

/* Singular navigation */
#nav-single {
  float: left; /*MNP*/
  position: relative;
  top: 0.5em; /*MNP*/
  text-align: left; /*MNP*/
  z-index: 1;
}
#nav-single .nav-previous,
#nav-single .nav-next {
  width: auto;
}
#nav-single .nav-next {
  padding-left: 0.5em;
}
#nav-single .nav-previous {
  padding-right: 0.5em;
}

/* =Widgets
----------------------------------------------- */

.widget-area {
  font-size: 12px;
}
.widget {
  clear: both;
  margin: 0 0 2.2em;
}
.widget-title {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2.6em;
  text-transform: uppercase;
}
.widget ul {
  font-size: 15px;
  margin: 0;
  list-style: none; /*MNP*/
}
.widget ul ul {
  margin-left: 1.5em;
}
.widget ul li {
  color: #777;
  font-size: 13px;
}
.widget a {
  font-weight: normal; /*MNP was bold */
  text-decoration: none;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
  text-decoration: underline;
}

/* Search Widget */

/* Ephemera Widget */
section.ephemera ol,
.widget_twentyeleven_ephemera ol {
  list-style: square;
  margin: 5px 0 0;
}
.widget_twentyeleven_ephemera .widget-entry-title {
  font-size: 15px;
  font-weight: bold;
  padding: 0;
}
.widget_twentyeleven_ephemera .comments-link a,
.widget_twentyeleven_ephemera .comments-link > span {
  color: #666;
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 2.76333em;
  text-transform: uppercase;
}
section.ephemera .entry-title .comments-link a:hover,
.widget_twentyeleven_ephemera .entry-title .comments-link a:hover {
}
section.ephemera .entry-title a span {
  color: #29628d;
}

/* Widget Image */
.widget_image img {
  border: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
}

/* Calendar Widget */

/* =Comments
----------------------------------------------- */

#comments-title {
  color: #666;
  font-size: 10px;
  font-weight: bold; /*MNP */
  line-height: 2.6em;
  padding: 0 0 2.6em;
  /* text-transform: uppercase; MNP */
}
.nopassword,
.nocomments {
  color: #aaa;
  font-size: 24px;
  font-weight: 100;
  margin: 26px 0;
  text-align: center;
}
.commentlist {
  list-style: none;
  margin: 0 auto;
  width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
  width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
  background: #f6f6f6;
  border: 1px solid #ddd;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0 1.625em;
  padding: 1.625em;
  position: relative;
}
.commentlist .pingback {
  margin: 0 0 1.625em;
  padding: 0 1.625em;
}
.commentlist .children {
  list-style: none;
  margin: 0;
}
.commentlist .children li.comment {
  background: #fff;
  border-left: 1px solid #ddd;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  margin: 1.625em 0 0;
  padding: 1.625em;
  position: relative;
}
.commentlist .children li.comment .fn {
  display: block;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  color: #666;
  font-size: 12px;
  line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
  line-height: 1.625em;
  margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
  margin: 1.625em 0 0;
}
.comment-meta a {
  font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  left: -102px;
  padding: 0;
  position: absolute;
  top: 0;
}
.commentlist > li:before {
  content: url(images/comment-arrow.png);
  left: -21px;
  position: absolute;
}
.commentlist > li.pingback:before {
  content: "";
}
.commentlist .children .avatar {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  left: 2.2em;
  padding: 0;
  top: 2.2em;
}
a.comment-reply-link {
  background: #eee;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
  background: #888;
  color: #fff;
}
a.comment-reply-link > span {
  display: inline-block;
  position: relative;
  top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
  background: #ddd;
  border-color: #d3d3d3;
}
.commentlist > li.bypostauthor .comment-meta {
  color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
  content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
  background: #ddd;
  border-color: #d3d3d3;
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
  margin-left: 102px;
  width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
  width: auto;
}

/* Comment Form */
#respond {
  background: #ddd;
  border: 1px solid #d3d3d3;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0 auto 1.625em;
  padding: 1.625em;
  position: relative;
  width: 68.9%;
}
#respond input[type="text"],
#respond textarea {
  background: #fff;
  border: 4px solid #eee;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  -moz-box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  box-shadow: inset 0 1px 3px rgba(204, 204, 204, 0.95);
  position: relative;
  padding: 10px;
  text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  background: #eee;
  -webkit-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  -moz-box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);
  color: #555;
  display: inline-block;
  font-size: 13px;
  left: 4px;
  min-width: 60px;
  padding: 4px 10px;
  position: relative;
  top: 40px;
  z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
  text-indent: 0;
  z-index: 1;
}
#respond textarea {
  resize: vertical;
  width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
  color: #bd3500;
  font-size: 22px;
  font-weight: bold;
  left: 75%;
  position: absolute;
  top: 45px;
  z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
  font-size: 13px;
}
#respond p {
  margin: 10px 0;
}
#respond .form-submit {
  float: right;
  margin: -20px 0 10px;
}
#respond input#submit {
  background: #222;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  color: #eee;
  cursor: pointer;
  font-size: 15px;
  margin: 20px 0;
  padding: 5px 42px 5px 22px;
  position: relative;
  left: 30px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
#respond input#submit:active {
  background: #1982d1;
  color: #bfddf3;
}
#respond #cancel-comment-reply-link {
  color: #666;
  margin-left: 10px;
  text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
  text-decoration: underline;
}
.commentlist #respond {
  margin: 1.625em 0 0;
  width: auto;
}
#reply-title {
  color: #373737;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}
#cancel-comment-reply-link {
  color: #888;
  display: block;
  font-size: 10px;
  font-weight: normal;
  line-height: 2.2em;
  letter-spacing: 0.05em;
  position: absolute;
  right: 1.625em;
  text-decoration: none;
  text-transform: uppercase;
  top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
  color: #ff4b33;
}
#respond label {
  line-height: 2.2em;
}
#respond input[type="text"] {
  display: block;
  height: 24px;
  width: 75%;
}
#respond p {
  font-size: 12px;
}
p.comment-form-comment {
  margin: 0;
}
.form-allowed-tags {
  display: none;
}

/* =Footer
----------------------------------------------- */

#colophon {
  clear: both;
  /* padding-bottom: 15px; MNP astro */
}
#supplementary {
  border-top: 5px solid rgb(93, 120, 167); /*MNP  3px solid rgb(196,201,206); */
  padding: 1.625em 7.6%;
  overflow: hidden;
  background: rgb(51, 71, 112);
  /* border-bottom-right-radius: 8px; MNP astro */
  /* border-bottom-left-radius: 8px; MNP astro */
  /* position:relative;
	top:8px; */
  /* margin-top:3em; why doesn't work? */
}

/* Two Footer Widget Areas */
#supplementary.two .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 48.1%;
}
#supplementary.two .widget-area + .widget-area {
  margin-right: 0;
}

/* Three Footer Widget Areas */
#supplementary.three .widget-area {
  float: left;
  margin-right: 3.7%;
  width: 30.85%;
}
#supplementary.three .widget-area + .widget-area + .widget-area {
  margin-right: 0;
}

#supplementary.three .textwidget,
#supplementary.three .widget-area {
  /* MNP added */
  color: #eee;
}

#supplementary.three .textwidget,
#supplementary.three .widget-area a {
  /* MNP added */
  color: #eee;
}
#supplementary.three .widget {
  margin-bottom: 0.75em;
}
#google_translate_element {
  /*MNP*/
  padding-top: 10px;
}

#supplementary.three #google_translate_element a {
  /*MNP*/
  color: #666;
}
#supplementary.three #google_translate_element a:hover {
  /*MNP*/
  text-decoration: none;
}

.footer-title {
  /*MNP*/
  font-size: 1.25em;
}
.footer-sub-title-text {
  /*MNP*/
  font-size: 10px;
  max-width: 22em;
  padding: 10px 0;
}

/* Site Generator Line */

/* = MNP tutorials archive and search results
----------------------------------------------- */

.post-type-archive-tutorials #content,
.search-results #content {
  margin: 0px 16%;
  width: 68%;
}
.post-type-archive-tutorials .entry-title,
.search-results .entry-title {
  font-size: 24px; /* was 27px in 2011 theme */
}
.post-type-archive-tutorials .hentry {
  padding-bottom: 0;
}

.search-results .page-title {
  /* matches .date .page-title */
  color: #aaa;
  font-size: 20px;
}
.entry-summary {
  padding-top: 0.4em; /* tightening up search and tutorials index pages, was 1.6em */
}

/* =MNP divider headings etc.
----------------------------------------------- */
.gallery-heading,
h2.divider-heading {
  /* see also .divider-section */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  border-top: 3px solid rgb(196, 201, 206);
  padding: 20px 23.55% 10px;
  margin: 3em -23.55% 1em;
}

.divider-section,
.divider-section-gallery {
  /* like divider-heading but without the heading text */
  border-top: 3px solid rgb(196, 201, 206);
  padding: 30px 23.55% 20px;
  margin: 3em -23.55% 1em;
  /* target is 16 % of total content width (the default margin), 16+16+68 = 100, so 16/68 = 23.55, 23.55% of 68 = 16 */
}
.gallery-heading,
.divider-section-gallery {
  /* used on gallery page(s) */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 35px;
  padding-left: 4%;
  padding-right: 4%;
}
.non-blue-link a {
  color: #000;
}
.non-blue-link a:hover {
  text-decoration: none;
  color: rgb(60, 125, 188);
}
.footnotes {
  font-size: 85%;
}

/* MNP miscellaneous
----------------------------------------------- */

.hidden {
  display: none;
}

.spacious-list li {
  margin-bottom: 1.5em;
}
.no-bullet-list {
  list-style: none;
}
.indented-content {
  max-width: 85%;
  margin-left: 5%;
}

.blue-button a {
  /* border:0px solid rgb(51,71,112); */
  background: rgb(93, 120, 167);
  padding: 6px 25px 8px;
  border-radius: 7px;
  color: rgb(203, 211, 226);
  margin: 10px 0px;
  display: inline-block;
  font-size: 90%;
}
.blue-button a:hover {
  text-decoration: none;
  color: #fff;
}
#nav-single {
  /* previous and next buttons */
  float: left;
}

.mnma-title {
  clear: both;
  color: #222;
  font-size: 22px; /*MNP*/
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 0.5px; /*MNP add*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /*MNP add*/
}
.single-tutorials #content nav a {
  font-size: 1.2em;
}

/* MNP Intervals Tutorial */
.intervals-button {
  padding: 8px 8px;
  margin: 4px;
  border: 2px solid #aaa;
  text-decoration: none;
  display: inline-block;
  border-radius: 7px;
  font-size: smaller;
  text-align: center;
}
.intervals-button:hover {
  border: 2px solid #4455aa;
  text-decoration: none;
}

/* MNP single notation pages and group pages 
---------------------------------------------*/
.menu-notation-groups {
  list-style: none;
  margin: 0 0 3em;
}
.system-container {
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 4%;
  display: inline-block;
  vertical-align: top;
}
.system-container-mnma {
  /* MNMA research results */
  max-width: 500px;
  width: 100%;
  margin: 0 0 2.5em 4%;
  display: inline-block;
  vertical-align: top;
}
.system-title {
  font-size: 80%;
  font-weight: normal;
  text-transform: none;
  line-height: 1.5em;
  padding: 10px 0px 0px 25px;
  margin-bottom: 20px;
  letter-spacing: 0px;
}
.notation-system-image {
  padding-bottom: 30px;
  max-width: 500px;
  width: 100%;
  /* margin: 0 auto; */
}
.single-system .entry-title {
  /*MNP add*/
  font-size: 22px;
  /* letter-spacing:2px; inherited */
  padding-bottom: 0.9em;
  line-height: 33px;
}

.single-system #content {
  width: 100%;
  margin: 0px 0%;
}
.single-system .entry-content {
  margin-bottom: 80px;
}
.single-system .page-title {
  margin-left: 4%;
  margin-right: 4%;
}
.single-system .page-header {
  margin-left: 4%;
  margin-right: 4%;
}
.single-system .hentry {
  margin: 0 20%;
  vertical-align: top;
  padding: 1em 0 0;
}
.single-system #nav-single {
  float: none;
  margin: -10px 4% 0;
  padding: 0;
  top: 0;
}
.single-system-subtitle {
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0;
  font-family: Verdana, Arial, sans-serif;
  display: block;
  margin-top: -5px;
}

/* MNP blog 
----------------------------------------------- */
.blog .entry-title {
  font-size: 24px;
}
#secondary .widget ul li {
  padding-bottom: 1.5em;
  line-height: 1.5em;
}
#secondary .widget-title {
  text-transform: none;
  font-size: 16px;
  padding-bottom: 0.5em;
}
.textwidget {
  font-size: 13px;
  color: rgb(102, 102, 102);
}
.date .page-title {
  /*matches .search-results .page-title */
  font-size: 20px;
  color: #aaa;
}

/* MNMA stuff 
----------------------------------------------- */
/* conference tables */
.page-id-621 .entry-content td {
  border-top: 1px solid rgb(175, 180, 185);
}
.page-id-621 .entry-content table {
  border-bottom: 1px solid rgb(175, 180, 185);
}

/* MNP Forum 
----------------------------------------------- */
.page-template-page-forum-php #content {
  margin: 0 4%;
}
.page-template-page-forum-php #main {
  padding: 0;
}

/*
#forum_embed {
	border:1px solid #ccc;
}
*/

/* =Responsive Structure
----------------------------------------------- */

@media (max-width: 800px) {
  /* Simplify the basic layout */
  #main #content {
    margin: 0 7.6%;
    width: auto;
  }
  #nav-below {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.625em;
  }
  #main #secondary {
    float: none;
    margin: 0 7.6%;
    width: auto;
  }
  /* Simplify the showcase template */
  .page-template-showcase-php .featured-posts {
    min-height: 280px;
  }
  .featured-posts section.featured-post {
    height: auto;
  }
  .page-template-showcase-php section.recent-posts {
    float: none;
    margin: 0;
    width: 100%;
  }
  .page-template-showcase-php #main .widget-area {
    float: none;
    margin: 0;
    width: auto;
  }
  .page-template-showcase-php .other-recent-posts {
    border-bottom: 1px solid #ddd;
  }
  /* Simplify the showcase template when small feature */
  section.featured-post .attachment-small-feature,
  .one-column section.featured-post .attachment-small-feature {
    border: none;
    display: block;
    float: left;
    height: auto;
    margin: 0.625em auto 1.025em;
    max-width: 30%;
    position: static;
  }
  article.feature-image.small {
    float: right;
    margin: 0 0 1.625em;
    width: 64%;
  }
  .one-column article.feature-image.small .entry-summary {
    height: auto;
  }
  article.feature-image.small .entry-summary p a {
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }
  /* Remove the margin on singular articles */
  .singular .entry-header,
  .singular .entry-content,
  .singular footer.entry-meta,
  .singular #comments-title {
    width: 100%;
  }
  /* Simplify the pullquotes and pull styles */
  .singular blockquote.pull {
    margin: 0 0 1.625em;
  }
  .singular .pull.alignleft {
    margin: 0 1.625em 0 0;
  }
  .singular .pull.alignright {
    margin: 0 0 0 1.625em;
  }
  .singular .entry-meta .edit-link a {
    left: 0;
    position: absolute;
    top: 40px;
  }
  .singular #author-info {
    margin: 2.2em -8.8% 0;
    padding: 20px 8.8%;
  }
  /* Make sure we have room for our comment avatars */
  .commentlist {
    width: 100%;
  }
  .commentlist > li.comment,
  .commentlist .pingback {
    margin-left: 102px;
    width: auto;
  }
  /* And a full-width comment form */
  #respond {
    width: auto;
  }
  /* No need to float footer widgets at this size */
  #colophon #supplementary .widget-area {
    float: none;
    margin-right: 0;
    width: auto;
  }
  /* No need to float 404 widgets at this size */
  .error404 #main .widget {
    float: none;
    margin-right: 0;
    width: auto;
  }
}
@media (max-width: 650px) {
  /* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */
  body,
  input,
  textarea {
    font-size: 13px;
  }
  /* MNP 
	#site-title a {
		font-size: 24px;
	} */
  /* MNP
	#site-description {
		font-size: 12px;
	}
	*/
  #access ul {
    font-size: 12px;
  }
  article.intro .entry-content {
    font-size: 12px;
  }
  .entry-title {
    font-size: 21px;
  }
  .featured-post .entry-title {
    font-size: 14px;
  }
  .singular .entry-title {
    font-size: 28px;
  }
  .entry-meta {
    font-size: 12px;
  }
  blockquote {
    margin: 0;
  }
  blockquote.pull {
    font-size: 17px;
  }
  /* Reposition the site title and description slightly */
  #site-title {
    padding: 5.30625em 0 0;
  }
  #site-title,
  #site-description {
    margin-right: 0;
  }
  /* Make sure the logo and search form don't collide */
  #branding #searchform {
    top: 1.625em !important;
  }
  /* Floated content doesn't work well at this size */
  .alignleft,
  .alignright {
    display: block;
    float: none;
    margin-left: 0;
    margin-right: 0;
  }
  /* Make sure the post-post navigation doesn't collide with anything */
  #nav-single {
    display: block;
    position: static;
  }
  .singular .hentry {
    padding: 2em 0 0; /*MNP*/
  }
  .singular.page .hentry {
    padding: 2em 0 0; /*MNP*/
  }
  /* Talking avatars take up too much room at this size */
  .commentlist > li.comment,
  .commentlist > li.pingback {
    margin-left: 0 !important;
  }
  .commentlist .avatar {
    background: transparent;
    display: block;
    padding: 0;
    position: static;
  }
  .commentlist .children .avatar {
    background: none;
    left: 2.2em;
    padding: 0;
    position: absolute;
    top: 2.2em;
  }
  /* Use the available space in the smaller comment form */
  #respond input[type="text"] {
    width: 95%;
  }
  #respond .comment-form-author .required,
  #respond .comment-form-email .required {
    left: 95%;
  }
  #content .gallery-columns-3 .gallery-item {
    width: 31%;
    padding-right: 2%;
  }
  #content .gallery-columns-3 .gallery-item img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 450px) {
  #content .gallery-columns-2 .gallery-item {
    width: 45%;
    padding-right: 4%;
  }
  #content .gallery-columns-2 .gallery-item img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    padding: 0;
  }
  #page {
    margin-top: 0;
  }
  /* MNP
	#branding {
		border-top: none;
	} 
	*/
}

/* =Print
----------------------------------------------- */

@media print {
  body {
    background: none !important;
    font-size: 10pt;
  }
  footer.entry-meta a[rel="bookmark"]:link:after,
  footer.entry-meta a[rel="bookmark"]:visited:after {
    content: " [" attr(href) "] "; /* Show URLs */
  }
  #page {
    clear: both !important;
    display: block !important;
    float: none !important;
    max-width: 100%;
    position: relative !important;
  }
  #branding {
    /* border-top: none !important; */
    padding: 0;
  }
  #branding hgroup {
    margin: 0;
  }
  #site-title a {
    font-size: 21pt;
  }
  #site-description {
    font-size: 10pt;
  }
  #branding #searchform {
    display: none;
  }
  #branding img {
    display: none;
  }
  #access {
    display: none;
  }
  #main {
    border-top: none;
    box-shadow: none;
  }
  #primary {
    float: left;
    margin: 0;
    width: 100%;
  }
  #content {
    margin: 0;
    width: auto;
  }
  .singular #content {
    margin: 0;
    width: 100%;
  }
  .singular .entry-header .entry-meta {
    position: static;
  }
  .entry-meta .edit-link a {
    display: none;
  }
  #content nav {
    display: none;
  }
  .singular .entry-header,
  .singular .entry-content,
  .singular footer.entry-meta,
  .singular #comments-title {
    margin: 0;
    width: 100%;
  }
  .singular .hentry {
    padding-top: 2em; /*MNP*/
  }
  .entry-title,
  .singular .entry-title {
    font-size: 21pt;
  }
  .entry-meta {
    font-size: 10pt;
  }
  .entry-header .comments-link {
    display: none;
  }
  .page-link {
    display: none;
  }
  .singular #author-info {
    background: none;
    border-bottom: none;
    border-top: none;
    margin: 2.2em 0 0;
    padding: 0;
  }
  #respond {
    display: none;
  }
  .widget-area {
    display: none;
  }
  #colophon {
    display: none;
  }

  /* Comments */
  .commentlist > li.comment {
    background: none;
    border: 1px solid #ddd;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    margin: 0 auto 1.625em;
    padding: 1.625em;
    position: relative;
    width: auto;
  }
  .commentlist .avatar {
    height: 39px;
    left: 2.2em;
    top: 2.2em;
    width: 39px;
  }
  .commentlist li.comment .comment-meta {
    line-height: 1.625em;
    margin-left: 50px;
  }
  .commentlist li.comment .fn {
    display: block;
  }
  .commentlist li.comment .comment-content {
    margin: 1.625em 0 0;
  }
  .commentlist .comment-edit-link {
    display: none;
  }
  .commentlist > li::before,
  .commentlist > li.bypostauthor::before {
    content: "";
  }
  .commentlist .reply {
    display: none;
  }

  /* Post author highlighting */
  .commentlist > li.bypostauthor {
    color: #444;
  }
  .commentlist > li.bypostauthor .comment-meta {
    color: #666;
  }
  .commentlist > li.bypostauthor:before {
    content: none;
  }

  /* Post Author threaded comments */
  .commentlist .children > li.bypostauthor {
    background: #fff;
    border-color: #ddd;
  }
  .commentlist .children > li.bypostauthor > article,
  .commentlist .children > li.bypostauthor > article .comment-meta {
    color: #666;
  }
}

/* Astro site styles
----------------------------------------------- */

.cursorPointer {
  cursor: pointer;
}

.displayBlock {
  display: block;
}

.tutorial-nav-link {
  font-size: 1.2em !important;
}
