/* CSS for wiki pages */
body {
	background:none;
	padding:0 0;
}
#page, #page-footer {
	max-width:none;
	margin:0 0;
}
/* put the sidebar on the right */
#primary {
	float: right;
	margin: 0 0 0 -26.4%;
	width: 100%;
}
#content {
	margin: 0 7.6% 0 19%; /* 34 - ? = 19% */
	width: 74.4%; /* 58.4 + 16 = 74.4% */
}
#secondary {
	float: left;
	margin-left: 2.1%; /* 7.6 - 5.5 = 2.1 */
	margin-right: 0;
	width: 14.3%; /* 18.8 - 4.5 = 14.3,  was 18.8 - 3 = 15.8*/
	padding-top:0;
}
#branding {
	top:0;
	border-top-right-radius: 0; 
	border-top-left-radius: 0;
}
#access {
	margin: 5px auto;
}
#access div {
	margin-left: 2.6%;
}
#access ul {
	float:left;
}
/* MNP was used to change the color for the wiki tab
/* now done in style.css line 648
#menu-item-1632 {
	font-weight: bold;
	background:rgb(93,120,167); 
	border-top-right-radius:8px;
	border-top-left-radius:8px;
}
*/
#access a.post-edit-link:hover {
	text-decoration:underline;
}
#access #loginlogout {
	list-style:none;
	display:inline;
	float:right;
	margin-right:2.6%;
}
#access #loginlogout li:hover > a {
	background:none;
	text-decoration:underline;
}
#access #loginlogout a:focus,
#access #loginlogout a:active {
	background:none;
}

/* tables */
table {
	border-collapse:collapse;
	background:none repeat scroll 0% 0% rgb(249, 249, 249);
	border:1px solid rgb(170, 170, 170);
	margin: 1em 1em 1em 0px;
	text-align:center;
}

.entry-content td, .entry-content th {
	border:1px solid rgb(170, 170, 170);
	padding:0.2em;
	text-align:none;
}
.entry-content th {
	text-transform:none;
	background: none repeat scroll 0% 0% rgb(242, 242, 242);
}
/* nomenclatures tables */
.entry-content .nomenclatures-table td, 
.entry-content .nomenclatures-table th,
.entry-content .moveable-do-nomenclatures-table td,
.entry-content .moveable-do-nomenclatures-table th {
	border: 0px;
	border-top: 1px solid rgb(170, 170, 170);
	border-bottom: 1px solid rgb(170, 170, 170);
}
.nomenclatures-table td,
.moveable-do-nomenclatures-table td,
.entry-content .moveable-do-nomenclatures-table td,
.entry-content .moveable-do-nomenclatures-table th {
	width: 54px;
}
.nomenclatures-table td:nth-child(1),
.nomenclatures-table th:nth-child(1),
.moveable-do-nomenclatures-table td:nth-child(1),
.moveable-do-nomenclatures-table th:nth-child(1) {
	width: unset;
	border-right: 1px solid rgb(170, 170, 170);
}
.nomenclatures-table tr td:nth-child(3),
.nomenclatures-table tr td:nth-child(6),
.nomenclatures-table tr td:nth-child(8),
.nomenclatures-table tr td:nth-child(11),
.nomenclatures-table tr td:nth-child(13),
.nomenclatures-table tr th:nth-child(3),
.nomenclatures-table tr th:nth-child(6),
.nomenclatures-table tr th:nth-child(8),
.nomenclatures-table tr th:nth-child(11),
.nomenclatures-table tr th:nth-child(13)
{
  background: rgb(230, 230, 230);
}
.moveable-do-nomenclatures-table tr td:nth-child(3),
.moveable-do-nomenclatures-table tr td:nth-child(5),
.moveable-do-nomenclatures-table tr td:nth-child(8),
.moveable-do-nomenclatures-table tr td:nth-child(10),
.moveable-do-nomenclatures-table tr td:nth-child(12),
.moveable-do-nomenclatures-table tr th:nth-child(3),
.moveable-do-nomenclatures-table tr th:nth-child(5),
.moveable-do-nomenclatures-table tr th:nth-child(8),
.moveable-do-nomenclatures-table tr th:nth-child(10),
.moveable-do-nomenclatures-table tr th:nth-child(12)
{
  background: rgb(230, 230, 230);
}


/* "archive" pages */
.wiki-archive-list-title,
.search-results .entry-title {
	font-size:20px; 
	padding-bottom:0;
}
.wiki-archive-title {
	padding-bottom:40px;
}
.single-wiki_page .hentry,
.search-results .hentry {
	padding-bottom: 0;
}
/* hackish, removed padding from .hentry and move it here,
to get spacing right for wiki parent pages/archive lists */
.single-wiki_page #content {
	padding-bottom:1.625em;
}


/* Sidebar Logo */
#secondary #wiki-sidebar-header .widget-title {
	line-height:1.25em;
	font-size:20px;
	/* font-weight:bold; */
	padding-top:0;
	padding-bottom:0;
	margin-top:-10px;
	text-align:right;
	max-width:138px;
	letter-spacing:4px;
}
#wiki-sidebar-header .widget-title > a:hover {
	color: rgb(60, 125, 188);
}
#thethe {
	font-size:14px;
	position:relative;
	top:4px;
	right:4.4em;
}
#themusic {
	position:relative;
	right:1.7em;
}
#thenotation {
	position:relative;
	/* left: 0px; */
}
#theproject {
	position:relative;
	left:0.7em;
}
#thewiki {
	position:relative;
	right:1em;
	font-size:18px;
}

/* Sidebar Searchbox */
input#s {
	width: 130px;
}

/* Sidebar Menu */
#secondary .widget-title {
	padding-top:0.5em;
	padding-bottom:0.7em;
	line-height:1.2em;
}
#secondary .widget ul li {
	padding-bottom: 0.8em;
	line-height:1.2em;
}
#secondary .widget a {
	font-weight:normal;
}
#secondary .widget-title > a {
	/* font-weight:bold; */
	color: rgb(102, 102, 102);
	text-decoration:none;
}

/* .widget-title > a:hover { color: rgb(60, 125, 188); } */

#secondary .widget-title > a:hover,
#secondary .widget-title > a:active,
#secondary .widget-title > a:focus {
	text-decoration:none;
}
.wiki-page-links {
	display:none;
}

/* footer */
#colophon {
	padding-bottom:0;
}
#supplementary {
	padding-left: 2.6%;
	border-radius:0;
}