---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("About, FAQ, Contact Info")}
  metaDescription="Basic information and FAQ (Frequently Asked Questions) about the Music Notation Project and their work with alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">About, FAQ, Contact Info</h1>
        </header>

        <div class="entry-content">
          <p>
            The mission of the Music Notation Project is to raise awareness of
            the disadvantages of traditional music notation, to explore
            alternative music notation systems, and to provide resources for the
            wider consideration and use of these alternatives.
          </p>
          <p>
            We think that traditional western music notation has some
            unfortunate aspects that can be improved upon (as discussed on our <a
              href="/">home page</a
            >), aspects that make reading and learning to play music much more
            difficult than it needs to be. Our overarching goal is to help make
            reading, writing, and playing music more enjoyable and easier to
            learn.
          </p>
          <p>
            The Music Notation Project is a not-for-profit organization that is
            sustained by the contributions of supporters and volunteers. Please
            consider <a href="/home/contribute/">contributing</a> to our efforts.
            Our five-person governing board is Kevin Dalley, Michael Johnston, Doug
            Keislar, John Keller, Paul Morris. Although we are a not-for-profit entity,
            we are currently not incorporated (and do not have 501(3)(c) status).
          </p>
          <p>
            The Music Notation Project was established in January of 2008 to
            carry on the work begun by its predecessor, the <a href="/mnma/"
              >Music Notation Modernization Association</a
            >.
          </p>
          <h2 class="divider-heading" id="contact">Contact Information</h2>
          <p>
            Please feel free to contact us at the following email address:<br />
            <img
              loading="lazy"
              class="alignleft"
              alt=""
              src="/wp-content/uploads/2013/03/email-info-mn.gif"
              width="130"
              height="12"
            />
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading" id="faq">
            FAQ &#8211; Frequently Asked Questions
          </h2>
          <p>
            If you have a question that is not answered here, please <a
              href="#contact">contact us</a
            > or inquire on the <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              >Forum</a
            >.
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >Are these notations really just for obscure atonal, chromatic,
              twelve-tone music, and not suited for the tonal diatonic music
              that everyone likes?</strong
            >
          </p>
          <p>
            No, notations with a chromatic staff actually represent the interval
            relationships that are fundamental to diatonic music much more
            accurately than traditional notation does (see <a href="/#intervals"
              >Interval Relationships</a
            > on our home page and the <a href="/tutorials/intervals/"
              >Intervals Tutorial</a
            >). So we think this approach offers advantages for tonal diatonic
            music (or any kind of music).
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >Are you advocating that musicians and students should abandon
              traditional notation and learn one of these notations instead?</strong
            >
          </p>
          <p>
            We would not want to dissuade anyone from learning to read
            traditional notation as an important skill for musicians to have. It
            will likely remain the established lingua-franca of western music
            for the foreseeable future. However, we would encourage anyone who
            is interested to <em>also</em> explore the notations on our site and
            the ways in which traditional notation might be improved.
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >If this approach to music notation was such a good idea why
              hasn&#8217;t it caught on long ago?</strong
            >
          </p>
          <p>
            That is a question that has no easy answer. There is at least one
            major factor that has only recently begun to change &#8212; see the
            next question.
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >What about the practical matter of not having any music available
              in these notations?</strong
            >
          </p>
          <p>
            For a long time this has been a seemingly insurmountable problem,
            but given the progress of technology it will become less and less of
            an issue, see <a href="/software/"> Software</a>.
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >There are a lot of alternative notations out there. Which is the
              best one?</strong
            >
          </p>
          <p>
            One of our goals is to provide resources for conducting evaluative
            research to try and determine which notation systems are most
            promising as alternatives to, or potential replacements of,
            traditional notation (see <a href="/systems/evaluative-research/"
              >Evaluative Research</a
            >). However, a preference for one notation over another is
            inevitably somewhat subjective. At minimum we would like to inform
            the public about the various issues, approaches, and notations, and
            provide them the resources to have a well-informed opinion.
          </p>
          <p>&nbsp;</p>
          <p>
            <strong
              >Do you really expect a significant number of people to change the
              way they read music?</strong
            >
          </p>
          <p>
            Who can tell? As they say, the journey of a thousand miles begins
            with a single step.
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading">Credits</h2>
          <p>Web design and maintenance by Paul Morris.</p>
          <p>
            Website proudly powered by <a
              href="http://wordpress.org"
              target="_blank">WordPress</a
            >, using a customized <a
              href="http://wordpress.org/extend/themes/twentyeleven"
              target="_blank">Twenty Eleven</a
            > theme.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
