---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("More Composers", "Wiki")}
  metaDescription="Sheet music for works by various composers in alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">More Composers</h1>
        </header>

        <div class="entry-content">
          <p>
            Works by various composers in alternative music notation systems.
          </p>
          <p>
            The following sheet music for piano is now available in <a
              href="/system/express-stave-by-john-keller/"
              rel="nofollow">Express Stave</a
            > (PDF format).  They were created by John Keller using <a
              title="Finale and Alternative Music Notation Systems"
              href="/software/finale/">Finale</a
            >.
          </p>
          <ul>
            <li>
              <a href="/wp-content/uploads/2013/03/Fur-Elise-34-reverseES.pdf"
                >Beethoven: Fur Elise (reverse colour ES)</a
              >
            </li>
            <li>
              <a
                title="Moonlight Sonata ES.pdf"
                href="/wp-content/uploads/2013/03/Beethoven-Moonlight-Sonata-ES.pdf"
                >Beethoven: Moonlight Sonata, Op 27, No 2, Movements 1, 2 and 3</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                title="Debussy What the West Wind Saw ES2.pdf"
                href="/wp-content/uploads/2013/03/Debussy_What_the_West_Wind_Saw_ES2.pdf"
              >
                Debussy: “What the West Wind Saw” (Reverse Colour Express Stave)</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                title="Liebestraume ES.pdf"
                href="/wp-content/uploads/2013/03/Liebestraume-reverseES.pdf"
              >
                Liszt: “Liebestraume”</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                title="Ravel - Valses nobles et sentimentales reverse ES font 4.pdf"
                href="/wp-content/uploads/2013/03/Ravel_-_Valses_nobles_et_sentimentales_reverse_ES_font_4.pdf"
              >
                Ravel: “Valses nobles et sentimentales” (Reverse Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Ravel - Valses nobles et sentimentales 3.pdf"
                href="/wp-content/uploads/2013/03/Ravel_-_Valses_nobles_et_sentimentales_3.pdf"
              >
                Ravel: “Valses nobles et sentimentales” (Traditional Notation in
                identical layout for comparison)</a
              >
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
