---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Modulation, Dominant, Subdominant", "Wiki")}
  metaDescription="Discussion of modulation or changing keys as it relates to alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Modulation, Dominant, Subdominant</h1>
        </header>

        <div class="entry-content">
          <p>
            Modulation is a shifting of key-center (the tonic), or &#8220;the
            key.&#8221; A semitone alteration upward at diatonic degree <strong
              >4</strong
            > (whether by sharping or by removing a flat) makes the diatonic pattern
            reappear with a different tonic&#8211;a new <strong>key</strong>,
            the <strong>dominant</strong> of the old key. For example, this changes
            the key of C major to G major, or B-flat major to F major.
          </p>
          <p>
            Altering degree <strong>7</strong> downward by a semitone (by removing
            a sharp or by flatting) re-forms the diatonic pattern with a different
            new tonic, the <strong>subdominant</strong> of the old key. For example,
            this changes the key of A major to D major, or B-flat major to E-flat
            major.
          </p>
          <p>
            <img
              loading="lazy"
              alt="Circle of Fifths"
              src="/wp-content/uploads/2013/03/144px-CircleOfFifths.png"
              width="144"
              height="133"
            />
          </p>
          <p>
            On the <a
              href="/wiki/music-theory/the-squiggle-method-of-pitch-visualization/"
              >Squiggle page</a
            > a pattern-generalized explanation (without key name examples) shows
            how the same diatonic pattern re-forms on first-degree modulation. The
            Circle of Fifths (Clock of Dominants) is a practical way of schematizing
            progress through the keys by first-degree modulation, in either direction:
            clockwise through successive dominant keys, counter-clockwise through
            subdominant keys.
          </p>
          <p>
            &#8212; &#8220;Slantnote&#8221; (David Zethmayr) 2 December 2011
            (MST)
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
