---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("W.C. MacFarlane: Spring Song (excerpt)", "Wiki")}
  metaDescription="An excerpt from W.C. MacFarlane's Spring Song shown in various music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">W.C. MacFarlane: Spring Song (excerpt)</h1>
        </header>

        <div class="entry-content">
          <p>
            Michael Johnston suggested this excerpt from &#8220;Spring
            Song,&#8221; a work for the organ written by Will C. McFarlane in
            1914. (It was the second in a pair of works that also included
            &#8220;Reverie&#8221;.) This piece was designed to be easily
            playable by organists with a minimal level of technique such as
            church organists and community performers. It spans a fairly wide
            pitch range, and shows how proportional-pitch, chromatic-staff
            notation systems represent such a wide pitch range from a fairly
            common instance of traditional notation.
          </p>
          <p><strong>In Traditional Notation</strong></p>
          <p>
            <img
              loading="lazy"
              class="alignnone size-full wp-image-1003"
              alt="700px-MacFarlane_SpringSong_excerpt"
              src="/wp-content/uploads/2013/03/700px-MacFarlane_SpringSong_excerpt.png"
              width="700"
              height="367"
              srcset="/wp-content/uploads/2013/03/700px-MacFarlane_SpringSong_excerpt.png 700w, /wp-content/uploads/2013/03/700px-MacFarlane_SpringSong_excerpt-300x157.png 300w, /wp-content/uploads/2013/03/700px-MacFarlane_SpringSong_excerpt-500x262.png 500w"
              sizes="(max-width: 700px) 100vw, 700px"
            />
          </p>
          <p><strong>In Various Alternative Notation Systems</strong></p>
          <p>
            Click the links to see the PDF file for each alternative notation
            system.
          </p>
          <ul>
            <li>
              <a href="/wp-content/uploads/2013/03/MacFarlane-Drielijn.pdf"
                >Drielijn by Pierre Hendrixs (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/07/McFarlane-excerpt-ES2.pdf"
                >Express Stave by John Keller (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/07/McFarlane-excerpt-reverse-colour-ES4.pdf"
                >Express Stave, Reverse Colour Version, by John Keller (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/MacFarlane-TwinNote.pdf"
                >TwinNote by Paul Morris (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/MacFarlane-TwinNoteTD.pdf"
                >TwinNote TD (Traditional Duration) by Paul Morris (PDF)</a
              >
            </li>
          </ul>
          <p><strong>Audio</strong>&#8211; Listen to the Excerpt</p>
          <ul>
            <li>
              <a href="/wp-content/uploads/2013/03/MacFarlane_excerpt_MIDI.mid"
                >MacFarlane excerpt MIDI</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/MacFarlane_excerpt_MP3.mp3"
                >MacFarlane excerpt MP3</a
              >
            </li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
