---
import MnpLayout from "../../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("LilyPond", "Software")}
  metaDescription="Lilypond music notation software is being enhanced for use with alternative music notation systems that use a chromatic staff."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            LilyPond and Alternative Music Notation Systems
          </h1>
        </header>

        <div class="entry-content">
          <p>
            <img
              loading="lazy"
              class="alignright"
              title="LilyPond Logo"
              src="/wp-content/uploads/2013/03/double-lily150x150.gif"
              alt="LilyPond Logo"
              width="150"
              height="150"
            /><a href="http://www.lilypond.org">LilyPond</a> is a free, open-source
            application that supports displaying and printing music in alternative
            music notation systems.
          </p>
          <p>
            <em
              >See our <a href="/wiki/software/lilypond/">LilyPond wiki page</a>
              for the most current documentation and demo files showing various alternative
              notation systems rendered by LilyPond.</em
            >
          </p>
          <p>
            LilyPond is used by writing and editing text documents that contain
            music notation data, rather than pointing and clicking with a mouse.
            Instead of providing a graphical user interface for editing scores,
            LilyPond&#8217;s developers concentrate on producing the
            highest-quality output, sheet music that looks as good as if it had
            been typeset by hand.
          </p>
          <p>
            The LilyPond developers are experimenting with a graphical interface
            for LilyPond (see <a
              href="http://lilypond.org/schikkers-list/"
              target="_blank">Schikkers List</a
            >), but it is in very early stages. There are free open-source
            applications that offer graphical editing of music notation that can
            export music to the LilyPond file format. One could use them to
            graphically edit music in traditional notation, and then export the
            music to LilyPond for transnotation into an alternative notation.
            Also, since LilyPond can import <a
              href="http://musicxml.com"
              target="_blank">MusicXML</a
            > files, any of the many applications that export to MusicXML (e.g. <a
              href="http://musescore.org">MuseScore</a
            >) could also be used in this way. (See <a
              href="/software/open-source-strategy/">Open-Source Strategy</a
            >.)
          </p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
