---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Shape Note Notation", "Wiki")}
  metaDescription="Documentation of shape note music notation as it relates to other alternative music notation systems, particularly those that use a chromatic staff."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Shape Note Notation</h1>
        </header>

        <div class="entry-content">
          <p>
            Shape notes are a music notation designed to facilitate
            congregational and community singing. Links to more information on
            shape note are available on the <a
              href="/systems/more-notation-systems/"
              rel="nofollow">More Notation Systems Page</a
            >, under the heading &#8220;Systems that use the traditional
            diatonic staff&#8221;.
          </p>
          <p>
            To understand shape note, consider that there are three things
            related to a note&#8217;s pitch that can be represented:
          </p>
          <ul>
            <li>A note&#8217;s absolute pitch</li>
            <li>
              A note&#8217;s relative pitch / interval relationship to other
              notes
            </li>
            <li>A note&#8217;s scale degree or position in the current key</li>
          </ul>
          <p>
            In shape note the shape of a note and its position on the staff
            indicate its position within the key or scale, rather than its
            absolute pitch, which is not indicated. It works like a moveable-do
            system. This works well for singing because with the voice it is
            easy to pitch a song at any key, with no transposition difficulties
            like with most instruments.  The voice is the relative pitch
            instrument par excellence.
          </p>
          <p>
            Most instruments are played by absolute pitch rather than by
            relative pitch/intervals, or scale/key degree, at least at first.
            Clearly shape note notation would work much better with isomorphic
            instruments, since they&#8217;re closer to the voice&#8217;s
            relative-pitch intuitiveness. You would presumably have to
            internalize the diatonic scales/keys on a given instrument to be
            able to play by scale degree rather than absolute pitch.
          </p>
          <h3>Combining Shape Note and Chromatic Staff Notation Approaches</h3>
          <p>
            One way to use a shape note approach in an alternative notation
            system would be to have the staff position represent the absolute
            pitch value and then have the note shape represent the note&#8217;s
            scale/key degree. This would provide both absolute pitch info and
            scale degree info.
          </p>
          <p>
            This would work well for music that stays in one key, or switches
            cleanly at once from one key to another. It would impose the
            diatonic scale/key framework on the representation of music,
            hard-wiring it into the notation (as is the case with traditional
            notation). So it would impose a meaning on notes that may not be
            there, say if the music is <i>drifting</i> from one key to another such
            that the scale degree/position of a series of notes is ambiguous. In
            other words, this approach would be less neutral than just representing
            the intervals and absolute pitch values.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
