---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Isomorphic Instruments", "Wiki")}
  metaDescription="Instruments that are isomorphic, so that intervals have the same appearance or shape in all transpositions, making them key-neutral and scale-neutral"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Isomorphic Instruments</h1>
        </header>

        <div class="entry-content">
          <p>
            The instruments listed here and on the websites linked below follow
            the principle of isomorphism, the identical or similar appearance of
            intervals in all transpositions. This means they are key-neutral and
            scale-neutral. Isomorphism is also found in many alternative
            notation systems.
          </p>
          <h2>General</h2>
          <p style="padding-left: 30px;">
            Intuitive Instruments for Improvisers (Paul Hirsh) &#8211; <a
              href="http://improvise.free.fr/"
              rel="nofollow"
              >http://improvise.free.fr/
            </a>A website about isomorphic instruments, isomorphic panpipes,
            Janko keyboards, and more&#8230;
          </p>
          <h2>Keyboards, Accordions, Button Instruments</h2>
          <h3 style="padding-left: 30px;">General</h3>
          <p style="padding-left: 60px;">
            The DIY Keyboard Project (Drew Wagner) &#8211; <a
              href="http://diykeyboard.org"
              rel="nofollow"
              >http://diykeyboard.org
            </a>Focuses on building alternative, isomorphic keyboards. It is an
            open-source hardware development project with the goal of making all
            of the CAD files, microcontroller code, etc. necessary for a
            hobbyist to build a digital keyboard freely available.
          </p>
          <p style="padding-left: 60px;">
            AltKeyboards website on isomorphic keyboards, focusing on the <a
              href="/wiki/instruments/wicki-hayden-note-layout/"
              >Wicki-Hayden note layout</a
            > (Ken Rushton) &#8211; <a
              href="http://www.AltKeyboards.com"
              rel="nofollow">http://www.AltKeyboards.com</a
            >
          </p>
          <p style="padding-left: 60px;">
            Musix for iPad &#8211; <a
              href="http://www.shiverware.com/musix.html"
              rel="nofollow">http://www.shiverware.com/musix.html</a
            > One of the layouts is the <a
              href="/wiki/instruments/wicki-hayden-note-layout/">Wicki-Hayden</a
            >.
          </p>
          <h3 style="padding-left: 30px;">
            Single Row of Keys (Chromatic Scale)
          </h3>
          <p style="padding-left: 60px;">
            Robbins Keyboard &#8211; <a
              href="https://www.google.com/patents/US2627777"
              >https://www.google.com/patents/US2627777</a
            >
          </p>
          <p style="padding-left: 60px;">
            Dodeka Keyboard &#8211; <a
              href="http://www.dodeka.info/DodekaEnglish/Instruments.html"
              >http://www.dodeka.info/DodekaEnglish/Instruments.html</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Multiple Rows of Keys (Chromatic Scales, Offset by a Perfect Fourth)
          </h3>
          <p style="padding-left: 60px;">
            LinnStrument (chromatic scales a perfect fourth apart, reminiscent
            of a fretted string instrument) &#8211; <a
              href="http://www.rogerlinndesign.com/linnstrument.html"
              >http://www.rogerlinndesign.com/linnstrument.html</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Two Rows of Keys (Whole-Tone Scales, Offset by a Semitone)
          </h3>
          <p style="padding-left: 60px;">
            Symmetrical Keyboard (Dominique Waller) &#8211; <a
              href="http://www.le-nouveau-clavier.fr/english/"
              >http://www.le-nouveau-clavier.fr/english/</a
            >
          </p>
          <p style="padding-left: 60px;">
            The Balanced Keyboard (Bart Willemse) &#8211; <a
              href="http://balanced-keyboard.com/"
              rel="nofollow">http://balanced-keyboard.com/</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Multiple Rows of Keys (Duplicated Rows of Whole-Tone Scales, Offset
            by a Semitone)
          </h3>
          <p style="padding-left: 60px;">
            <a href="/wiki/instruments/janko-keyboard/">Janko Keyboard Layout</a
            >
          </p>
          <p style="padding-left: 60px;">
            Daskin brand Janko Keyboards (Paul Vandervoort) &#8211; <a
              href="http://daskin.com/"
              rel="nofollow">http://daskin.com/</a
            >
          </p>
          <p style="padding-left: 60px;">
            <a href="http://www.lippenskeyboard.com/">Lippens keyboard</a> derived
            from Janko&#8217;s design
          </p>
          <p style="padding-left: 60px;">
            Chromatone brand Janko-style keyboards (Japanese company) &#8211; <a
              href="http://chromatone.jp/"
              rel="nofollow">http://chromatone.jp/</a
            >
          </p>
          <p style="padding-left: 60px;">
            Chromatone Lite for iPad &#8211; <a
              href="http://itunes.apple.com/us/app/chromatone-lite-for-ipad/id382628130?mt=8#"
              rel="nofollow"
              >http://itunes.apple.com/us/app/chromatone-lite-for-ipad/id382628130?mt=8#</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Multiple Rows of Keys (Whole-Tone Scales, Offset by a Perfect Fourth
            or Fifth)
          </h3>
          <p style="padding-left: 60px;">
            Wicki-Hayden is a hexagonal layout in which odd-numbered rows are
            not duplicated as in Janko but instead are separated by octaves, as
            are even-numbered rows.  <a
              href="/wiki/instruments/wicki-hayden-note-layout/"
              >MNP Wiki page on Wicki-Hayden Layout</a
            >
          </p>
          <p style="padding-left: 60px;">
            The Array Musicboard (Bill Wesley) uses a layout closely related to
            Wicki-Hayden &#8211; <a
              href="http://www.thearraymbira.com/beyond-the-mbira.html"
              >http://www.thearraymbira.com/beyond-the-mbira.html</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Multiple Rows of Keys (Series of Minor Thirds, Offset by a Semitone
            or Whole Step)
          </h3>
          <p style="padding-left: 60px;">
            Chromatic Button Accordions &#8211; <a
              href="http://en.wikipedia.org/wiki/Chromatic_button_accordion"
              rel="nofollow"
              >http://en.wikipedia.org/wiki/Chromatic_button_accordion</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            Multiple Rows of Keys (Series of Perfect Fifths, Offset by a Minor
            or Major Third)
          </h3>
          <p style="padding-left: 60px;">
            The <a href="https://en.wikipedia.org/wiki/Tonnetz">Tonnetz</a> is a
            hexagonal grid in which the three diagonals are intervals of a perfect
            fifth, major third, and minor third.  One example is C-thru music&#8217;s
            &#8220;Axis&#8221; instruments using the &#8220;harmonic table&#8221;
            note layout &#8211; <a
              href="http://www.c-thru-music.com/"
              rel="nofollow">http://www.c-thru-music.com/</a
            >
          </p>
          <h3 style="padding-left: 30px;">Microtonal Keyboards</h3>
          <p style="padding-left: 60px;">
            Generalized keyboard, a predecessor of the Janko keyboard that
            accommodates microtonal tunings (invented by R. H. M. Bosanquet,
            extended by Erv Wilson and others) &#8211; <a
              href="http://en.wikipedia.org/wiki/Generalized_keyboard"
              rel="nofollow"
              >http://en.wikipedia.org/wiki/Generalized_keyboard</a
            > , <a
              href="http://improvise.free.fr/bosanquet/bosanquet.html"
              rel="nofollow"
              >http://improvise.free.fr/bosanquet/bosanquet.html</a
            >
          </p>
          <p style="padding-left: 60px;">
            Microtonal keyboards, including isomorphic keyboards &#8211; <a
              href="http://xenharmonic.wikispaces.com/Microtonal+Keyboards"
              >http://xenharmonic.wikispaces.com/Microtonal+Keyboards</a
            >
          </p>
          <h3 style="padding-left: 30px;">
            <a href="/wiki/instruments/6-6-colored-traditional-7-5-keyboard/">
              6-6 Colored Traditional (7-5) Keyboard
            </a> (on this wiki)
          </h3>
          <p style="padding-left: 60px;">
            (Strictly speaking, this is not an isomorphic instrument, because
            only the coloring, not the physical layout, is isomorphic.)
          </p>
          <h2>Woodwinds</h2>
          <p style="padding-left: 30px;">
            Isomorphic Saxophones and Flutes (Jim Schmidt) &#8211; <a
              href="http://www.jsengineering.net/"
              rel="nofollow">http://www.jsengineering.net/</a
            >
          </p>
          <h2>String Instruments</h2>
          <p style="padding-left: 30px;">
            Many traditional string instruments are isomorphic in their usual
            tunings (violin, viola, cello, double bass, mandolin, bass guitar).
            The guitar is mostly isomorphic in its usual tuning, with the
            exception being the major third between the G and B strings. Some
            people tune the guitar with all neighboring strings <a
              href="http://m3guitar.com">a major third apart</a
            >, or all a perfect fourth apart, making the tuning completely
            isomorphic. <a href="https://en.wikipedia.org/wiki/Regular_tuning"
              >Wikipedia page on regular tunings for guitar</a
            >
          </p>
          <p style="padding-left: 30px;">
            The Harpejji, a fretted string instrument whose strings are tuned a
            whole tone apart, making it like a combination of a Janko keyboard
            and an electric guitar. &#8211; <a
              href="http://www.marcodi.com/"
              rel="nofollow">http://www.marcodi.com/</a
            > &#8211; <a href="/wiki/instruments/harpejji/">Wiki Page</a>
          </p>
          <p style="padding-left: 30px;">
            Chromatic harp (strings arranged in whole-tone scales) &#8211; <a
              href="http://www.chromatiker.de/Harfenbauer.html"
              rel="nofollow">http://www.chromatiker.de/Harfenbauer.html</a
            > (Page in German)
          </p>
          <p style="padding-left: 30px;">
            The Array Guitar,  Psaltery, and Vina (Bill Wesley) &#8211; <a
              href="http://www.thearraymbira.com/beyond-the-mbira.html"
              >http://www.thearraymbira.com/beyond-the-mbira.html</a
            >
          </p>
          <h2>Percussion Instruments</h2>
          <p style="padding-left: 30px;">
            Isomorphic Vibraphone whose bars are arranged in whole-tone scales
            and have a three-color pattern (Roy Pertchik) &#8211; see <a
              href="/wiki/instruments/tri-chromatic-keyboard-layout/"
              >Tri-Chromatic Keyboard Pattern</a
            >
          </p>
          <p style="padding-left: 30px;">
            The Array Mbira, Nail Violin, Rasp, etc. (Bill Wesley) &#8211; <a
              href="https://www.arraymbira.com/">https://www.arraymbira.com/</a
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
