---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle("13 Notation Systems Added to Our Site", "Blog")}
  metaDescription="A blog post about 13 notation systems that have recently been added to the Music Notation Project website."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2008/07/website-revisions-music-notations/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a href="/blog/2008/07/our-new-domain/" rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">13 Notation Systems Added to Our Site</h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-07-30T13:24:00+00:00"
              >July 30, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            In addition to re-doing the images in the &#8220;music
            notations&#8221; section of our site, we&#8217;ve added thirteen
            notation systems, bringing the number of systems on our site to more
            than thirty-seven.<span id="more-485"></span>
          </p>
          <p>
            Seven of these are older systems that were included in the
            MNMA&#8217;s Research Project of 1999. These include notation
            systems by the well-known figures Arnold Schoenberg and Cornelis
            Pot:
          </p>
          <p>
            <a
              href="/system/proportional-chromatic-musical-notation-by-henri-carcelle/"
              >Proportional Chromatic Music Notation by Henri Carcelle</a
            ><br />
            <a
              href="/system/notation-for-the-system-of-equal-tones-by-gustave-decher/"
              >Notation for the System of Equal Tones Applied to the Chromatic
              Keyboard by Gustave Decher</a
            ><br />
            <a
              href="/system/notation-for-the-system-of-equal-tones-by-gustave-decher/"
              >Seven-tone or Twelve-tone Notation by Hans Krenn</a
            ><br />
            <a href="/system/untitled-by-klaus-lieber/"
              >Untitled by Klaus Lieber</a
            ><br />
            <a href="/system/6-6-klavar-by-cornelis-pot/"
              >6-6 Klavar by Cornelis Pot</a
            ><br />
            <a href="/system/untitled-by-arnold-schoenberg/"
              >Untitled by Arnold Schoenberg</a
            ><br />
            <a href="/system/note-for-note-by-walter-h-thelwall/"
              >Untitled by Robert Thelwall</a
            >
          </p>
          <p>
            Two additional systems were known at the time of the MNMA&#8217;s
            Research Project, but were not included, even though they passed all
            of the MNMA&#8217;s screens. (It seems they were understood to be
            superceded by Parncutt&#8217;s 6-6 Tetragram.)
          </p>
          <p>
            <a href="/system/6-6-trigram-notation-by-richard-parncutt/"
              >6-6 Trigram Notation by Richard Parncutt</a
            ><br />
            <a href="/system/keyboard-7-5-trigram-notation-by-richard-parncutt/"
              >Keyboard (or 7-5) Trigram Notation by Richard Parncutt</a
            >
          </p>
          <p>
            Finally, we have added four systems that have been designed more
            recently and so were not part of the MNMA Research Project, even
            though they appear to meet the criteria of the MNMA&#8217;s screens.
          </p>
          <p>
            <a href="/system/black-triangle-twinline-by-doug-keislar/"
              >Black Triangle Twinline by Doug Keislar</a
            ><br />
            <a href="/system/muto-notation-by-muto-foundation/"
              >MUTO Music Notation by the MUTO Music Method Foundation</a
            ><br />
            <a href="/system/thumline-notation-by-jim-plamondon/"
              >Thumline Music Notation by Jim Plamondon</a
            ><br />
            <a href="/system/bilinear-notation-by-jose-a-sotorrio/"
              >Bilinear Music Notation by Jose Sotorrio</a
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutBlog>
