<h2 class="gallery-heading">Notation System Groups</h2>
<div class="system-container">
  <ul class="menu-notation-groups menu">
    <li
      id="menu-item-527"
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-527"
    >
      <a href="/systems/group/whole-step-5-lines/"
        >Lines a Whole Step Apart, 5 Lines per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-526"
    >
      <a href="/systems/group/whole-step-4-3-lines/"
        >Lines a Whole Step Apart, 4 or 3 Lines per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-524"
    >
      <a href="/systems/group/whole-step-6-lines/"
        >Lines a Whole Step Apart, 6 Lines per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-532"
    >
      <a href="/systems/group/whole-step-major-3rd-4-lines/"
        >Lines a Whole Step and Major 3rd Apart, 4 per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-530"
    >
      <a href="/systems/group/minor-3rd-3-4-lines/"
        >Lines a Minor 3rd Apart, 3 or 4 Lines per Octave</a
      >
    </li>
  </ul>
</div>
<div class="system-container">
  <ul class="menu-notation-groups menu">
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-531"
    >
      <a href="/systems/group/major-3rd-3-lines/"
        >Lines a Major 3rd Apart, 3 Lines per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-528"
    >
      <a href="/systems/group/major-3rd-2-lines/"
        >Lines a Major 3rd Apart, 2 Lines per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-523"
    >
      <a href="/systems/group/major-3rd-2-lines-compact/"
        >Lines a Major 3rd Apart, 2 per Octave, Compact Staff</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-525"
    >
      <a href="/systems/group/tritone-2-lines/"
        >Lines a Tritone Apart, 2 per Octave, or 1 Line per Octave</a
      >
    </li>
    <li
      class="menu-item menu-item-type-taxonomy menu-item-object-notation-group menu-item-529"
    >
      <a href="/systems/group/7-5-line-pattern/"
        >7-5 Line Pattern, 3, 5, or 6 Lines per Octave</a
      >
    </li>
  </ul>
</div>
