---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Hamburg Music Notation Poster", "Wiki")}
  metaDescription="A wiki page about Hamburg Music Notation"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Hamburg Music Notation Poster</h1>
        </header>

        <div class="entry-content">
          <p>
            Dear friends of music,<br />
            during the last 20 years we have been working on the development of Hamburg
            Music Notation, which aims at simplifying the reading and writing of
            music in such a way that it becomes as easy to handle as in the field
            of language.<br />
            We are convinced that so-called Western music, which consists of twelve
            tones, can best be represented by the Duodecimal System.<br />
            Also written representation on five lines can be radically simplified
            by the use of two differently shaped note heads analogous to two colors
            on the keyboard and the principles developed by Bach for the well-tempered
            piano.<br />
            A detailed account of our considerations can be found on our website.<br
            />
            (<a href="https://hamburgmusicnotation.com/"
              >https://hamburgmusicnotation.com/</a
            >)<br />
            A software that can be used as an addon (<a
              href="https://github.com/robertipach/MuseScore/releases/tag/v3.4.1-hmnBeta.7"
              >https://github.com/robertipach/MuseScore/releases/tag/v3.4.1-hmnBeta.7</a
            >) for the free music software MuseScore is available to convert the
            usual notation into Hamburg music notation.<br />
            On a poster (<a
              href="https://hamburgmusicnotation.files.wordpress.com/2021/09/plakata4tonleitern17int.pdf"
              >https://hamburgmusicnotation.files.wordpress.com/2021/09/plakata4tonleitern17int.pdf</a
            >) , which is generally available, we have displayed all keys in
            major and minor.<br />
            Also the most important chords are shown there.<br />
            Music is a language in which reading and writing should be easy to learn.<br
            />
            The currently used method does not meet these requirements.<br />
            We propose to teach the method we have developed in addition to the common
            method as a second clef.
          </p>
          <p>
            <img
              src="/wp-content/uploads/2021/09/PlakatA4Tonleitern17int-scaled.jpg"
              alt="Poster HMN"
            /><br />
            <span
              style="width: 0px;line-height: 0"
              data-mce-type="bookmark"
              class="mce_SELRES_start"
              ><span
                style="width: 0px;line-height: 0"
                data-mce-type="bookmark"
                class="mce_SELRES_start"
              >
              </span>
            </span>
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
