---
import MnpLayout from "../../layouts/MnpLayout.astro";
import { makeMetaTitle } from "../../utils/utils";
---

<MnpLayout
  metaTitle={makeMetaTitle("MNMA: Music Notation Modernization Association")}
  metaDescription="The Music Notation Modernization Association was the predecessor of the Music Notation Project from 1985 to 2007"
>
  <div id="primary">
    <div id="content" role="main">
      <article class="page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">
            MNMA | Music Notation Modernization Association
          </h1>
        </header>

        <div class="entry-content">
          <p><span style="font-size: 22px;">1985 &#8211; 2007</span></p>
          <div
            id="attachment_477"
            style="width: 220px"
            class="wp-caption alignright"
          >
            <img
              aria-describedby="caption-attachment-477"
              loading="lazy"
              class="size-full wp-image-477"
              title="MNMA Logo"
              src="/wp-content/uploads/2012/07/mnma-logo-210-120.png"
              alt="MNMA Logo"
              width="210"
              height="120"
            /><p id="caption-attachment-477" class="wp-caption-text">
              MNMA Logo
            </p>
          </div>
          <p>
            The Music Notation Modernization Association (MNMA) was the
            predecessor of the Music Notation Project. It was founded in 1985 by
            Thomas Reed as an international nonprofit organization dedicated to
            modernizing/improving music notation. The goal was to address the
            shortcomings of traditional music notation that &#8220;make reading
            music substantially more difficult than necessary, pose unwarranted
            hardships for musicians, and prevent many young people from becoming
            fluent music readers.&#8221;
          </p>
          <p>
            The membership of the MNMA included musicians, teachers, composers,
            and notation inventors from around the world. At its height it
            numbered about 130 individuals from 17 different countries (see the
            partial list below).
          </p>
          <p>
            The Music Notation Project was established in January of 2008 to
            carry on the work begun by the MNMA. (See our <a
              href="/blog/2008/01/introducing-the-music-notation-project/"
              >first blog post</a
            > for more info.)
          </p>
          <p>
            Some former Chinese MNMA members including 甘健秋 (Jianqiu Gan)
            independently formed the China Music Notation Academy in November of
            2007. They held a conference in Chengdu, Sichuan, China in August of
            2008.
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading">Research Project</h2>
          <p>
            The MNMA conducted a research project that entailed collecting and
            evaluating a large number of alternative notation systems. The goal
            was to help determine which notation system or systems were the most
            promising as an alternative to, or potential replacement of,
            traditional notation. This effort spanned several years and was
            concluded in 1999.
          </p>
          <p>
            <strong
              ><a title="Research Project" href="/mnma/research-project/"
                >More about the Research Project&#8230;</a
              >
            </strong>
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading">Publications and Conferences</h2>
          <p>
            <a href="/mnma/conferences/#1994"
              ><img
                loading="lazy"
                style="border: 0px none;"
                src="/wp-content/uploads/2013/03/rotterdam_wbord160x155.gif"
                alt="Rotterdam Conference Logo"
                width="160"
                height="155"
              />
            </a>
            <a href="/mnma/publications/#procedure"
              ><img
                loading="lazy"
                src="/wp-content/uploads/2013/03/eval_cover_wborder120.gif"
                alt="Music Notation Evaluation Procedure Cover"
                width="120"
                height="155"
              />
            </a>
            <a href="/mnma/conferences/#1997"
              ><img
                loading="lazy"
                src="/wp-content/uploads/2013/03/cebu_wbord160x155.gif"
                alt="Cebu City Philippines Conference Logo"
                width="160"
                height="155"
              />
            </a>
          </p>
          <p>
            The MNMA published books, conference proceedings, and dozens of
            quarterly newsletters. These publications document hundreds of music
            notation systems, extensive debates about improving music notation,
            and the MNMA&#8217;s research project.
          </p>
          <ul>
            <li>
              <strong
                ><a href="/mnma/publications/#news">Music Notation News</a>
              </strong> &#8211; Quarterly newsletter, 1986-2004, edited by Thomas.
              S. Reed
            </li>
            <li>
              <strong
                ><a href="/mnma/publications/#procedure"
                  >Music Notation Evaluation Procedure</a
                >
              </strong> &#8211; by Douglas Keislar (1994)
            </li>
            <li>
              <strong
                ><a href="/mnma/publications/#proposals"
                  >Directory of Music Notation Proposals</a
                >
              </strong> &#8211; by Thomas S. Reed (1997)
            </li>
            <li>
              <strong
                ><a href="/mnma/publications/#test"
                  >Test for New Notation Systems</a
                >
              </strong> &#8211; by Thomas. S. Reed and D. F. Keislar (1999)
            </li>
          </ul>
          <p>
            The MNMA held five international conferences over the course of its
            history, about one every three years. They were an opportunity for
            MNMA members to meet one another and exchange ideas face to face.
            Attendees convened from all over the world to present papers on
            topics related to music notation. These papers were published in
            conference proceedings.
          </p>
          <ul>
            <li>
              <a href="/mnma/conferences/#1988"
                ><strong>Norwich, England, 1988</strong>
              </a> &#8211; Edited by Thomas S. Reed (1991)
            </li>
            <li>
              <a href="/mnma/conferences/#1991"
                ><strong>Saint Louis, USA, 1991</strong>
              </a> &#8211; Edited by Thomas S. Reed (1994)
            </li>
            <li>
              <a href="/mnma/conferences/#1994"
                ><strong>Rotterdam, Netherlands, 1994</strong>
              </a> &#8211; Edited by Thomas S. Reed (1999)
            </li>
            <li>
              <a href="/mnma/conferences/#1997"
                ><strong>Cebu City, Philippines, 1997</strong>
              </a> &#8211; Edited by Thomas S. Reed (2000)
            </li>
            <li>
              <strong>Chicago, USA, 2003</strong> &#8211; Proceedings were not published.
            </li>
          </ul>
          <p>
            Before Thomas Reed founded the MNMA, he published a &#8220;Musical
            Six-Six Newsletter&#8221; for a number of years.  Unfortunately,
            back issues of this publication are no longer available.
          </p>
          <p>&nbsp;</p>
          <p><strong>How to Get MNMA Publications</strong></p>
          <p>
            A number of major universities carry the MNMA&#8217;s publications
            and conference proceedings in their libraries, or they may be
            ordered from the <a
              href="http://www.usd.edu/smm/"
              target="_blank"
              rel="noopener noreferrer">National Music Museum</a
            > at the University of South Dakota.
          </p>
          <p>
            <a
              href="http://orgs.usd.edu/nmm/GiftShop/MNMA/MusicNotationModernizationAssociation.html"
              target="_blank"
              rel="noopener noreferrer"
              ><strong>Place an Order</strong>
            </a>
          </p>
          <p><em>Libraries that carried Music Notation News:</em></p>
          <ul>
            <li>Harvard University</li>
            <li>New York Public Library</li>
            <li>SUNY at Buffalo</li>
            <li>Trent Park Library</li>
            <li>University of California, Berkeley (EBSCO)</li>
            <li>University of California, Santa Barbara</li>
            <li>University of Michigan (SWETS)</li>
            <li>University of Virginia</li>
          </ul>
          <p>&nbsp;</p>
          <h2 class="divider-heading">MNMA Website and Internet Presence</h2>
          <p>
            The MNMA website was originally developed by Michael Laschober. In
            March of 2004 Paul Morris re-designed the site and took over the
            reins as webmaster. See the <a href="/mnma/publications/#archive"
              >archive of news</a
            > from the MNMA website. The MNMA Forum was initiated in October of 2004.
            It has now become the Music Notation Project&#8217;s <a
              href="https://groups.google.com/forum/#!forum/musicnotation"
              target="_blank"
              rel="noopener noreferrer">Forum</a
            >.
          </p>
          <p>&nbsp;</p>
          <h2 class="divider-heading">Partial MNMA Membership List</h2>
          <p>(From January 2005.)</p>
          <table cellspacing="10" cellpadding="10">
            <tbody>
              <tr>
                <td
                  ><p>
                    <strong>Australia</strong><br />
                    Keller, John<br />
                    Parncutt, Richard<strong>Belgium</strong><br />
                    Rombaut, Gustaaf
                  </p>
                  <p>
                    <strong>Canada</strong><br />
                    Grogono, Clive<br />
                    Patterson, David
                  </p>
                  <p>
                    <strong>Chile</strong><br />
                    Doggenweiler, Rene
                  </p>
                  <p>
                    <strong>China</strong><br />
                    甘健秋 (Gan, Jianqiu)<br />
                    Ge Jian Kang<br />
                    Huang You Pu<br />
                    Kong Pengyu<br />
                    Liu, Yonghai<br />
                    Shi, Sunei<br />
                    Sun, Guangjun<br />
                    Sun, Zhongyan<br />
                    Wang, Yinxuan<br />
                    Zhou, Jiaji
                  </p>
                </td>
                <td
                  ><p>
                    <strong>England</strong><br />
                    Asher, John<br />
                    Casburn, Frank William<br />
                    Collins, Anne<br />
                    Forrest, Kenneth S.<br />
                    Montaigue, Deive<br />
                    Robinson, Helen<br />
                    Roche, Peter<br />
                    Stuckey, Bob
                  </p>
                  <p>
                    <strong>France</strong><br />
                    Charnoz, Gerard<br />
                    de Buur, Jeanette<br />
                    Waller, Dominique
                  </p>
                  <p>
                    <strong>Germany</strong><br />
                    Beyreuther, Johannes R.<br />
                    Rieder, Harald
                  </p>
                  <p>
                    <strong>Greece</strong><br />
                    Chlitsios, George
                  </p>
                  <p>
                    <strong>Netherlands</strong><br />
                    de Vries, Leo<br />
                    van Marissing, Peter<br />
                    Wijmenga, Gjalt
                  </p>
                </td>
                <td
                  ><p>
                    <strong>Philippines</strong><br />
                    Mitchell, Blake M.<strong>Ukraine</strong><br />
                    Kogut, Gennadiy
                  </p>
                  <p>
                    <strong>USA</strong><br />
                    Edwards, Christopher M.<br />
                    Gaare, Mark<br />
                    Haggan, Vin<br />
                    Hunter, Bruce<br />
                    Johnston, Michael<br />
                    Keislar, Douglas<br />
                    Laschober, Michael<br />
                    Lippens, Andre<br />
                    Luther, Steve<br />
                    Morris, Paul<br />
                    Nicholeris, Carol<br />
                    Poulson, Neil J.<br />
                    Reed, Scott<br />
                    Reed, Thomas S.<br />
                    Rose, Vincent<br />
                    Sadlier, Ronald F.<br />
                    Vandervoort, Paul
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</MnpLayout>
