---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("J.S. Bach", "Wiki")}
  metaDescription="Sheet music for works by J.S. Bach in alternative music notation systems."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">J.S. Bach</h1>
        </header>

        <div class="entry-content">
          <p>
            Works by Johann Sebastian Bach in alternative music notation
            systems.
          </p>
          <p>&nbsp;</p>
          <h3>Two Part Inventions</h3>
          <p>
            The following sheet music for piano is available in <a
              title="Express Stave by John Keller"
              href="/system/express-stave-by-john-keller/"
              rel="nofollow">Express Stave</a
            > (PDF format) and was created using <a
              title="Finale and Alternative Music Notation Systems"
              href="/software/finale/">Finale</a
            >:
          </p>
          <ul>
            <li>
              <a
                title="Bach invention1 reverse ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_invention1_reverse_ES.pdf"
              >
                Two Part Invention 1 in C major (Reverse Colour Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Bach invention 4 Dm Reverse colour ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_invention_4_Dm_Reverse_colour_ES.pdf"
              >
                Two Part Invention 4 in D minor (Reverse Colour Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Bach Invention7 reverse colour ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_Invention7_reverse_colour_ES.pdf"
              >
                Two Part Invention 7 in E minor (Reverse Colour Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Bach Invention 8 in F major Reverse ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_Invention_8_in_F_major_Reverse_ES.pdf"
              >
                Two Part Invention 8 in F major (Reverse Colour Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Bach Invention 10 in G major Reverse ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_Invention_10_in_G_major_Reverse_ES.pdf"
              >
                Two Part Invention 10 in G major (Reverse Colour Express Stave)</a
              >
            </li>
            <li>
              <a
                title="Bach invention 13 in A minor Reverse ES.pdf"
                href="/wp-content/uploads/2013/03/Bach_invention_13_in_A_minor_Reverse_ES.pdf"
                >Two Part Invention 13 in A minor (Reverse Colour Express Stave)</a
              >
            </li>
          </ul>
          <p>&nbsp;</p>
          <h3>Prelude 1 (Book 1) from the Well-Tempered Clavier</h3>
          <p>
            Here is the J. S. Bach Prelude 1 (Book 1) from the Well-tempered
            Clavier, transposed into all 12 keys and notated in <a
              title="Express Stave by John Keller"
              href="/system/express-stave-by-john-keller/"
              rel="nofollow">Express Stave</a
            > (ES) by John Keller using Finale.
          </p>
          <ul>
            <li>
              <a
                title="JS Bach Prelude 1 in C major WTC1 (ES all keys).pdf"
                href="/wp-content/uploads/2013/03/JS_Bach_Prelude_1_in_C_major_WTC1_ES_all_keys1.pdf"
                >Prelude 1 (C major), Well-tempered Clavier Book 1 (transposed
                into all 12 keys)</a
              >
            </li>
          </ul>
          <p>
            This famous piece is originally in C major. Here it is presented
            with exactly the same layout on all 12 pages, but starting in F
            major (a perfect 4th or 5 semitones higher than C) and progressing
            successively downward by semitones. The original key of C major is
            on page 6.
          </p>
          <p>
            By viewing the PDF file and using Page Down and Page Up controls,
            you can see how the intervals comprising each chord are invariant
            while the black/white notehead color fluctuates, according to the
            key signature. (Page Down takes you down in pitch.)
          </p>
          <p>&nbsp;</p>
          <h3>Two Part Invention 9</h3>
          <p>
            The next file was created using John Keller&#8217;s Finale method,
            and it shows Bach&#8217;s Two Part Invention 9 (F minor, BWV 780) in
            the following five notation systems:
          </p>
          <ul>
            <li>Express Stave (Keller)</li>
            <li>Black Triangle Twinline (Reed, var Keislar)</li>
            <li>6-6 Tetragram (Parncutt)</li>
            <li>Quasi-Isomorph (Wojcik, var Keller)</li>
            <li>Traditional Notation</li>
          </ul>
          <ul>
            <li>
              <a
                href="/wp-content/uploads/2013/03/Bach-Invention-9-in-F-minor-in-4-ANs-without-JKfont.pdf"
                >Two Part Invention 9 in F minor, in 5 notations (PDF)</a
              >
            </li>
          </ul>
          <p>
            The files below were created by Kevin Dalley using <a
              href="/wiki/lilypond/"
              rel="nofollow">Lilypond</a
            > notation software, and in some cases are <em
              >first-step approximations</em
            > towards their respective notation systems.
          </p>
          <ul>
            <li>
              <a href="/wp-content/uploads/2013/03/Bach-invention-09-5-line.pdf"
                >Invention 9 in a basic 5-line chromatic notation system (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-6-6-tetragram.pdf"
                >Invention 9 in Parncutt&#8217;s 6-6-Tetragram (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-a-b.pdf"
                >Invention 9 in Brennink notation (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-ailler.pdf"
                >Invention 9 in untitled notation system by Johann Ailler (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-avique.pdf"
                >Invention 9 in Avique Notation by Anne and Bill Collins (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-beyreuther-untitled.pdf"
                >Invention 9 in untitled notation system by Johannes Beyreuther
                (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-express.pdf"
                >Invention 9 in Express Stave by John Keller (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-frix.pdf"
                >Invention 9 in untitled notation system by Grace Frix (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-isomorph.pdf"
                >Invention 9 in Isomorph Notation by
              </a><a
                href="/system/isomorph-notation-by-tadeusz-wojcik/"
                rel="bookmark">Tadeusz Wójcik (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-mirck.pdf"
                >Invention 9 in Klavar, Mirck Version by Jean de Buur (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-twinline.pdf"
                >Invention 9 in Twinline (PDF)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-twinline-2.pdf"
                >Invention 9 in a variation on Twinline by Kevin Dalley (PDF)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bach-invention-09-kevin.pdf"
                >Invention 9 in an experimental notation system by Kevin Dalley
                (PDF)</a
              >
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-traditional.ly"
                >LilyPond template file (.ly)</a
              >
            </li>
            <li>
              <a href="/wp-content/uploads/2013/03/bachinvention09common.ly"
                >LilyPond traditional notation source file (.ly)</a
              >
            </li>
            <li>
              <a
                href="/wp-content/uploads/2013/03/bach-invention-09-traditional.pdf"
                >Invention 9 in Traditional Notation (PDF)</a
              >
            </li>
          </ul>
          <p>
            See <a href="/wiki/software/kevin-dalleys-lilypond-code/"
              >Kevin Dalley&#8217;s LilyPond Code</a
            > and his website <a href="http://kelphead.org" rel="nofollow"
              >kelphead.org</a
            > for more info.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
