---
import MnpLayoutBlog from "../../../../../layouts/MnpLayoutBlog.astro";
import { makeMetaTitle } from "../../../../../utils/utils";
---

<MnpLayoutBlog
  metaTitle={makeMetaTitle(
    "Finale NotePad 2006: Get it while you still can!",
    "Blog"
  )}
  metaDescription="A blog post about the upcoming unavailability of Finale NotePad 2006."
>
  <div id="primary">
    <div id="content" role="main">
      <nav id="nav-single">
        <h3 class="assistive-text">Post navigation</h3>
        <span class="nav-previous"
          ><a href="/blog/2008/07/our-new-domain/" rel="prev"
            ><span class="meta-nav">&larr;</span> Previous Post</a
          >
        </span>
        <span class="nav-next"
          ><a
            href="/blog/2009/02/review-of-e-m-humes-supermusicology/"
            rel="next"
            >Next Post <span class="meta-nav">&rarr;</span>
          </a>
        </span>
      </nav>

      <article
        class="post type-post status-publish format-standard hentry category-uncategorized"
      >
        <header class="entry-header">
          <h1 class="entry-title">
            Finale NotePad 2006: Get it while you still can!
          </h1>

          <div class="entry-meta">
            <span class="sep">Posted on</span>
            <time class="entry-date" datetime="2008-09-12T09:08:00+00:00"
              >September 12, 2008</time
            ><span class="by-author">
              <span class="sep"> by</span>
              <span class="author vcard"
                ><a
                  class="url fn n"
                  href="/blog/author/mnpadmin/"
                  title="View all posts by Webmaster"
                  rel="author">Webmaster</a
                >
              </span>
            </span>
          </div>
        </header>

        <div class="entry-content">
          <p>
            MakeMusic, Inc. has <a
              href="http://downloads2.makemusic.com/pdf/notepad/NP2009_Announcement.pdf"
              >announced</a
            > that in the next few weeks they will stop offering older versions of
            their <a href="http://www.finalemusic.com/notepad/"
              >Finale NotePad software</a
            > for free download from their website. (They will start charging $10
            for NotePad 2009, and offer a new free Finale Reader that has no editing
            functions.)<span id="more-487"></span>
          </p>
          <p>
            This means that anyone who might be interested in using John
            Keller&#8217;s method for transnotating traditional music notation
            into chromatic-staff notations using Finale software should go and <a
              href="http://www.finalemusic.com/store/search.aspx"
              >download NotePad 2006 right now!</a
            >
          </p>
          <p>
            NotePad 2006 was the last version with the feature that let you copy
            and then paste blank (alternative) staff styles onto existing
            (traditionally) notated music. This is the best way to transnotate
            music using Finale software. If you own the full, paid version of
            Finale, it still has this feature, but NotePad 2006 is the last of
            the free NotePad line to have it. Get it while you can!
          </p>
          <p>
            See also: <a href="/software/finale/"
              >https://musicnotation.org/software/finale/</a
            >
          </p>
          <p>
            <span style="font-weight: bold; font-style: italic;"
              >UPDATE: Notepad 2006 is no longer available from
              MakeMusic&#8217;s Finale website.</span
            >
          </p>
        </div>
      </article>

      <div id="comments">
        <h2 id="comments-title">
          2 thoughts on &ldquo;<span
            >Finale NotePad 2006: Get it while you still can!</span
          >&rdquo;
        </h2>

        <ol class="commentlist">
          <li class="comment even thread-even depth-1" id="li-comment-3">
            <article id="comment-3" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/8b7039e210face34d13b27b6a02b8202?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/8b7039e210face34d13b27b6a02b8202?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">John</span> on <a
                    href="/blog/2008/09/finale-notepad-2006-get-it/#comment-3"
                    ><time datetime="2010-08-10T16:40:30+00:00"
                      >August 10, 2010 at 4:40 pm</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>Hi</p>
                <p>
                  Could you send me the Finale Notepad 2006 software together
                  with the files you mention in your Utube conversion video
                  please.
                </p>
                <p>I would appreciate that. Preferably my email.</p>
                <p>
                  &#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;<br />
                  John Russow<br />
                  1006-1277 Nelson Street<br />
                  Vancouver, BC<br />
                  V6E 4M8
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
          <li
            class="comment odd alt thread-odd thread-alt depth-1"
            id="li-comment-4"
          >
            <article id="comment-4" class="comment">
              <footer class="comment-meta">
                <div class="comment-author vcard">
                  <img
                    alt=""
                    src="https://secure.gravatar.com/avatar/2c7676c9d47f9fd333bc6d173b1ceda8?s=68&d=mm&r=g"
                    srcset="https://secure.gravatar.com/avatar/2c7676c9d47f9fd333bc6d173b1ceda8?s=136&d=mm&r=g 2x"
                    class="avatar avatar-68 photo"
                    height="68"
                    width="68"
                    loading="lazy"
                  /><span class="fn">John Keller</span> on <a
                    href="/blog/2008/09/finale-notepad-2006-get-it/#comment-4"
                    ><time datetime="2010-08-11T05:48:21+00:00"
                      >August 11, 2010 at 5:48 am</time
                    >
                  </a>
                  <span class="says">said:</span>
                </div>
              </footer>

              <div class="comment-content">
                <p>
                  Hi John, Your email address does not appear here. Best to send
                  me a private message on YouTube with email address.
                  ExpressStaveNotation
                </p>
              </div>

              <div class="reply"></div>
            </article>
          </li>
        </ol>

        <p class="nocomments">Comments are closed.</p>
      </div>
    </div>
  </div>
</MnpLayoutBlog>
