---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Tri-Chromatic Keyboard Layout", "Wiki")}
  metaDescription="A tri-chromatic keyboard layout features an isomorphic rotating three-color pattern that highlights minor thirds and diminished chords."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Tri-Chromatic Keyboard Layout</h1>
        </header>

        <div class="entry-content">
          <p>
            Roy Pertchik designed a &#8220;Tri-Chromatic Keyboard&#8221; layout
            that he uses on a custom-built vibraphone.  It has an isomorphic,
            symmetrical, 6-6, Janko-style, layout and a rotating three-color
            pattern that highlights minor thirds and diminished chords.  He also
            has a note naming system along similar lines.  The instrument layout
            and note names were inspired by Barry Harris&#8217; approach to Jazz
            theory and harmony and are designed to complement it.
          </p>
          <p>
            Here is an image showing the isomorphic 6-6 layout with its rotating
            three-color pattern.
          </p>
          <p>
            <img
              loading="lazy"
              class="alignnone wp-image-1993 size-full"
              src="/wp-content/uploads/2014/06/tri-chromatic-keyboard-layout.png"
              alt="tri-chromatic-keyboard-layout"
              width="959"
              height="110"
              srcset="/wp-content/uploads/2014/06/tri-chromatic-keyboard-layout.png 959w, /wp-content/uploads/2014/06/tri-chromatic-keyboard-layout-300x34.png 300w, /wp-content/uploads/2014/06/tri-chromatic-keyboard-layout-500x57.png 500w"
              sizes="(max-width: 959px) 100vw, 959px"
            />
          </p>
          <p>
            The green outlines highlight one of the two scales that are central
            to the Barry Harris approach: the Maj6th/Diminished. It is formed by
            interlacing a Major 6th chord with a Dimininished chord, which
            yields a traditional major scale with a chromatic note added between
            the 5th and 6th scale degrees.  (For example, a C major scale with a
            G-sharp/A-flat note added.)  In this image the red circles are the
            Diminished chord and the other circles inside the green outlines are
            the Major 6th chord.
          </p>
          <p>
            Here are a couple of videos where Pertchik presents his vibraphone:
          </p>
          <p>
            Shorter 6 minute introduction:<br />
            <a href="http://www.youtube.com/watch?v=sGXmPzspJWI" target="_blank"
              >http://www.youtube.com/watch?v=sGXmPzspJWI</a
            >
          </p>
          <p>
            Longer presentation at Stanford University:<br />
            <a
              href="https://www.youtube.com/watch?v=wkX4YMcGw7g"
              target="_blank">https://www.youtube.com/watch?v=wkX4YMcGw7g</a
            >
          </p>
          <p>
            Here are two handouts (PDFs) from the Stanford presentation:<br />
            <a href="/wp-content/uploads/2014/06/CCRMA-Outline-02.pdf"
              >CCRMA Outline 02</a
            ><br />
            <a href="/wp-content/uploads/2014/06/I-IV-V-in-Bb.pdf"
              >I-IV-V in Bb</a
            >
          </p>
          <p>
            More on the Barry Harris approach to jazz harmony can be found in
            these two articles:<br />
            <a
              href="http://jazzworkshops.com/articles/evolutionary-voicings-part-i"
              target="_blank"
              >http://jazzworkshops.com/articles/evolutionary-voicings-part-i</a
            ><br />
            <a
              href="http://jazzworkshops.com/articles/evolutionary-voicings-part-ii"
              target="_blank"
              >http://jazzworkshops.com/articles/evolutionary-voicings-part-ii</a
            >
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
