---
import MnpLayoutWiki from "../../../../layouts/MnpLayoutWiki.astro";
import { makeMetaTitle } from "../../../../utils/utils";
---

<MnpLayoutWiki
  metaTitle={makeMetaTitle("Express Stave Nomenclature", "Wiki")}
  metaDescription="Discussion of Express Stave Nomenclature by John Keller for use with his alternative notation system of the same name."
>
  <div id="primary">
    <div id="content" role="main">
      <article class="wiki_page type-wiki_page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">Express Stave Nomenclature</h1>
        </header>

        <div class="entry-content">
          <p>
            It is useful to sometimes have unique names for the black keys on
            the piano, instead of always having to refer to them as either
            sharps or flats.
          </p>
          <p>
            John Keller&#8217;s proposal simply uses the next five letters of
            the alphabet.<img
              loading="lazy"
              src="/wp-content/uploads/2013/03/800px-Wide_and_Back_Keys_Page_1.jpg"
              alt="Wide and Back Keys Page 1.jpg"
              width="800"
              height="566"
            />
          </p>
          <p>
            The THREE-BLACK-KEY group is <strong>KLH</strong>. The middle note, <strong
              >L</strong
            > can be thought of as the &#8220;link&#8221; between one set of 7 white
            keys ABCDEFG and the next.
          </p>
          <p>
            <strong>H</strong> is on the <strong>high</strong> side of the three-black-key
            group. <strong>K</strong> is on the left (<strong>&lt;-</strong>)
            side <strong>|&lt;</strong> &#8230;
          </p>
          <p>
            The TWO BLACK KEYS are <strong>I</strong> and <strong>J</strong>,
            the two dotted letters of the alphabet. They look like two eyes, so
            the first is named <strong>I</strong>, and <strong>J</strong> is its
            &#8220;twin&#8221;.
          </p>
          <p>
            A further mnemonic is that in German terminology, B and <strong
              >H</strong
            > are swapped.
          </p>
          <p>
            In traditional notation and terminology, the black keys are called
            sharps or flats, and related to the letter-name of the white key
            they replace. Thus if the black key <strong>K</strong> is used in place
            of the white key F, then the <strong>K</strong> is called F sharp. We
            can write this as <strong>K</strong> = F#. One rule of traditional terminology
            is that every diatonic scale must use the seven letters A to G in order.
          </p>
          <p>
            One reason for proposing unique letter-names for the black keys, is
            that sometimes we may NOT want to imply which white key is being
            replaced.
          </p>
        </div>
      </article>
    </div>
  </div>
</MnpLayoutWiki>
